{% extends 'xadmin/base_site.html' %}
{% block content-nav %}
{% endblock %}
{% block content %}

<style>
form {
  padding: 0 16px 16px 16px;
}

p, label {
  height: 13px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.modal-header {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f5f5f5;
}

.modal-header .close {
  margin-top: -16px;
}

.row {
  margin: 0 0 0 0;
}

.form-group {
  padding-top: 20px;
  border-bottom: 0;
}

#details {
  width: 95%;
  background-color: #f3f3f3;
  margin: 16px 16px 16px 16px;
}
</style>

<h2 id="demo"></h2>
<!--<a href="/notification/create_message.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a new message</a>-->
{% if err_msg %}<p><strong>{{ err_msg }}</strong></p>{% endif %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">New group</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">New group</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="nav nav-tabs">
        <li id="member-group"><a data-toggle="tab" class="tab-label active" href="#membergroup">MEMBER GROUP</a></li>
        <li id="automated-messages"><a data-toggle="tab"  class="tab-label" style="width: 220px"  href="#automated-message">AUTOMATED MESSAGES</a></li>
      </ul>
      <div class="tab-content">
        <div id="membergroup" class="tab-pane active">
          <form action="{% url 'xadmin:awstopic' %}" method="post">
            {% csrf_token %}
              <div class="form-group">
                <label for="group_name">NAME</label>
                <input type="text" class="form-control" name="group_name" placeholder="Give your group a descriptive name" required>
              </div>
              <div class="row" style="margin-top: 30px">
                <strong>FILTER TO DEFINE YOUR GROUP (LEAVE BLANK TO IGNORE FILTER)</strong>
              </div>
              <div class="form-group">
                <label for="product">PRODUCT</label>
                <br/>
                <div class="btn-group">
                  <button type="button" id="product" name="product" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Select...
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li class="product-item"><a href="#">Sports</a></li>
                      <li class="product-item"><a href="#">Live Casino</a></li>
                      <li class="product-item"><a href="#">Games</a></li>
                      <li class="product-item"><a href="#">Lotto</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5" id="daystotal" style="padding-left: 0">
                    <label style="margin-left:36px">LAST ACTIVE DATE</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color:#ffffff; border: 0"><input type="radio" name="days" value="total"></span>
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">≤</span>
                      <input type="number" id="days" class="form-control" min="1">
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">Days ago</span>
                    </div>
                  </div>
                  <div class="col-md-7" id="daysrange" style="padding-left: 0">
                    <label style="margin-left:36px">LAST ACTIVE DATE</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color:#ffffff; border: 0"><input type="radio" name="days" id="range"></span>
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">From</span>
                      <input type="text" id="from_date" class="form-control" placeholder="Pick a time...">
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">To</span>
                      <input type="text" id="from_date" class="form-control" placeholder="Pick a time...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-8" style="padding-left: 0">
                    <label>REGISTRATION DATE</label>
                    <div class="input-group">
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">From</span>
                      <input type="text" id="reg-from" class="form-control" placeholder="Pick a time...">
                      <span class="input-group-addon" style="background-color:#f3f3f3; color:black">To</span>
                      <input type="text" id="reg-to" class="form-control" placeholder="Pick a time...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-check-input" type="checkbox" id="onlyactive" checked disabled>
                <label class="form-check-label" for="gridCheck">
                  Only active members (you can override this filter by adding members manually)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="onlydeposited">
                <label class="form-check-label" for="gridCheck">
                  Only members who has deposited
                </label>
              </div>
              <div class="form-group">
                <label for="vip">VIP LEVEL</label>
                <div class="dropdown">
                  <button id="vipbtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>Select...</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="vip" class="dropdown-menu">
                    <li><a href="#" class="small" data-value="ALL" tabIndex="-1"><input type="checkbox"/>&nbsp;ALL</a></li>
                    <li><a href="#" class="small" data-value="Normal" tabIndex="-1"><input type="checkbox"/>&nbsp;Normal</a></li>
                    <li><a href="#" class="small" data-value="VIP1" tabIndex="-1"><input type="checkbox"/>&nbsp;VIP1</a></li>
                    <li><a href="#" class="small" data-value="VIP2" tabIndex="-1"><input type="checkbox"/>&nbsp;VIP2</a></li>
                    <li><a href="#" class="small" data-value="VIP3" tabIndex="-1"><input type="checkbox"/>&nbsp;VIP3</a></li>
                    <li><a href="#" class="small" data-value="VIP4" tabIndex="-1"><input type="checkbox"/>&nbsp;VIP4</a></li>
                    <li><a href="#" class="small" data-value="VIP5" tabIndex="-1"><input type="checkbox"/>&nbsp;VIP5</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="risk">RISK LEVEL</label>
                <div class="dropdown">
                  <button id="riskbtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Select...
                    <span class="caret"></span>
                  </button>
                  <ul id="risk" class="dropdown-menu">
                    <li><a href="#" class="small" data-value="ALL" tabIndex="-1"><input type="checkbox"/>&nbsp;ALL</a></li>
                    <li><a href="#" class="small" data-value="E1" tabIndex="-1"><input type="checkbox"/>&nbsp;E1</a></li>
                    <li><a href="#" class="small" data-value="E2" tabIndex="-1"><input type="checkbox"/>&nbsp;E2</a></li>
                    <li><a href="#" class="small" data-value="W" tabIndex="-1"><input type="checkbox"/>&nbsp;W</a></li>
                    <li><a href="#" class="small" data-value="F" tabIndex="-1"><input type="checkbox"/>&nbsp;F</a></li>
                  </ul>
                </div>
              </div>
              <hr/>
              <div class="form-group" style="padding-top: 0">
                <p style="font-size: 14px"><strong>ADD MEMBERS MANUALLY</strong></p>
                <p>Manually added members will stay in the groups regardless of filter settings.</p>
                <p>You have added 0 members manually.</p>
                <button type="button" class="btn btn-primary">Add members</button>
              </div>
              <hr/>
              <div class="form-group" style="padding-top: 0">
                <label>Members in group</label>
                <div class="row" style="background-color:#f3f3f3">
                  <span><a href="#" data-toggle="modal" data-target="#view-group">&nbsp;{{ users }}</a></span>
                </div>
              </div>
              <div class="row">
                  <button type="submit" class="btn btn-primary">Save</button>
                  {% comment %} <button type="button" class="close" data-dismiss="modal">&times;</button> {% endcomment %}
                  <button type="reset" class="btn btn-primary">Cancel</button>
              </div>
          </form>
        </div>
        <div id="automated-message" class="tab-pane fade">
          abc
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="modal fade bd-example-modal-lg" id="view-group" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">View group</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <label>GROUP DETAILS</label>
      <table id="details">
        <tbody>
          <tr>
            <td>TBD</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> {% endcomment %}


<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>NAME</th>
    <th>MEMBERS</th>
    <th>TIMES USED</th>
    <th>CREATOR</th>
    <th>OPEN RATE</th>
    <th>EDIT</th>
    <th>VIEW</th>
  </tr>
  {% for topic in queryset %}
    <tr>
      <td>{{ topic }}</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>{{ topic.creator }}</td>
      <td>66.67%</td>
      <td><a class="btn btn-primary" href="{% url 'xadmin:awstopic' topic.pk %}" role="button" disabled>Edit</a></td>
      <td><a class="btn btn-primary" href="#" role="button" disabled><i class="fa fa-info"></i></a></td>
      <!--<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#details">
        <i class="fa fa-info"></i>
      </button></td>-->
    </tr>
    <!--<li><strong>Notification:</strong> {{ notification }}</li>-->
  {% endfor %}
</table>
<script>
$(document).ready(function() {
  var userFilter = {
    'product': null,
    'active': null,
    'active_from': null,
    'active_to': null,
    'register_from': null,
    'register_to': null,
    'deposit': false,
    'vip': null,
    'risk': null,
  }

  $('#reg-from').datepicker({
    onClose: function() {
      userFilter['register_from'] = $(this).val();
      groupFilter();
    }
  });

  $('#reg-to').datepicker({
    onClose: function() {
      userFilter['register_from'] = $(this).val();
      groupFilter();
    }
  });

  $('.product-item').click(function() {
    $("#product").html($(this).text() + '<span class="caret"></span>');
    $("#product").val($(this).text());
    userFilter['product'] = $('#product').val();
    console.log(userFilter);
    groupFilter();
  });

  $('input:radio[name="days"]').change(function() {
    if ($(this).is(':checked') && $(this).val() == 'total') {
      $('#daysrange').prop("disabled", true);
    }
  });

  $('#days').focusout(function() {
    userFilter['active'] = $(this).val();
    groupFilter()
  })

  {% comment %} $('#reg-from').close(function() {
    console.log($(this).val());
    userFilter['register_from'] = $(this).val();
  }) {% endcomment %}

  var options = [];

  $('#vip.dropdown-menu a').on('click', function(event) {
    var $target = $(event.currentTarget),
        val = $target.attr('data-value'),
        $inp = $target.find('input'),
        idx;

    if(val == "ALL") {
      if($inp.prop('checked')) {
        $('#vip li input[type=checkbox]').each(function() {
          this.checked = $inp.prop('checked');
          options.push($(this).parent().attr('data-value'));
        });
      } else {
        $('#vip li input[type=checkbox]').each(function() {
          this.checked = $inp.prop('checked');
          options.pop();
        });
      }
    } else {
      if((idx = options.indexOf(val)) > -1) {
        options.splice(idx, 1);
        // $('#vip-all').prop('checked', false);
        setTimeout(function() { $inp.prop('checked', false)}, 0);
      } else {
        options.push(val);
        setTimeout(function() { $inp.prop('checked', true)}, 0);
      }
    }
    
    
    $(event.target).blur();
    
    console.log(options)

    $("#vipbtn").html(options.length + " Selected " + '<span class="caret"></span>');

  });

  var riskOptions = [];

  $('#risk.dropdown-menu a').on('click', function(event) {
    var $target = $(event.currentTarget),
        val = $target.attr('data-value'),
        $inp = $target.find('input'),
        idx;

    if(val == "ALL") {
      var isAll = $inp.prop('checked');

      $('#risk li input[type=checkbox]').each(function() {
        this.checked = isAll;
      });
    }

    if((idx = riskOptions.indexOf(val)) > -1) {
      riskOptions.splice(idx, 1);
      setTimeout(function() { $inp.prop('checked', false)}, 0);
    } else {
      riskOptions.push(val);
      setTimeout(function() { $inp.prop('checked', true)}, 0);
    }
    
    $(event.target).blur();
    
    //console.log(options)

    $("#riskbtn").html(riskOptions.length + " Selected " + '<span class="caret"></span>');

    return false;
  });

  function groupFilter() {
    $.ajax({
      type: 'GET',
      url: "{% url 'group-filter' %}",
      data: { 
        'product': userFilter['product'],
        'active': userFilter['active'],
      },
      success:function(data) {
        console.log(data);
      }
    });
  }

});


</script>
{% endblock %}