{% extends 'xadmin/base_site.html' %}
{% block content-nav %}
{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
<style>
form {
  padding: 0 16px 16px 16px;
}

label {
  height: 13px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

thead {
  height: 12px;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

td {
  border: solid 4px #ffffff;
}

tbody>tr:nth-child(odd)>td, 
tbody>tr:nth-child(odd)>th {
   background-color: #f3f3f3;
}

.form-group {
  padding-top: 20px;
}

.modal-header {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f5f5f5;
}
.modal-header .close {
  margin-top: -16px;
}
.row {
  margin: 0 0 0 0;
}

.form-check-label {
  margin-right: 20px;
}
</style>

<div class="row">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Create a new message</button>
  <a role="button" class="btn btn-primary" href="/xadmin/audit">
    Notifications <span class="badge badge-light">{{ waiting_list }}</span>
  </a>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="mydialog" class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">New Message</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'xadmin:notification' %}" method="post" id="myform">
        {% csrf_token %}
          <div class="form-group">
            <label for="campaign">CAMPAIGN</label>
            <select name="campaign" class="form-control">
              <option selected disabled hidden>SELECT CAMPAIGN...</option>
              <option value="CAMPAIGN1">CAMPAIGN1</option>
              <option value="CAMPAIGN2">CAMPAIGN2</option>
              <option value="CAMPAIGN3">CAMPAIGN3</option>
            </select>
          </div>
          <!--<div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" name="notifiers" placeholder="Enter ID, username, name, phone or email..." required>
              <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </div>-->
          <div class="form-group">
            <label for="notifiers">SEND TO</label>
            <select id="notifiers" name="notifiers" class="form-control" multiple>
              <option selected disabled hidden>Choose a notifier...</option>
              {% for user in all_user %}
              <option value="{{ user.id }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="subject">MESSAGE SUBJECT</label>
            <input type="text" class="form-control" name="subject" placeholder="Subject..." required>
          </div>
          <!--<div class="form-group">
            <label for="subject">SEND TO</label>
            <input type="text" class="form-control" name="subject" data-role="tagsinput">
          </div>-->
          <div class="form-group">
            <label for="tags">CONTENT</label>
            <textarea name="content_text" id="editor" rows="30">This is some sample content.</textarea>
          </div>
          <!--<div class="form-group">
            <label for="auditor">Auditor</label>
            <select name="auditor" class="form-control">
              <option selected disabled hidden>Choose an auditor...</option>
              {% for auditor in auditors %}
              <option value="{{ auditor.id }}">{{ auditor }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="notification_choice">Notification Choice</label>
            <select id="notification_choice" name="notification_choice" class="form-control" onchange="showUser()">
              <option selected disabled hidden>Choose a notification range...</option>
              <option value="U">Unicast</option>
              <option value="M">Multicast</option>
              <option value="B">Broadcast</option>
            </select>
          </div>
          <div class="form-group" id="usrlist" hidden>
            <label for="notifiers">User List</label>
            <select id="notifiers" name="notifiers" class="form-control">
              <option selected disabled hidden>Choose a notifier...</option>
              {% for user in all_user %}
              <option value="{{ user.id }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group" id="topiclist" hidden>
            <label for="topic">Group List</label>
            <select id="topic" name="topic" class="form-control">
              <option selected disabled hidden>Choose a notification type...</option>
              {% for topic in topics %}
              <option value="{{ topic.pk}}">{{ topic }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="publishOn" class="col-2 col-form-label">Publish On</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local" value="" id="publishOn">
            </div>
          </div>-->
          <div class="form-group">
            <label for="notification_method" class="col-2 col-form-label">Notification Methods</label>
            <div class="form-check row">
              <input class="form-check-input" type="checkbox" name="direct_check">
              <label class="form-check-label" for="direct_check">
                  Direct Message
              </label>
              <input class="form-check-input" type="checkbox" name="email_check">
              <label class="form-check-label" for="email_check">
                  Email
              </label>
              <input class="form-check-input" type="checkbox" name="SMS_check">
              <label class="form-check-label" for="SMS_check">
                  SMS
              </label>
              <input class="form-check-input" type="checkbox" name="push_check">
              <label class="form-check-label" for="push_check">
                  Push Notification
              </label>
            </div>
          </div>
          <!--<div class="row" style="border: 1px solid">
            <button type="button" class="btn btn-secondary" id="italic"><i class="fa fa-italic"></i></button>
            <button type="button" class="btn btn-secondary" id="bold"><i class="fa fa-bold"></i></button>
            <button type="button" class="btn btn-secondary" id="underline"><i class="fa fa-underline"></i></button>
            <label class="btn btn-secondary btn-file">
              <i class="fa fa-apple"></i><input type="file" style="display: none;">
            </label>
            <button type="button" class="btn btn-secondary" id=""><i class="fa fa-windows"></i></button>
          </div>-->
          <button type="submit" class="btn btn-primary">Create Message</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
        </form>
      </div>
    </div>
  </div>
<div class="row">
  <div class='col-md-3'>
    <div class="input-group">
      <input type="text" id="search" class="form-control" placeholder="Enter member, campaign, bouns, keyword..." >
      <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span>
    </div>
  </div>
</div>
<div class="col-md-3">
    {% if searchError %}
        <div style="margin-top: 12%;color: red;">{{ searchError }}</div>
    {% endif %}
</div>
    <!-- <div class='col-md-8'> -->
        <!-- {% block time_search %} -->
        <!-- <label>Date Range</label>
        <div class="row">
            <div class='col-md-4'>
                <div class='input-group date' id='user_list_time_from'>
                    <input type='text' class="form-control" placeholder="From" id='user_list_time_from_input' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='input-group date' id='user_list_time_to'>
                    <input type='text' class="form-control" placeholder="To"  id='user_list_time_to_input'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-4'>
                <button id="user_list_time_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div> -->
        <!-- {% endblock %} -->
    <!-- </div> -->

<div style="margin-top:40px;">
  <ul class="nav nav-tabs">
    <li class="active" id="sent-messages"><a data-toggle="tab" class="tab-label" href="#sent-message">SENT MESSAGES</a></li>
    <li id="automated-messages"><a data-toggle="tab"  class="tab-label" style="width: 220px"  href="#automated-message">AUTOMATED MESSAGES</a></li>
    <li id="drafts"><a data-toggle="tab"  class="tab-label" href="#draft">DRAFTS</a></li>
  </ul>
  <div class="tab-content">
    <div id="sent-message" class="tab-pane fade in active">
      <table>
        <thead class="thead-dark">
          <tr>
            <th style="width: 3%;">ID</th>
            <th style="width: 20%;">SUBJECT</th>
            <th style="width: 10%;">CAMPAIGN</th>
            <th style="width: 12%;">SENT TO</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 15%;">SENT TIME</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 5%;">SENT</th>
            <th style="width: 5%;">OPENED</th>
            <th style="width: 5%;">OPEN RATE</th>
            <th style="width: 7%;">BONUS CTR</th>
          </tr>
        </thead>
        <tbody>
          {% for notification in notifications %}
            <tr>
              <td>{{ notification.pk }}</td>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              {% if notification.notifiers %}
              {% comment %} <td><a href="{% url 'xadmin:user_detail' notification.notifiers.id %}">{{ notification.notifiers }}</a></td> {% endcomment %}
              <td>{{ notification.sent_count }}</td>
              {% else %}
              <td>{{ notification.topic }}</td>
              {% endif %}
              <td>BONUS</td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ notification.sent_count }}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td><a class="btn btn-primary" href="{% url 'xadmin:notification_detail' notification.pk %}" role="button"><i class="fa fa-search"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="automated-message" class="tab-pane fade">
      <!--<table>
        <thead class="thead-dark">
          <tr>
            <th style="width: 15%;">SUBJECT</th>
            <th style="width: 10%;">CAMPAIGN</th>
            <th style="width: 12%;">GROUP</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 25%;">CREATED</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 5%;">SENT</th>
            <th style="width: 5%;">OPENED</th>
            <th style="width: 5%;">OPEN RATE</th>
          </tr>
        </thead>
        <tbody id='user_list_tbody'>
          {% for notification, info in notifications %} 
            <tr>
              <td>{{ notification.pk }}</td>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              {% if notification.notifiers %}
              <td><a href="% url 'xadmin:user_detail' notification.pk %}">{{ notification.message.notifiers }}</a></td>
              {% else %}
              <td>{{ notification.topic }}</td>
              {% endif %}
              <td>BONUS</td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ info }}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td><a class="btn btn-primary" href="#" role="button">EDIT</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>-->
    </div>
    <div id="draft" class="tab-pane fade">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 25%;">SUBJECT</th>
            <th style="width: 15%;">CAMPAIGN</th>
            <th style="width: 15%;">GROUP</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 15%;">CREATED</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 12%;">STATUS</th>
          </tr>
        </thead>
        <tbody id='user_list_tbody'>
          {% for notification in drafts %} 
            <tr>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              <td>{{ notification.topic }}</td>
              <td>{{ notification.bonus }}</td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ notification.status }}</td>
              <td><a class="btn btn-primary" href="#" role="button">EDIT</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row user-list-control-group">
    <!-- <div class="bottom-align-text"> -->
    <div class='col-md-9' style="margin-right: 70px"></div>
    <div class='col-md-1' style="width:10%">
        <div>SHOW ROWS</div>
        <select id="pagination_value"  class="form-control">
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>
    </div>
    <div class='col-md-1'>
      <div>&nbsp;</div>
      <ul class="pagination" style="margin:0px;">
          {% if isFirstPage is True %}
              <li class="page-item disabled" id='previousPage'>
              <a class="page-link" href="javascript:getPrevious();"><i class='fas fa-caret-left'></i></a>
              </li>
          {% else %}
              <li class="page-item " id='perviousPage'>
                  <a class="page-link" href="javascript:getPervious();"><i class='fas fa-caret-left'></i></a>
              </li>
          {% endif %}
          {% if isLastPage is True %}
              <li class="page-item disabled" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
          {% else %}
              <li class="page-item" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
          {% endif %}
      </ul>
    </div>
  </div>

<!--<div class="form-group">
  <label for="test">Test</label>
  <input type="text" class="form-control" id="test" data-role="tagsinput">
</div>-->


<script>
$(document).ready(function() {
  ClassicEditor
  .create( document.querySelector( '#editor' ) )
  .then( editor => {
    console.log( editor );
  } )
  .catch( error => {
    console.error( error );
  } );

/*// Instantiate the Bloodhound suggestion engine
var movies = new Bloodhound({
  datumTokenizer: function (datum) {
    return Bloodhound.tokenizers.whitespace(datum.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: 'http://api.themoviedb.org/3/search/movie?query=%QUERY&api_key=f22e6ce68f5e5002e71c20bcba477e7d',
    filter: function (movies) {
      // Map the remote source JSON array to a JavaScript object array
      return $.map(movies.results, function (movie) {
          return {
              value: movie.original_title
          };
      });
    }
  }
});

// Initialize the Bloodhound suggestion engine
movies.initialize();

// Instantiate the Typeahead UI
$('.typeahead').typeahead(null, {
  displayKey: 'value',
  source: movies.ttAdapter()
});
*/

$( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });

  $("#tags").autocomplete({
    appendTo: "#mydialog"
  });

$("#search").on('keyup', function () {
  if( this.value.length < 2 ) return;
    searchOpen();
});

function searchOpen() {
    var search = $('#search').val();
    var url = "{% url 'notification-search' %}" + "?search=" + search;
    $.ajax({
        url: url,
        type: 'GET',
        success: function (data) {
            searchResult(data, search);
        },
        error: function () {
            // console.log('error');
        }
    });
}

function searchResult(data, term) {
  var subject = data['subject'];
  // var usernames = data['body'];

  var sourceList = [];

  if (subject.length > 0) {
    sourceList.push({
      'type': 'category',
      'label': term,
      'value': 'MESSAGE RESULTS'
    });
    for (var i = 0; i < subject.length; i++) {
      sourceList.push({
        'type': 'subject',
        'label': term,
        'value': subject[i]['subject'],
      });
    }
  }
  $( "#search" ).autocomplete({
    source: sourceList,
    create: function () {
      $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
        if (item.type === 'category') {
          return $('<li class="ui-state-disabled search-result" style="margin: 0px 13px;">')
          .append(item.value)
          .appendTo(ul);
          // ul.append("<li class='ui-autocomplete-group'>" + item.value + "</li>");
        } else {
          //var url = "{% url 'xadmin:user_detail' 123 %}".replace('123', item.id);
          var url = "#"
          if (item.type == 'subject') {
            return $('<li>')
            .append('<div style="margin: 0px 13px; color:blue;"><a href="' + url + '"><i class="fa fa-envelope" style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
            .appendTo(ul);
          }
        }
      };
      
    }
  });
}

  getNext = function() {
      if ($('#nextPage').hasClass('disabled')) {
          return;
      }
      var pageSize = paramsMap['pageSize'];
      var oldFromItem = paramsMap['offset'];
      var newFromItem = Number(oldFromItem) + Number(pageSize);
      var block = paramsMap['block'];
      
      window.location.href = getUserListRedirectUrl(pageSize, newFromItem, block, "");
  }

  getPervious = function () {
      if ($('#perviousPage').hasClass('disabled')) {
          return;
      }
      var pageSize = paramsMap['pageSize'];
      var oldFromItem = paramsMap['offset'];
      var newFromItem = Number(oldFromItem) - Number(pageSize);
      var block = paramsMap['block'];
      
      window.location.href = getUserListRedirectUrl(pageSize, newFromItem, block, "");
  }

/*
function showUser() {
  var nchoice = document.getElementById("notification_choice");
  var userlist = document.getElementById("usrlist");
  if(nchoice.value == "U") {
    userlist.hidden = false;
  } else {
    document.getElementById("notifiers").selectedIndex = "0";
    userlist.hidden = true;
  }

  var topiclist = document.getElementById("topiclist");
  if(nchoice.value == "M") {
    topiclist.hidden = false;
  } else {
    document.getElementById("topic").selectedIndex = "0";
    topiclist.hidden = true;
  }
}
*/
});


</script>
{% comment %} You have visited this page {{ num_visits }} times. {% endcomment %}

{% endblock %}