{% extends 'xadmin/base_site.html' %}
{% block content-nav %}
{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<style>
form {
  padding: 0 16px 16px 16px;
}

label {
  height: 13px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

thead {
  height: 12px;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

td {
  border: solid 4px #ffffff;
}

tbody>tr:nth-child(odd)>td, 
tbody>tr:nth-child(odd)>th {
   background-color: #f3f3f3;
}

.form-group {
  padding-top: 20px;
}

.modal-header {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f5f5f5;
}

.modal-header .close {
  margin-top: -16px;
}

.row {
  margin: 0 0 0 0;
}

.form-check-label {
  margin-right: 20px;
}

#editor {
  height: 393px;
  border: solid 1px;
}
</style>

<div class="row">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">New message</button>
  <a role="button" class="btn btn-primary" href="/xadmin/audit">
    Notifications <span class="badge badge-light">{{ waiting_list }}</span>
  </a>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="mydialog" class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">New Message</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'xadmin:notification' %}" method="post" id="myform">
        {% csrf_token %}
          <div class="form-group">
            <label for="campaign">CAMPAIGN</label>
            <select name="campaign" class="form-control">
              <option>SELECT CAMPAIGN...</option>
              <option value="CAMPAIGN1">CAMPAIGN1</option>
              <option value="CAMPAIGN2">CAMPAIGN2</option>
              <option value="CAMPAIGN3">CAMPAIGN3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="notifiers">SEND TO</label>
            <select id="notifiers" name="notifiers" class="form-control" multiple>
              <option selected disabled hidden>Choose a notifier...</option>
              {% for user in all_user %}
              <option value="{{ user.id }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="subject">MESSAGE SUBJECT</label>
            <input type="text" class="form-control" name="subject" placeholder="Subject..." required>
          </div>
          <div class="form-group">
            <label for="tags">MESSAGE BODY</label>
            <textarea name="content_text" id="editor" rows="30">This is some sample content.</textarea>
          </div>
          {% comment %} <div class="form-group">
            <label for="content">MESSAGE BODY</label>
            <div name="content_text" id="content" class="row" contenteditable="true">
              This text can be edited by the user.
            </div>
            <div class="row" style="border: 1px solid">
              <button type="button" class="btn btn-secondary" id="italic"><i class="fa fa-italic"></i></button>
              <button type="button" class="btn btn-secondary" id="bold"><i class="fa fa-bold"></i></button>
              <button type="button" class="btn btn-secondary" id="underline"><i class="fa fa-underline"></i></button>
              <!--<label class="btn btn-secondary btn-file">
                <i class="fa fa-apple"></i><input type="file" style="display: none;">
              </label>-->
              <button type="button" class="btn btn-secondary" id="" disabled><i class="far fa-image"></i></button>
              <button type="button" class="btn btn-secondary" id="" disabled><i class="fas fa-percentage"></i></button>
            </div>
          </div>
          <div class="form-group" id="topiclist" hidden>
            <label for="topic">Group List</label>
            <select id="topic" name="topic" class="form-control">
              <option selected disabled hidden>Choose a notification type...</option>
              {% for topic in topics %}
              <option value="{{ topic.pk}}">{{ topic }}</option>
              {% endfor %}
            </select>
          </div>{% endcomment %}
          <div class="form-group">
            <label for="notification_method" class="col-2 col-form-label">Notification Methods</label>
            <div class="form-check row">
              <input class="form-check-input" type="checkbox" name="direct_check">
              <label class="form-check-label" for="direct_check">
                  Direct Message
              </label>
              <input class="form-check-input" type="checkbox" name="email_check">
              <label class="form-check-label" for="email_check">
                  Email
              </label>
              <input class="form-check-input" type="checkbox" name="SMS_check">
              <label class="form-check-label" for="SMS_check">
                  SMS
              </label>
              <input class="form-check-input" type="checkbox" name="push_check">
              <label class="form-check-label" for="push_check">
                  Push Notification
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Create Message</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
        </form>
      </div>
    </div>
  </div>
<div class="row" style="margin-top: 36px">
  <div class='col-md-4' style="padding-left: 0">
    <div class="input-group">
      <input type="text" id="search" class="form-control" placeholder="Enter member, campaign, bouns, keyword...">
      <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span>
    </div>
  </div>
  <div class='col-md-2' style="padding-left: 0">
  </div>
  <div class='col-md-6'>
    <!-- {% block time_search %} -->
    {% comment %} <label>Date Range</label> {% endcomment %}
    <div class="row">
        <div class='col-md-5'>
            <div class='input-group'>
              <input type='text' class="form-control" placeholder="From" id='notification_time_from' />
                {% comment %} <input type='date' class="form-control" placeholder="From"> {% endcomment %}
            </div>
        </div>
        <div class='col-md-5'>
            <div class='input-group'>
              <input type='text' class="form-control" placeholder="To"  id='notification_time_to'/>
            </div>
        </div>
        <div class='col-md-2'>
            <button id="date-search-btn" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            {% comment %} <span id="date-search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span> {% endcomment %}
        </div>
    </div>
      <!-- {% endblock %} -->
    </div>
</div>
<div class="col-md-3">
    {% if searchError %}
        <div style="margin-top: 12%;color: red;">{{ searchError }}</div>
    {% endif %}
</div>


<div style="margin-top:40px;">
  <ul class="nav nav-tabs">
    <li id="sent-messages"><a data-toggle="tab" class="tab-label" href="#sent-message">SENT MESSAGES</a></li>
    <li id="automated-messages"><a data-toggle="tab"  class="tab-label" style="width: 220px"  href="#automated-message">AUTOMATED MESSAGES</a></li>
    <li id="drafts"><a data-toggle="tab"  class="tab-label" href="#draft">DRAFTS</a></li>
  </ul>
  <div class="tab-content">
    <div id="sent-message" class="tab-pane fade">
      <table>
        <thead class="thead-dark">
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 20%;">SUBJECT</th>
            <th style="width: 10%;">CAMPAIGN</th>
            <th style="width: 12%;">SENT TO</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 15%;">SENT TIME</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 5%;">SENT</th>
            <th style="width: 5%;">OPENED</th>
            <th style="width: 5%;">OPEN RATE</th>
            <th style="width: 7%;">BONUS CTR</th>
          </tr>
        </thead>
        <tbody>
          {% for notification in notifications %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              {% if notification.notifiers %}
              {% comment %} <td><a href="{% url 'xadmin:user_detail' notification.notifiers.id %}">{{ notification.notifiers }}</a></td> {% endcomment %}
              <td>{{ notification.sent_count }}</td>
              {% else %}
              <td>{{ notification.topic }}</td>
              {% endif %}
              <td><i class="far fa-money-bill-alt"></i></td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ notification.sent_count }}</td>
              <td>{{ notification.open }}</td>
              <td>{{ notification.rate }}</td>
              <td>N/A</td>
              <td><a class="btn btn-primary" href="{% url 'xadmin:notification_detail' notification.pk %}" role="button"><i class="fa fa-search"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="automated-message" class="tab-pane fade">
      <table>
        <thead class="thead-dark">
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 20%;">SUBJECT</th>
            <th style="width: 10%;">CAMPAIGN</th>
            <th style="width: 12%;">GROUP</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 15%;">CREATED</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 5%;">SENT</th>
            <th style="width: 5%;">OPENED</th>
            <th style="width: 5%;">OPEN RATE</th>
            <th style="width: 7%;">BONUS CTR</th>
          </tr>
        </thead>
        <tbody>
          {% for notification in auto_messages %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              <!--<td>{{ notification.sent_count }}</td>-->
              <td>GROUP</td>
              <td>BONUS</td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ notification.sent_count }}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td><a class="btn btn-primary" href="{% url 'xadmin:notification_detail' notification.pk %}" role="button"><i class="fa fa-search"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="draft" class="tab-pane fade">
      <table>
        <thead class="thead-dark">
          <tr>
            <th style="width: 25%;">SUBJECT</th>
            <th style="width: 15%;">CAMPAIGN</th>
            <th style="width: 15%;">GROUP</th>
            <th style="width: 5%;">BONUS</th>
            <th style="width: 15%;">CREATED</th>
            <th style="width: 13%;">AUTHOR</th>
            <th style="width: 12%;">STATUS</th>
          </tr>
        </thead>
        <tbody id='user_list_tbody'>
          {% for notification in notifications %} 
            <tr>
              <td>{{ notification.subject }}</td>
              <td>{{ notification.campaign }}</td>
              <td>{{ notification.topic }}</td>
              <td>{{ notification.bonus }}</td>
              <td>{{ notification.publish_on }}</td>
              <td>{{ notification.creator }}</td>
              <td>{{ notification.status }}</td>
              <td><a class="btn btn-primary" href="#" role="button">EDIT</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row user-list-control-group">
  <div class='col-md-9' style="margin-right: 70px"></div>
  <div class='col-md-1' style="width:10%">
    <div>SHOW ROWS</div>
    <select id="pagination_value"  class="form-control">
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="250">250</option>
    </select>
  </div>
  <div class='col-md-1'>
    <div>&nbsp;</div>
    <ul class="pagination" style="margin:0px;">
        {% if notifications.has_previous  %}
            <li class="page-item " id='previousPage'>
              <a class="page-link" href="javascript:getPrevious();"><i class='fas fa-caret-left'></i></a>
            </li>
        {% else %}
            <li class="page-item disabled" id='previousPage'>
              <a class="page-link" href="javascript:getPrevious();"><i class='fas fa-caret-left'></i></a>
            </li>
        {% endif %}
        {% if notifications.has_next %}
            <li class="page-item" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
        {% else %}
            <li class="page-item disabled" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
        {% endif %}
    </ul>
  </div>
</div>

<script>
/*
// Instantiate the Bloodhound suggestion engine
var movies = new Bloodhound({
  datumTokenizer: function (datum) {
    return Bloodhound.tokenizers.whitespace(datum.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: 'http://api.themoviedb.org/3/search/movie?query=%QUERY&api_key=f22e6ce68f5e5002e71c20bcba477e7d',
    filter: function (movies) {
      // Map the remote source JSON array to a JavaScript object array
      return $.map(movies.results, function (movie) {
          return {
              value: movie.original_title
          };
      });
    }
  }
});

// Initialize the Bloodhound suggestion engine
movies.initialize();

// Instantiate the Typeahead UI
$('.typeahead').typeahead(null, {
  displayKey: 'value',
  source: movies.ttAdapter()
});

$( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });

  $("#tags").autocomplete({
    appendTo: "#mydialog"
  });
*/

$(document).ready(function() {
  var previousURL = document.referrer;
  // parse url
  paramsMap = {
      'search': '',
      'from': '',
      'to': '',
      'pageSize': 20,
      'offset': 1,
      'tab': 2
  };

  var parsedUrl = new URL(window.location.href);
  if (parsedUrl.searchParams.get("search") !== null) {
      paramsMap['search'] = parsedUrl.searchParams.get("search");
  }
  if (parsedUrl.searchParams.get("from") !== null) {
      paramsMap['from'] = parsedUrl.searchParams.get("from");
  }
  if (parsedUrl.searchParams.get("search") !== null) {
      paramsMap['to'] = parsedUrl.searchParams.get("to");
  }
  if (parsedUrl.searchParams.get("pageSize") !== null) {
      paramsMap['pageSize'] = Number(parsedUrl.searchParams.get("pageSize"));
  }
  if (parsedUrl.searchParams.get("offset") !== null) {
      paramsMap['offset'] = Number(parsedUrl.searchParams.get("offset"));
  }
  if (parsedUrl.searchParams.get("tab") !== null) {
      paramsMap['tab'] = Number(parsedUrl.searchParams.get("tab"));
  }

  if (parsedUrl.searchParams.get("tab") == 0) {
    $("#automated-messages").addClass('active');
    $("#automated-message").addClass('tab-pane fade in active');
    $("#sent-messages").removeClass('active');
    $("#sent-message").removeClass('tab-pane fade in active');
    $("#sent-message").addClass('tab-pane fade');
    $("#drafts").removeClass('active');
    $("#draft").removeClass('tab-pane fade in active');
    $("#draft").addClass('tab-pane fade');
  } else if(parsedUrl.searchParams.get("tab") == 1) {
    $("#drafts").addClass('active');
    $("#draft").addClass('tab-pane fade in active');
    $("#automated-messages").removeClass('active');
    $("#automated-message").removeClass('tab-pane fade in active');
    $("#automated-message").addClass('tab-pane fade');
    $("#sent-messages").removeClass('active');
    $("#sent-message").removeClass('tab-pane fade in active');
    $("#sent-message").addClass('tab-pane fade');
  } else {
    $("#sent-messages").addClass('active');
    $("#sent-message").addClass('tab-pane fade in active')
    $("#automated-messages").removeClass('active');
    $("#automated-message").removeClass('tab-pane fade in active');
    $("#automated-message").addClass('tab-pane fade');
    $("#drafts").removeClass('active');
    $("#draft").removeClass('tab-pane fade in active');
    $("#draft").addClass('tab-pane fade');
  }

  $("a[data-toggle='tab']").click(function() {
    var active = $(this).attr("href");
    if (active == "#sent-message") {
      paramsMap['tab'] = 2;
    } else if (active == "#draft") {
        paramsMap['tab'] = 1;
    } else {
        paramsMap['tab'] = 0;
    }
    var pageSize = paramsMap['pageSize'];

    var tab = paramsMap['tab'];
    
    window.location.href = getUserListRedirectUrl(pageSize, 1, tab, "", "", "");
  });

  $('#pagination_value').val(paramsMap['pageSize']);

  $('#search').val(paramsMap['search']);

  $('#notification_time_from').datetimepicker({date: paramsMap['from']});

  $('#notification_time_to').datetimepicker({date: paramsMap['to']});
  
  $('#italic').click(function() {
    document.execCommand('italic');
  });

  $('#bold').click(function() {
    document.execCommand('bold');
  });

  $('#underline').click(function() {
    document.execCommand('underline');
  });

  // CKEditor
  ClassicEditor
  .create( document.querySelector( '#editor' ) )
  .then( editor => {
    console.log( editor );
  } )
  .catch( error => {
    console.error( error );
  } );

  $('#pagination_value').change(function() {
    var pageSize = this.value;
    var offset = paramsMap['offset'];
    var tab = paramsMap['tab'];
    var search = paramsMap['search'];
    var t_from = paramsMap['from'];
    var t_to = paramsMap['to'];
    window.location.href = getUserListRedirectUrl(pageSize, 1, tab, search, t_from, t_to);
  });

  $("#search-btn").click(function() {
    var pageSize = $("#pagination_value").val();
    var search = $('#search').val();
    var tab = paramsMap['tab'];
    var t_from = paramsMap['from'];
    var t_to = paramsMap['to'];
    window.location.href = getUserListRedirectUrl(pageSize, 1, tab, search), t_from, t_to;
  });

  $("#search").on('keyup', function () {
    if( this.value.length < 2 ) return;
      searchOpen();
  });

  $(function () {
    $('#notification_time_from').datetimepicker();
    $('#notification_time_to').datetimepicker();
  });

  $("#date-search-btn").click(function() {
    var time_from = $('#notification_time_from').val();
    time_from = moment(time_from).format('YYYY-MM-DD HH:mm');
    console.log(time_from);
    // time_from = time_from.format('YYYY-MM-DD HH:mm');
    var time_to = $('#notification_time_to').val();
    time_to = moment(time_to).format('YYYY-MM-DD HH:mm');
    console.log(time_to);

    var search = $('#search').val();
    var pageSize = $("#pagination_value").val();
    var tab = paramsMap['tab'];
    window.location.href = getUserListRedirectUrl(pageSize, 1, tab, search, time_from, time_to);    

  /*
    $.ajax({
      type:'GET',
      url:"{% url 'xadmin:notification' %}",
      data:{ 
        'type': 'user_list_time_range_filter',
        'from': time_from,
        'to': time_to
      },
      success:function(data) {
        console.log(data);
        //getUserList(data);
      }
    });*/
  });

  function searchOpen() {
    var search = $('#search').val();
    var tab = paramsMap['tab'];
    var url = "{% url 'notification-search' %}" + "?search=" + search + "&tab=" + tab;
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        searchResult(data, search);
      },
      error: function () {
        // console.log('error');
      }
    });
  }

  function searchResult(data, term) {
    var subject = data['subject'];
    // var content = data['body'];

    var sourceList = [];

    if (subject.length > 0) {
      sourceList.push({
        'type': 'category',
        'label': term,
        'value': 'MESSAGE RESULTS'
      });
      for (var i = 0; i < subject.length; i++) {
        sourceList.push({
          'type': 'subject',
          'label': term,
          'value': subject[i]['subject'],
        });
      }
    }
    /*
    if (content.length > 0) {
      sourceList.push({
        'type': 'category',
        'label': term,
        'value': 'MESSAGE RESULTS'
      });
      for (var i = 0; i < content.length; i++) {
        sourceList.push({
          'type': 'message body',
          'label': term,
          'value': content[i]['body'],
        });
      }
    }
    */
    $( "#search" ).autocomplete({
      source: sourceList,
      create: function () {
        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
          if (item.type === 'category') {
            return $('<li class="ui-state-disabled search-result" style="margin: 0px 13px;">')
            .append(item.value)
            .appendTo(ul);
            // ul.append("<li class='ui-autocomplete-group'>" + item.value + "</li>");
          } else {
            //var url = "{% url 'xadmin:user_detail' 123 %}".replace('123', item.id);
            var url = ""
            if (item.type == 'subject') {
              return $('<li>')
              .append('<div style="margin: 0px 13px; color:blue;"><a href="' + url + '"><i class="fa fa-envelope" style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
              .appendTo(ul);
            }
          }
        };
      }
    });
  }

  getNext = function() {
    if ($('#nextPage').hasClass('disabled')) {
        return;
    }
    var pageSize = paramsMap['pageSize'];
    var oldFromItem = paramsMap['offset'];
    // var newFromItem = Number(oldFromItem) + Number(pageSize);
    var newFromItem = Number(oldFromItem) + 1;
    var tab = paramsMap['tab'];
    var search = paramsMap['search'];
    var t_from = paramsMap['from'];
    var t_to = paramsMap['to'];
    
    window.location.href = getUserListRedirectUrl(pageSize, newFromItem, tab, search, t_from, t_to);
  }

  getPrevious = function () {
      if ($('#previousPage').hasClass('disabled')) {
          return;
      }
      var pageSize = paramsMap['pageSize'];
      var oldFromItem = paramsMap['offset'];
      // var newFromItem = Number(oldFromItem) - Number(pageSize);
      var newFromItem = Number(oldFromItem) - 1;
      var tab = paramsMap['tab'];
      var search = paramsMap['search'];
      var t_from = paramsMap['from'];
      var t_to = paramsMap['to'];
      
      window.location.href = getUserListRedirectUrl(pageSize, newFromItem, tab, search, t_from, t_to);
  }
});

function getUserListRedirectUrl(pageSize, offset, tab, search, t_from, t_to) {
  var curUrl = window.location.href;
  var parts = curUrl.split('?');

  console.log(parts);
  
  var redirectUrl = parts[0]; 
  redirectUrl += '?search=' + search;
  redirectUrl += '&from=' + t_from;
  redirectUrl += '&to=' + t_to;
  redirectUrl += "&pageSize=" + pageSize;
  redirectUrl += '&offset=' + offset;
  redirectUrl += '&tab=' + tab;

  return redirectUrl;
}

</script>
{% comment %} You have visited this page {{ num_visits }} times. {% endcomment %}

{% endblock %}