{% extends "xadmin/base_site.html" %}
{% load staticfiles%}

{% block content-nav %}
{% endblock %}

{% block content %}
<div id="supplier-table">
    <table>
        <thead>
            <tr>
                <th scope="col">METHOD</th>
                <th scope="col">CHANNEL</th>
                <th scope="col">SUPPLIERS</th>
                <th scope="col">TYPE</th>
                <th scope="col">MIN  NO.</th>
                <th scope="col">REF NO.</th>
                <th scope="col">APPLICATION TIME</th>
                <th scope="col">BANK</th>
                <th scope="col">ACCOUNT</th>
                <th scope="col">APPLY AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            {% for psp in suppliers %}
                <tr>
                    <td>{{ psp.method }}</td>
                    <td>{{ psp.channel }}</td>
                    <td>{{ psp.supplier }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        var csrftoken = $.cookie("csrftoken")

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    })
</script>

{% endblock %}