{% extends "xadmin/base_site.html" %}
{% load humanize %}
{% load staticfiles%}

{% block content-nav %}
{% endblock %}

{% block content %}
<div id="supplier-table">
    <table id="suppliers" class="datatable table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">METHOD</th>
                <th scope="col">CHANNEL</th>
                <th scope="col">SUPPLIER</th>
                <th scope="col">TYPE</th>
                <th scope="col">MARKET</th>
                <th scope="col">MIN AMOUNT</th>
                <th scope="col">MAX AMOUNT</th>
                <th scope="col">FLAT FEE</th>
                <th scope="col">% FEE</th>
                <th scope="col">REQUIRED VERIFICATIONS</th>
                <th scope="col">SCHEDULED DOWNTIME</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for psp in suppliers %}
                <tr>
                    <td>{{ psp.method }}</td>
                    <td>{{ psp.channel }}</td>
                    <td>{{ psp.supplier|default:'' }}</td>
                    <!-- <td>Deposit</td> -->
                    <td>{{ psp.min_amount|intcomma }}</td>
                    <td>{{ psp.max_amount|intcomma }}</td>
                    <td>{{ psp.get_market_display }}</td>
                    <td>{{ psp.transaction_fee }}</td>
                    <td>{{ psp.transaction_fee_per }}</td>
                    <td>{{ psp.get_market_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        var csrftoken = $.cookie("csrftoken")

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    })
</script>

{% endblock %}