{% extends "xadmin/base_site.html" %}  # navigation side bar
{% load staticfiles%}  # import css / other static files

{% block content-nav %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Deposits
        </h2>
    </div>
    <div class="panel-body">
        <!-- search bar and time filter -->
        <div class="row">
            <div class='col-md-4'>
                <div class="input-group">
                    <input type=" text" id="search" class="form-control"
                        placeholder="Enter user ID, username or transaction number">
                    <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span
                            class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class='col-md-2' style="float: right">
                <div class='input-group date' id='deposit_time_to'>
                    <input type='text' class="form-control" placeholder="To" id='max' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-2' style="float: right">
                <div class='input-group date' id='deposit_time_from'>
                    <input type='text' class="form-control" placeholder="From" id='min' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>

        <!-- four nav tab: PENDING, SUCCESS, FAILED, CANCELLED -->
        <div class="nav-bar" style="width:99%">
            <nav>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#pending" role="tab"
                            aria-controls="pending" aria-selected="true">PENDING ({{ pending_tran|length }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#success" role="tab"
                            aria-controls="success" aria-selected="false">SUCCESS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#failed" role="tab"
                            aria-controls="failed" aria-selected="false">FAILED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cancelled" role="tab"
                            aria-controls="cancelled" aria-selected="false">CANCELLED</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="tab-content datatable" id="myTabContent">
            <!-- PENDING TABLE -->
            <div class="tab-pane fade in active" id="pending" role="tabpanel" aria-labelledby="home-tab"
                style="margin-bottom: 50px;">
                <table id="pending_table" class="table-striped table-bordered hover compact"
                    style="width:97%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">PAYMENT</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">BANK</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col" style="display: none">pk</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                    </thead>
                    <tbody id="pending_deposit_data">
                        {% for tran in pending_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.user_id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.payment }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.amount }}</td>
                            <td style="display: none">{{ tran.pk }}</td>
                            <td>{{ tran.status }}</td>
                            <td><button id="edit-pending-detail-btn" type="button" data-toggle="modal"
                                    data-target="#audit_deposit">Audit</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- SUCCESS TABLE -->
            <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="success_deposit_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">PAYMENT</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">REF NO.</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">ARRIVE TIME</th>
                            <th scope="col">BANK</th>
{#                            <th scope="col">BRANCH</th>#}
{#                            <th scope="col">CITY</th>#}
{#                            <th scope="col">NAME</th>#}
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">APPLY AMOUNT</th>
                            <th scope="col">NOTE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in success_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.user_id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.payment }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.order_id }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.arr_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.bank }}</td>
{#                            <td>{{ tran.branch }}</td>#}
{#                            <td>{{ tran.city }}</td>#}
{#                            <td>{{ tran.name }}</td>#}
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-note" data-toggle="tooltip"
                                    title="{{ tran.note }}" data-placement="top" data-html="true">
                                    <i class="fa fa-comment-o"></i>
                                </button>
                            </td>
                            <td>
                                <button type='button' class='btn btn-sm btn-look'><i class='fa fa-search'></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- FAILED TABLE -->
            <div class="tab-pane fade" id="failed" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="fail_deposit_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">PAYMENT</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">REF NO.</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">BANK</th>
{#                            <th scope="col">BRANCH</th>#}
{#                            <th scope="col">CITY</th>#}
{#                            <th scope="col">NAME</th>#}
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">APPLY AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in fail_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.user_id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.payment }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.order_id }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.bank }}</td>
{#                            <td>{{ tran.branch }}</td>#}
{#                            <td>{{ tran.city }}</td>#}
{#                            <td>{{ tran.name }}</td>#}
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- CANCELLED TABLE -->
            <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="contact-tab"
                style="margin-bottom: 50px;">
                <table id="cancelled_deposit_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">PAYMENT</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">REF NO.</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">BANK</th>
{#                            <th scope="col">BRANCH</th>#}
{#                            <th scope="col">CITY</th>#}
{#                            <th scope="col">NAME</th>#}
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">APPLY AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in cancel_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.user_id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.payment }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.order_id }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.bank }}</td>
{#                            <td>{{ tran.branch }}</td>#}
{#                            <td>{{ tran.city }}</td>#}
{#                            <td>{{ tran.name }}</td>#}
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

        </div>
    </div>

    <!-- audit popup window -->
    <div class="modal fade" id="audit_deposit" role="dialog">
        <div id="deposit_request_pop" class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    Deposit request details
                </div>
                <div class="modal-body">
                    <form action="{% url 'xadmin:deposit_view' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="audit_deposit"></input>
                        <input type="hidden" id="dep_trans_no" name="dep_trans_no"></input>

                        <div class="row deposit-request-word">
                            <div class="col-md-3" style="margin-left:12px">TRANSACTION DETAILS</div>
                            <div class="col-md-4" style="margin-left:20px">BANK DETAILS</div>
                            <div class="col-md-4" style="margin-left:12px">MEMBER DETAILS</div>
                        </div>

                        <div class="row" style="margin-left:10px;margin-top: 10px">
                            <div class="col-md-3 deposit-request-details">
                                <div class="col-md-6 deposit-request-title">
                                    <p>Deposit slip</p>
                                    <p>Transaction No.</p>
                                    <p>Application time</p>
                                    <p>Transaction code</p>
                                    <p>Amount</p>
                                </div>
                                <div class="col-md-6 deposit-request-data" id="trans_deposit_detail">
                                </div>
                            </div>

                            <div class="col-md-4 deposit-request-details">
                                <div class="col-md-6 deposit-request-title">
                                    <p>Bank</p>
                                    <p>Branch</p>
                                    <p>City</p>
                                    <p>Account Name</p>
                                    <p>Account No.</p>
                                </div>
                                <div class="col-md-6 deposit-request-data" id="bank_detail">
                                </div>
                            </div>

                            <div class="col-md-4 deposit-request-details" style="padding-bottom: 50px">
                                <div class="col-md-3 deposit-request-title">
                                    <p>Member ID</p>
                                    <p>Username</p>
                                    <p>First Name</p>
                                    <p>Last Name</p>
                                </div>
                                <div class="col-md-4 deposit-request-data" id="member_detail1">
                                </div>
                                <div class="col-md-3 deposit-request-title">
                                    <p>VIP Level</p>
                                    <p>Risk Level</p>
                                    <p>Balance</p>
                                </div>
                                <div class="col-md-2 deposit-request-data" id="member_detail2">
                                </div>
                            </div>
                        </div>

                        <!-- latest deposits -->
                        <div class="row deposit-request-notes" style="margin-top: 30px;margin-left: 10px">
                            <p><strong>LATEST DEPOSITS</strong></p>
                        </div>
                        <div id="latest_deposit">
                            <table class="table-striped table-bordered"
                                style="width: 100%; margin-top: 10px; margin-bottom: 40px">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">PAYMENT</th>
                                        <th scope="col">TRANSACTION NO.</th>
                                        <th scope="col">TIME OF APPLICATION</th>
                                        <th scope="col">BANK</th>
                                        <th scope="col">BRANCH</th>
                                        <th scope="col">CITY</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">ACCOUNT</th>
                                        <th scope="col">TRANSACTION CODE</th>
                                        <th scope="col">APPLY AMOUNT</th>
                                        <th scope="col">STATUS</th>
                                    </tr>
                                </thead>
                                <tbody id=latest_deposits>
                                </tbody>
                            </table>
                        </div>

                        <!-- notes -->

                        <div class="form-group">
                            <label for="deposit_notes" class="deposit-request-word"
                                style="margin-left: 10px">NOTES</label>
                            <textarea type='text' id='notes' class="form-control" name="deposit_notes"
                                style="width: 40%;height: 100px;" placeholder="Add anything of importance"></textarea>

                            <div id="deposit-request-button">
                                <button type="button" class="btn btn-success" id="deposit-review-a">Approve</button>
                                <!-- <button type="submit" class="btn btn-success" name="deposit-review-appnext">Approve and
                                    Next</button> -->
                                <button type="button" class="btn btn-danger" id="deposit-review-r">Reject</button>
                                <!-- <button type="submit" class="btn btn-danger" name="deposit-review-rejnext">Reject and
                                    Next</button> -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- datatables -->
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>

<!-- datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


<script>
    $(document).ready(function () {
        let csrftoken = $.cookie("csrftoken");

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // draw DataTable
        let table = $('#pending_table').DataTable({
            responsive: true,
            dom: 'B<ftilp>',
            buttons: [
                'csv'
            ],
            "columnDefs": [{
                "searchable": false, "targets": [0, 3, 5, 6, 7, 8, 9, 10],
            }],
            "language": {
                "info": " _START_ - _END_ of _TOTAL_",
                "infoEmpty": " 0 - 0 of 0",
                "infoFiltered": "",
                "paginate": {
                    "next": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;">></button>',
                    "previous": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;"><</button>'
                },
                "lengthMenu": "_MENU_",
            },
        });

        let success_table = $('#success_deposit_table').DataTable({
            responsive: true,
            dom: 'B<ftilp>',
            buttons: [
                'csv'
            ],
            "columnDefs": [{
                "searchable": false, "targets": [0, 3, 6, 7, 8, 9, 10],
            }],
            "language": {
                "info": " _START_ - _END_ of _TOTAL_",
                "infoEmpty": " 0 - 0 of 0",
                "infoFiltered": "",
                "paginate": {
                    "next": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;">></button>',
                    "previous": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;"><</button>'
                },
                "lengthMenu": "_MENU_",
            },
        });

        let fail_cancel_table = $('#fail_deposit_table, #cancelled_deposit_table').DataTable({
            responsive: true,
            dom: 'B<ftilp>',
            buttons: [
                'csv'
            ],
            "columnDefs": [{
                "searchable": false, "targets": [0, 3, 5, 6, 7, 8, 9],
            }],
            "language": {
                "info": " _START_ - _END_ of _TOTAL_",
                "infoEmpty": " 0 - 0 of 0",
                "infoFiltered": "",
                "paginate": {
                    "next": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;">></button>',
                    "previous": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;"><</button>'
                },
                "lengthMenu": "_MENU_",
            },
        });

        $(".dt-buttons .dt-button.buttons-csv.buttons-html5").text("Export");


        // user id, username, trans_no search
        $('#search-btn').on('keyup click', function () {
            table.search($('#search').val()).draw();
            success_table.search($('#search').val()).draw();
        });


        // date range search
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                let min = $('#min').datepicker("getDate");
                let max = $('#max').datepicker("getDate");

                let dateParts = data[5].split("/");
                let newDate = dateParts[1] + '/' + dateParts[0] + '/' + dateParts[2];
                let startDate = new Date(newDate);
                if (min == null && max == null) { return true; }
                if (min == null && startDate <= max) { return true; }
                if (max == null && startDate >= min) { return true; }
                else {return (startDate <= max && startDate >= min)}
            }
        );

        $("#min").datepicker({ onSelect: function () { table.draw(); success_table.draw(); }, changeMonth: true, changeYear: true });
        $("#max").datepicker({ onSelect: function () { table.draw(); success_table.draw(); }, changeMonth: true, changeYear: true });

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').change(function () {
            table.draw();
            success_table.draw();
        });

        // send data to pop-up window
        $('#pending_table tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            // transaction pk: data[13]
            showDepositDetail(data);
            showBankDetail(data);
            var user_id = data[1];
            $.when(
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:deposit_view' %}",
                    data: {
                        'type': 'getMemberInfo',
                        'user': user_id,
                    },
                }),
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:deposit_view' %}",
                    data: {
                        'type': 'getLatestDeposit',
                        'user': user_id,
                    },
                })
            ).then(function (data1, data2) {
                addMemberDetails(data1);
                addDepositRecord(data2, data[13]);
            });
        });

        function addMemberDetails(data) {
            $("#member_detail1").empty();
            var content = "";
            content += "<p>" + data[0].id + "</p>";
            content += "<p>" + data[0].username + "</p>";
            content += "<p>" + data[0].first_name + "</p>";
            content += "<p>" + data[0].last_name + "</p>";
            $("#member_detail1").append(content);

            $("#member_detail2").empty();
            var content2 = "";
            content2 += "<p>.....</p>";
            content2 += "<p>" + data[0].risk_level + "</p>";
            content2 += "<p>" + data[0].balance + "</p>";
            $("#member_detail2").append(content2);
        }
        function addDepositRecord(data, trans_pk) {
            $("#latest_deposits").empty();
            content = "";
            for (var i = 0; i < data[0].length; i++) {
                content += '<tr>'
                content += '<td>' + (i + 1) + '</td>';
                content += '<td>' + data[0][i].payment + '</td>';
                content += '<td>' + data[0][i].tran_no + '</td>';
                content += '<td>' + data[0][i].time_app + '' + '</td>';
                content += '<td>' + data[0][i].bank + '</td>';
                content += '<td>' + data[0][i].branch + '</td>';
                content += '<td>' + data[0][i].city + '</td>';
                content += '<td>' + data[0][i].name + '</td>';
                content += '<td>' + data[0][i].account + '</td>';
                content += '<td>' + data[0][i].tran_code + '</td>';
                content += '<td>' + data[0][i].amount + '</td>';
                content += '<td>' + data[0][i].status + '</td>';
                content += '</tr>'
            }
            $("#latest_deposits").append(content);
            $("#dep_trans_no").val(trans_pk)
        }

        function showDepositDetail (data) {
            console.log("show deposit detail");
            $("#trans_deposit_detail").empty();
            var content = "";
            content += "<p>...</p>";
            content += "<p>" + data[4] + "</p>";
            content += "<p>" + data[5] + "</p>";
            content += "<p>" + data[11] + "</p>";
            content += "<p>" + data[12] + "</p>";
            $("#trans_deposit_detail").append(content);
        }

        function showBankDetail (data) {
            $("#bank_detail").empty();
            var content = "";
            content += "<p>" + data[6] + "</p>";
            content += "<p>" + data[7] + "</p>";
            content += "<p>" + data[8] + "</p>";
            content += "<p>" + data[9] + "</p>";
            content += "<p>" + data[10] + "</p>";
            $("#bank_detail").append(content);
        }

        // double click button
        $('#deposit-review-a').click(function () {
            $('#deposit-review-a').html('Click to Approve');
            $('#deposit-review-a').attr('id', 'deposit-review-app');
            $('#deposit-review-app').click(function () {
                $('#deposit-review-app').attr('type', 'submit')
                $('#deposit-review-app').attr('name', 'deposit-review-app')
            });
        });

        $('#deposit-review-r').click(function () {
            $('#deposit-review-r').html('Click to Reject');
            $('#deposit-review-r').attr('id', 'deposit-review-rej');
            $('#deposit-review-rej').click(function () {
                $('#deposit-review-rej').attr('type', 'submit')
                $('#deposit-review-rej').attr('name', 'deposit-review-rej')
            });
        });

    })
</script>

{% endblock %}