{% extends "xadmin/base_site.html" %}  # navigation side bar
{% load staticfiles %}  # import css / other static files
{% block content-nav %}
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/ibet-admin-accounting.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/ibet-admin-datatable.css" %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
        type="text/css" />
</head>

<div class="panel panel-default" style="overflow-x: scroll;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Deposits
        </h2>
    </div>
    <div class="panel-body">
        <!-- search bar  -->
        <div class="row">
            <div class='col-md-4'>
                <div class="input-group">
                    <label for="search"></label>
                    <input type="text" id="search" class="form-control"
                        placeholder="Enter user ID, username or transaction number">
                    <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span
                            class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class='col-sm-1'>
                <div class="input-group">
                    <span id="clear-search-btn" class="input-group-addon" style="cursor: pointer; background-color: #428bca; color:white">Clear Search</span>
                </div>
            </div>
        </div>
        <!-- status filter & date range -->
        <div class="row">
            <div class="col-md-4" style="padding: 10px 0 0 30px">
                <div class="input-group">
                    <label for="status-filter">STATUS</label>
                    <div class="row">
                        <select id="status-filter">
                            <option value="all">ALL</option>
                            <option value="created">CREATED</option>
                            <option value="pending">PENDING</option>
                            <option value="success">SUCCESS</option>
                            <option value="failed">FAILED</option>
                            <option value="canceled">CANCELED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-md-2' style="padding: 10px 30px 0 15px; float: right;">
                <div class='input-group date' id='deposit_time_from'>
                    <input type='text' class="form-control" placeholder="To" id='max' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-2' style="padding: 10px 15px 0 30px; float: right;">
                <div class='input-group date' id='deposit_time_to'>
                    <input type='text' class="form-control" placeholder="From" id='min' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- actual deposit table & data -->
        <div id="deposits-section" aria-labelledby="home-tab" class="data-section">
            <table id="deposits-table" class="table-striped table-bordered hover compact"
                style="table-layout: fixed; width: 98.5%; margin-bottom: 20px">
                <colgroup>
                    <col style="width: 60px">  <!-- // player id    -->
                    <col style="width: 80px">  <!-- // username -->
                    <col style="width: 100px"> <!--  // player segment -->
                    <col style="width: 56px">  <!-- // risk level -->
                    <col style="width: 100px"> <!--  // user status -->
                    <col style="width: 100px"> <!--  //  -->
                    <col style="width: 100px"> <!--  // -->
                    <col style="width: 230px"> <!--  // -->
                    <col style="width: 270px"> <!--  // -->
                    <col style="width: 130px"> <!--  // -->
                    <col style="width: 130px"> <!--  // -->
                    <col style="width: 100px"> <!--  // -->
                    <col style="width: 85px">  <!-- // -->
                    <col style="width: 78px">  <!-- // -->
                    <col style="width: 90px">  <!-- // -->
                    <col style="width: 90px">  <!-- // -->
                </colgroup>
                <thead>
                    <tr>
{#                            <th scope="col">#</th>#}
                        <th scope="col">PLAYER ID</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">PLAYER SEGMENT</th>
                        <th scope="col">RISK LEVEL</th>
                        <th scope="col">USER STATUS</th>
                        <th scope="col">METHOD</th>
                        <th scope="col">CHANNEL</th>
                        <th scope="col">TRANSACTION NO.</th>
                        <th scope="col">PROVIDER REF NO.</th>
                        <th scope="col">CREATED TIME</th>
                        <th scope="col">RESOLVE TIME</th>
                        <th scope="col">BANK</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">STATUS</th>
                        <th scope="col"></th>
                        <th scope="col" style="display: none;">pk</th>
                    </tr>
                </thead>
                <tbody id="pending_deposit_data">
                    {% for tran in transactions %}
                    <tr id="{{ tran.pk }}">
{#                            <td>{{ forloop.counter }}</td>#}
                        <td>{{ tran.id }}</td>
                        <td>{{ tran.username }}</td>
                        <td>Normal</td>
                        <td>{{ tran.risk_level }}</td>
                        <td>{{ tran.user_status }}</td>
                        <td>{{ tran.method }}</td>
                        <td>{{ tran.payment }}</td>
                        <td>{{ tran.tran_no }}</td>
                        <td>{{ tran.order_id }}</td>
                        <td>{{ tran.app_time }}</td>
                        <td>{{ tran.arr_time }}</td>
                        <td>{{ tran.bank_info }}</td>
                        <td>{{ tran.amount }}</td>
                        <td>{{ tran.status }}</td>

                        {% if tran.method == 'Local Bank Transfer' and tran.status == 'Pending' %}
                        <td class="edit-txn">
                            <button id="{{ tran.pk }}"class="confirm-settlement-btn" type="button" data-toggle="modal" data-target="#audit_deposit">
                                Confirm
                            </button>
                        </td>
                        
                        {% elif tran.status == 'Failed' %}
                        <td class="edit-txn">
                            <button class="blue-btn" type="button" data-toggle="modal" data-target="#audit_deposit">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                        <td class="edit-txn">
                            <button class="result-override-btn" type="button" data-toggle="modal" data-target="#override-deposit">
                                Override
                            </button>
                        </td>
                        {% else %}
                        <td class="edit-txn">
                            <button class="blue-btn" type="button" data-toggle="modal" data-target="#audit_deposit">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                        {% endif %}
                        <td style="display: none">{{ tran.pk }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- pagination -->
    <div class="container" style="padding-bottom: 50px">
        <div class="row">
            <div class="col-md-offset-11">
                 <p>Page {{ page_no|add:'1' }} of {{ total_pages|add:'1' }}</p>
            </div>
            <div class="col-md-offset-11">
                {% if page_no != 0 %}
                    <button id="prev-page">Prev</button>
                {% endif %}
                {% if page_no != total_pages %}
                    <button id="next-page">Next</button>
                {% endif %}
            </div>
            <div class="row per-page">
                <div class="col-md-offset-10" id="num-per-page">
                    <select id="num-per-page-select">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <label for="num-per-page-select">results per page</label>
                </div>
            </div>
        </div>
    </div>

    <!-- audit/confirm-settlement modal -->
    <div class="modal fade" id="audit_deposit" role="dialog">
        <div id="deposit_request_pop" class="modal-dialog">
            <!-- Modal content-->
            {% include "confirm_settlement_modal.html" %}
        </div>
    </div>

    <!-- override_txn modal -->
    <div class="modal fade" id="override-deposit" role="dialog">
        <div id="override" class="modal-dialog" style="width: 40%">
            <!-- Modal content-->
            {% include "override_modal.html" %}
        </div>
    </div>

</div>

<!-- datatables -->
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
{#<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>#}
{#<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#<script type="text/javascript" language="javascript"#}
{#    src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>#}
{#<script type="text/javascript" language="javascript"#}
{#    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>#}
{#<script type="text/javascript" language="javascript"#}
{#    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>#}
<!-- datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


<script>
    // fill in bank details of modal
    function showBankDetail (data) {
        let bankDetails = $("#bank_detail");
        bankDetails.empty();
        var content = "";
        content += "<p>" + data[6] + "</p>";  // bank name
        content += "<p>" + data[7] + "</p>";  // bank branch
        content += "<p>" + data[8] + "</p>";  // bank city
        content += "<p>" + data[9] + "</p>";  // account holder name
        content += "<p>" + data[10] + "</p>";  // account number
        bankDetails.append(content);
    }
    function initCSRF() {
         let csrftoken = $.cookie("csrftoken");

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    }
    function initSearchParams() {
        if (window.location.search) {
            let params = new URLSearchParams(window.location.search);
            document.getElementById('search').value = params.get('search_params');

            if (params.get('status')) {
                let selectedStatus = document.getElementById('status-filter');
                for(let i = 0; i < selectedStatus.options.length; i++) {
                    if (params.get('status') === selectedStatus.options[i].value) {
                        selectedStatus.selectedIndex = i;
                        break;
                    }
                }
            }
            if (params.get('show')) {
                let numPages = document.getElementById('num-per-page-select');

                for(let i = 0; i < numPages.options.length; i++) {
                    if (params.get('show') == numPages.options[i].value) {
                        numPages.selectedIndex = i;
                        break;
                    }
                }
            }
            if (params.get('from')) {
                document.getElementById('min').value = params.get('from');
            }
            if (params.get('to')) {
                document.getElementById('max').value = params.get('to');
            }
        }
    }
    function initEventHandlers() {
        const BASEURL = "{% url 'xadmin:get_transactions' txn_type='deposit' page=0 %}?";
        // filter by status
        $('#status-filter').on('change', function(event) {
            let queryString = new URLSearchParams(window.location.search);
            queryString.set('status', event.target.value);
            window.location = BASEURL+queryString.toString();
        });

        $('#num-per-page-select').on('change', function(event) {
            let queryString = new URLSearchParams(window.location.search);
            queryString.set('show', event.target.value);
            window.location = BASEURL + queryString.toString();
        });

        // for submitting a search
        $('#search-btn').on('click', function () {
            let searchTerm = document.getElementById('search').value;
            let fromDate = document.getElementById('min').value;
            let toDate = document.getElementById('max').value;


            let queryString = new URLSearchParams(window.location.search);
            if (searchTerm) queryString.set('search_params', searchTerm);
            if (fromDate) queryString.set('from', fromDate);
            if (toDate) queryString.set('to', toDate);
            // fetch data and redraw rows
            if (searchTerm || fromDate || toDate) window.location = BASEURL+queryString.toString();
            else window.location = BASEURL;
        });

        $('#clear-search-btn').on('click', function() {
            document.getElementById('search').value = '';
            document.getElementById('min').value = '';
            document.getElementById('max').value = '';
            document.getElementById('status-filter').selectedIndex = 0;
        });

        // scroll between pages
        $('#prev-page').click(() => {
            window.location = "{% url 'xadmin:get_transactions' txn_type='deposit' page=page_no|add:'-1' %}" + window.location.search;
        });
        $('#next-page').click(() => {
            window.location= "{% url 'xadmin:get_transactions' txn_type='deposit' page=page_no|add:'1' %}" + window.location.search;
        });

        let dateFormat = "mm/dd/yy";
        let dateFrom = $("#min").
            datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true
            })
            .on("change", function() {
                dateTo.datepicker( "option", "minDate", getDate( this ) );
            });
        let dateTo = $("#max").
            datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true
            })
            .on("change", function() {
                dateFrom.datepicker( "option", "maxDate", getDate( this ) );
                if ($("#min").val() != "") {
                    let searchTerm = document.getElementById('search').value;
                    let fromDate = document.getElementById('min').value;
                    let toDate = document.getElementById('max').value;

                    let queryString = new URLSearchParams(window.location.search);
                    if (searchTerm) queryString.set('search_params', searchTerm);
                    if (fromDate) queryString.set('from', fromDate);
                    if (toDate) queryString.set('to', toDate);
                    window.location = BASEURL + queryString.toString();
                }
            });

        function getDate( element ) {
            let date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }
            return date;
        }
    }
    function initModals() {
        
    }
    $(document).ready(function () {
        initCSRF();
        initSearchParams();
        initEventHandlers();

        // fill in user data into transaction detail modal
        function addMemberDetails(data) {
            let userDetails = $("#member-details");
            userDetails.empty();
            let content = "";
            content += "<p>" + data[0].id + "</p>";
            content += "<p>" + data[0].username + "</p>";
            content += "<p>" + data[0].first_name + "</p>";
            content += "<p>" + data[0].last_name + "</p>";
            userDetails.append(content);

            let riskDetails = $("#risk-details");
            riskDetails.empty();
            content = "";
            content += "<p>.....</p>";
            content += "<p>" + data[0].risk_level + "</p>";
            content += "<p>" + data[0].balance + "</p>";
            riskDetails.append(content);
        }
        // fill in latest deposit section of txn detail modal
        function addDepositRecord(data, trans_pk) {
            let depositArea = $("#latest_deposits");
            depositArea.empty();
            let content = "";
            for (let i = 0; i < data[0].length; i++) {
                content += '<tr>';
                // content += '<td>' + (i + 1) + '</td>';
                content += '<td>' + data[0][i].payment + '</td>';
                content += '<td>' + data[0][i].tran_no + '</td>';
                content += '<td>' + data[0][i].time_app + '' + '</td>';
                content += '<td>' + (data[0][i].bank || '') + '</td>';
                content += '<td>' + (data[0][i].branch || '') + '</td>';
                content += '<td>' + (data[0][i].city || '') + '</td>';
                content += '<td>' + (data[0][i].name || '') + '</td>';
                content += '<td>' + (data[0][i].account || '') + '</td>';
                content += '<td>' + data[0][i].order_id + '</td>';
                content += '<td>' + data[0][i].amount + '</td>';
                content += '<td>' + data[0][i].status + '</td>';
                content += '</tr>'
            }
            depositArea.append(content);
            $("#dep_trans_no").val(trans_pk);
            // $("#dep_row_index").val(dep_row_index);
        }
        // fill in deposit details of modal
        function showDepositDetail (data, id) {
            console.log("deposit data:");
            console.log(data);
            let txnDetails = $(id);
            txnDetails.empty();
            let content = "";
            content += "<p>...</p>";  // placeholder for deposit slip upload
            content += "<p>" + data[7] + "</p>";  // transaction no.
            content += "<p>" + data[9] + "</p>";  // created time
            content += "<p>" + data[8] + "</p>";  // ref no.
            content += "<p>" + data[12] + "</p>";  // amount
            txnDetails.append(content);
        }

        
        $(".dt-buttons .dt-button.buttons-csv.buttons-html5").text("Export");

        // open modal and populate details data
        $('#deposits-table tbody').on('click', 'button', function () {    
            let row = $(this).closest('tr');
            let rowData = row.find('td');
            let data = rowData.map(d => rowData[d].innerHTML);
            console.log($(this).attr("class"));

            let id = $(this).attr("class") == "result-override-btn" ? "#override-deposit-detail" : "#trans-deposit-detail"
            showDepositDetail(data, id);

            // showBankDetail(data); 
            let txn_pk = data[data.length - 1];
            let user_id = data[0];
            $.when(
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:user_info' %}",
                    data: {
                        'user': user_id,
                    },
                }),
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:get_latest_transactions' %}",
                    data: {
                        'type': 'deposits',
                        'user': user_id,
                    },
                })
            ).then(function (memberData, depositData) {
                addMemberDetails(memberData);
                addDepositRecord(depositData, txn_pk);
            });
        });


        // double click approve button for confirming settlement
        $('#deposit-review-a').click(function () {
            $(this).html('Click to Approve');
            $(this).attr('id', 'deposit-review-app');
            $('#deposit-review-app').click(function () {
                let thisTransNo = $("#dep_trans_no").val();
                $.ajax({
                    method: 'POST',
                    url: "{% url 'xadmin:confirm_settlement' %}",
                    data: {
                        'dep_trans_no': thisTransNo,
                        'result': 'approve',
                    }
                })
                .done(function() {
                    location.reload();
                })
            });
        });


        // double click result override button
        $('#override-result').click(function (event) {
            if (!$("#override-notes").val()) {
                return;
            }
            event.preventDefault();
            $('#override-notes').prop('disabled', true);
            $(this).attr('id', 'override-result-confirm');
            $(this).html('Click to request change');
            $('#override-result-confirm').click(function (event) {
                console.log('hi');
                // TODO: Finish filling out override backend API function
                
                let thisTransNo = $("#dep_trans_no").val();
                console.log(thisTransNo)
                console.log($("#dep_trans_no").val())
                $.ajax({
                    method: 'POST',
                    url: "{% url 'xadmin:override_result' %}",
                    data: {
                        'type': 'override_result',
                        'txn_id': thisTransNo,
                        'reason': $("#override-notes").val(),
                        'new_amount': $("#new-amount").val()
                    }
                })
                .done(function() {
                    alert("Override successful");
                    location.reload();
                })
            });
        });
        
        // cancel override (enable text area and remove contents)
        $('#cancel-override').click(function (event) {
            $('#override-notes').prop('disabled', false);
            $('#override-notes').val('');
            $('#override-result-confirm').html('Request status change to Successful');
            $('#override-result-confirm').attr('id', 'override-result');
        })

        $('#deposit-review-cancel').click(function () {
            location.reload();
        });

    })
</script>

{% endblock %}
