<div class="modal-content">
    <div class="modal-header">
        Edit payment method
    </div>
    <div class="modal-body">
        <div id="psp-details" style="background-color: #f3f3f3">
            <table>
                <tr>
                    <td class="text-label">Method</td>
                    <td id="psp-method">VISA</td>
                    <td class="text-label">Type</td>
                    <td id="psp-type">Deposit</td>
                </tr>
                <tr>
                    <td class="text-label">Channel</td>
                    <td id="psp-channel"></td>
                    <td class="text-label">Market</td>
                    <td id="psp-market"></td>
                </tr>
                <tr>
                    <td class="text-label">Supplier</td>
                    <td id="psp-supplier"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="radio-buttons">
            <div style="display: inline-block">
                <p class="text-label">Payment Method Status</p>
                <input type="radio" name="gender" value="male">Male<br>
                <input type="radio" name="gender" value="female">Female<br>
            </div>
        </div>
    </div>
</div>