{% extends "xadmin/base_site.html" %}
{% load staticfiles %}

{% block content-nav %}
{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/ibet-admin-accounting.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/ibet-admin-datatable.css" %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
        type="text/css" />
</head>

<body>

<div class="panel panel-default" style="overflow-x: scroll;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Withdrawal
        </h2>
    </div>

    <div class="panel-body">
        <!-- search bar and time range filter -->
        <div class="row">
            <div class='col-md-4'>
                <div class="input-group">
                    <label for="search"></label>
                    <input type="text" id="search" class="form-control"
                        placeholder="Enter user ID, username or transaction number">
                    <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span
                            class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class='col-sm-1'>
                <div class="input-group">
                    <span id="clear-search-btn" class="input-group-addon" style="cursor: pointer; background-color: #428bca; color:white">Clear Search</span>
                </div>
            </div>
        </div>
        <!-- status filter & date range -->
        <div class="row">
            <div class="col-md-4" style="padding: 10px 0 0 30px">
                <div class="input-group">
                    <label for="status-filter">STATUS</label>
                    <div class="row">
                        <select id="status-filter">
                            <option value="all">ALL</option>
                            <option value="created">CREATED</option>
                            <option value="review">REVIEW</option>  <!-- pending review -->
                            <option value="rejected">REJECTED</option>
                            <option value="pending">PENDING</option>
                            <option value="success">SUCCESS</option>
                            <option value="failed">FAILED</option>
                            <option value="canceled">CANCELED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-md-2' style="padding: 10px 30px 0 15px; float: right;">
                <div class='input-group date' id='deposit_time_from'>
                    <input type='text' class="form-control" placeholder="To" id='max' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-2' style="padding: 10px 15px 0 30px; float: right;">
                <div class='input-group date' id='deposit_time_to'>
                    <input type='text' class="form-control" placeholder="From" id='min' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- actual transaction table & data -->
        <div id="deposits-section" aria-labelledby="home-tab" class="data-section">
            <table id="withdraw-table" class="table-striped table-bordered hover compact"
                style="table-layout: fixed; width: 98.5%; margin-bottom: 20px">
                <colgroup>
                    <col style="width: 60px">  <!-- // player id    -->
                    <col style="width: 80px">  <!-- // username -->
                    <col style="width: 100px"> <!--  // player segment -->
                    <col style="width: 56px">  <!-- // risk level -->
                    <col style="width: 100px"> <!--  // user status -->
                    <col style="width: 100px"> <!--  // method  -->
                    <col style="width: 100px"> <!--  // channel -->
                    <col style="width: 230px"> <!--  // transaction no.-->
                    <col style="width: 270px"> <!--  // order no. -->
                    <col style="width: 130px"> <!--  // created time -->
                    <col style="width: 130px"> <!--  // resolved time -->
                    <col style="width: 100px"> <!--  // bank -->
                    <col style="width: 100px"> <!--  // account holder -->
                    <col style="width: 100px"> <!--  // account no. -->
                    <col style="width: 85px">  <!-- // amount -->
                    <col style="width: 100px"> <!--  // reviewer -->
                    <col style="width: 78px">  <!-- // status -->
                    <col style="width: 90px">  <!-- // button -->

                </colgroup>
                <thead>
                    <tr>
{#                            <th scope="col">#</th>#}
                        <th scope="col">PLAYER ID</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">PLAYER SEGMENT</th>
                        <th scope="col">RISK LEVEL</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">METHOD</th>
                        <th scope="col">CHANNEL</th>
                        <th scope="col">TRANSACTION NO.</th>
                        <th scope="col">PROVIDER REF NO.</th>
                        <th scope="col">CREATED TIME</th>
                        <th scope="col">RESOLVE TIME</th>
                        <th scope="col">BANK</th>
                        <th scope="col">ACCOUNT HOLDER</th>
                        <th scope="col">ACCOUNT NO.</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">REVIEWER</th>
                        <th scope="col">STATUS</th>
                        <th scope="col"></th>
                        <th scope="col" style="display: none;">pk</th>
                    </tr>
                </thead>
                <tbody id="pending_deposit_data">
                    {% for tran in transactions %}
                    <tr id="{{ tran.pk }}">
                        <!-- <td>{{ forloop.counter }}</td> -->
                        <td>{{ tran.id }}</td>
                        <td>{{ tran.username }}</td>
                        <td>Normal</td>
                        <td>{{ tran.risk_level }}</td>
                        <td>{{ tran.user_status }}</td>
                        <td>{{ tran.method }}</td>
                        <td>{{ tran.channel }}</td>
                        <td>{{ tran.tran_no }}</td>
                        <td>{{ tran.order_id }}</td>
                        <td>{{ tran.app_time }}</td>
                        <td>{{ tran.arr_time }}</td>
                        <td>{{ tran.bank }}</td>
                        <td>{{ tran.name }}</td>
                        <td>{{ tran.acc_no }}</td>
                        <td>{{ tran.amount }}</td>
                        <td>{{ tran.reviewer }}</td>
                        <td>{{ tran.status }}</td>
                        {% if tran.status == 'Review' %}
                            {% if tran.channel == 'Qaicash' or tran.channel == 'Help2Pay' %}
                                <td><button id="edit-pending-detail-btn" class="blue-btn" type="button" data-toggle="modal"
                                        data-target="#audit_withdraw">Review</button></td>
                            {% endif %}

                        {% elif tran.status == 'Pending' %}
                        <td>
                            <button id="edit-pending-detail-btn" type="button" data-toggle="modal" data-target="#audit_withdraw">
                                Confirm
                            </button>
                        </td>
                        {% elif tran.status == 'Success' %}
                        <td class="edit-txn">
                            <button class="result-override-btn" type="button" data-toggle="modal" data-target="#override-withdraw">
                                Override
                            </button>
                        </td>
                        {% else %}
                        <td class="edit-txn">
                            <button class="blue-btn" type="button" data-toggle="modal" data-target="#audit_withdraw">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                        {% endif %}
                        <td style="display: none">{{ tran.pk }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- pagination -->
    <div class="container" style="padding-bottom: 50px">
        <div class="row">
            <div class="col-md-offset-11">
                <p>Page {{ page_no|add:'1' }} of {{ total_pages|add:'1' }}</p>
            </div>
            <div class="col-md-offset-11">
                {% if page_no != 0 %}
                    <button id="prev-page">Prev</button>
                {% endif %}
                {% if page_no != total_pages %}
                    <button id="next-page">Next</button>
                {% endif %}
            </div>
            <div class="row per-page">
                <div class="col-md-offset-10" id="num-per-page">
                    <select id="num-per-page-select">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <label for="num-per-page-select">results per page</label>
                </div>
            </div>
        </div>
    </div>

    <!-- audit popup window -->
    <div class="modal fade" id="audit_withdraw" role="dialog">
        <div id="withdraw_request_pop" class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    Withdrawal request details
                </div>
                <div class="modal-body">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="audit_withdraw"></input>
                        <input type="hidden" id="wtd_trans_no" name="wtd_trans_no"></input>
                        <input type="hidden" id="wtd_row_no" name="wtd_row_no"></input>

                        <div class="row withdraw-request-word">
                            <div class="col-md-3" style="margin-left:12px">TRANSACTION DETAILS</div>
                            <div class="col-md-2" style="margin-left:7px">BANK DETAILS</div>
                            <div class="col-md-2" style="margin-left:10px">WITHDRAW DETAILS</div>
                            <div class="col-md-4" style="margin-left:10px">MEMBER DETAILS</div>
                        </div>

                        <div class="row" style="margin-left:10px;margin-top: 10px">
                            <!-- TRANSACTION DETAILS -->
                            <div class="col-md-3 withdraw-request-details">
                                <div class="col-md-6 withdraw-request-title">
                                    <p>Transaction No.</p>
                                    <p>Application Time</p>
                                    <p>Resolved Time</p>
                                    <p>Ref No.</p>
                                    <p>Amount</p>
                                </div>
                                <div class="col-md-6 withdraw-request-data" id="trans_withdraw_detail">
                                </div>
                            </div>

                            <!-- BANK DETAILS -->
                            <div class="col-md-2 withdraw-request-details">
                                <div class="col-md-6 withdraw-request-title">
                                    <p>Channel</p>
                                    <p>Bank</p>
                                    <p>Account</p>
                                </div>
                                <div class="col-md-6 withdraw-request-data" id="bank_detail">
                                </div>
                            </div>
                            <!-- WITHDRAW DETAILS -->
                            <div class="col-md-2 withdraw-request-details">
                                <div class="col-md-6 withdraw-request-title">
                                    <p>Withdrawal today</p>
                                    <p>Withdrawal count today</p>
                                </div>
                                <div class="col-md-6 withdraw-request-data" id="withdraw_detail">
                                </div>
                            </div>
                            <!-- MEMBER DETAILS -->
                            <div class="col-md-4 withdraw-request-details" style="padding-bottom: 90px">
                                <div class="col-md-4 withdraw-request-title">
                                    <p>Member ID</p>
                                    <p>Username</p>
                                    <p>First Name</p>
                                    <p>Last Name</p>
                                </div>
                                <div class="col-md-3 withdraw-request-data" id="member-details">
                                </div>
                                <div class="col-md-3 withdraw-request-title">
                                    <p>VIP Level</p>
                                    <p>Risk Level</p>
                                    <p>Balance</p>
                                </div>
                                <div class="col-md-2 withdraw-request-data" id="risk-details">
                                </div>
                            </div>
                        </div>

                        <div id="risk">
                            <div class="row" style="margin-top: 30px;margin-left: 10px">
                                <p><strong>RISK INFORMATION</strong></p>
                            </div>
                            <div class="row withdraw-request-word" style="margin-top: 20px;margin-left: -5px">
                                <div class="col-md-6">REASON FOR MANUAL AUDIT</div>
                                <div class="col-md-6">MAX RELATED DOWNLINE PROFIT</div>
                            </div>
                            <div class="row" style="margin-top: 30px;margin-left: 10px">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;margin-left: 10px">
                            <p><strong>LATEST NOTES</strong></p>
                        </div>

                        <div class="row" style="margin-top: 30px;margin-left: 10px">
                            <p><strong>ACTIVE BONUSES</strong></p>
                        </div>

                        <!-- latest withdraws -->
                        <div class="row withdraw-request-notes" style="margin-top: 30px;margin-left: 10px">
                            <p><strong>LATEST WITHDRAWALS</strong></p>
                        </div>
                        <div id="latest_withdraw">
                            <table class="table-striped table-bordered"
                                style="width: 100%; margin-top: 10px; margin-bottom: 40px">
                                <thead>
                                    <tr>
                                        {#                                        <th scope="col">#</th>#}
                                        <th scope="col">PAYMENT</th>
                                        <th scope="col">TRANSACTION NO.</th>
                                        <th scope="col">CREATED TIME</th>
                                        <th scope="col">BANK</th>
                                        <th scope="col">BRANCH</th>
                                        <th scope="col">CITY</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">ACCOUNT</th>
                                        <th scope="col">PROVIDER REF NO.</th>
                                        <th scope="col">AMOUNT</th>
                                        <th scope="col">STATUS</th>
                                    </tr>
                                </thead>
                                <tbody id=latest_withdraws>
                                </tbody>
                            </table>
                        </div>

                        <!-- notes -->

                        <div class="form-group" id="confirm-reject-section" hidden>
                            <p id='lastwithdraw'>&nbsp;</p>
                            <p id='reviewError'>&nbsp;</p>
                            <label for="withdraw_notes" class="withdraw-request-word"
                                style="margin-left: 10px">NOTES</label>
                            <textarea type='text' id='notes' class="form-control" name="withdraw_notes"
                                style="width: 40%;height: 100px;"
                                placeholder="Add anything of importance"></textarea>

                            <div id="withdraw-request-button" style="margin-top:40px">
                                <button type="button" class="btn btn-success" id="withdraw-review-a" data-state="unclicked">Approve</button>
                                <!-- <button type="button" class="btn btn-success" id="withdraw-review-appnext">Approve
                                    and Next</button> -->
                                <button type="button" class="btn btn-danger" id="withdraw-review-r" data-state="unclicked">Reject</button>
                                <!-- <button type="button" class="btn btn-danger" id="withdraw-review-rejnext">Reject and
                                    Next</button> -->
                                <button type="button" class="btn btn-primary" id="withdraw-review-cancel"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- override modal -->
    <div class="modal fade" id="override-withdraw" role="dialog">
        <div id="override" class="modal-dialog" style="width: 40%">
            <!-- Modal content-->
            {% include "withdraw_override_modal.html" %}
        </div>
    </div>
</div>


<!-- datatables -->
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<script>
    function initCSRF() {
         let csrftoken = $.cookie("csrftoken");

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    }
    function initSearchParams() {
        if (window.location.search) {
            let params = new URLSearchParams(window.location.search);
            document.getElementById('search').value = params.get('search_params');

            if (params.get('status')) {
                let selectedStatus = document.getElementById('status-filter');
                for(let i = 0; i < selectedStatus.options.length; i++) {
                    if (params.get('status') === selectedStatus.options[i].value) {
                        selectedStatus.selectedIndex = i;
                        break;
                    }
                }
            }
            if (params.get('show')) {
                let numPages = document.getElementById('num-per-page-select');
                for(let i = 0; i < numPages.options.length; i++) {
                    if (params.get('show') == numPages.options[i].value) {
                        numPages.selectedIndex = i;
                        break;
                    }
                }
            }
            if (params.get('from')) {
                document.getElementById('min').value = params.get('from');
            }
            if (params.get('to')) {
                document.getElementById('max').value = params.get('to');
            }
        }
    }
    function initEventHandlers() {
        const BASEURL = "{% url 'xadmin:get_transactions' txn_type='withdraw' page=0 %}?"
        // filter by status
        $('#status-filter').on('change', function(event) {
            let queryString = new URLSearchParams(window.location.search);
            queryString.set('status', event.target.value);
            window.location = BASEURL +queryString.toString();
        });
        
        $('#num-per-page-select').on('change', function(event) {
            let queryString = new URLSearchParams(window.location.search);
            queryString.set('show', event.target.value);
            window.location = BASEURL + queryString.toString();
        });

        // for submitting a search
        $('#search-btn').on('click', function () {
            let searchTerm = document.getElementById('search').value;
            let fromDate = document.getElementById('min').value;
            let toDate = document.getElementById('max').value;


            let queryString = new URLSearchParams(window.location.search);
            if (searchTerm) queryString.set('search_params', searchTerm);
            if (fromDate) queryString.set('from', fromDate);
            if (toDate) queryString.set('to', toDate);
            // fetch data and redraw rows
            if (searchTerm || fromDate || toDate) window.location = BASEURL + queryString.toString();
            else window.location = BASEURL;
        });

        $('#clear-search-btn').on('click', function() {
            document.getElementById('search').value = '';
            document.getElementById('min').value = '';
            document.getElementById('max').value = '';
            document.getElementById('status-filter').selectedIndex = 0;
        });

        // scroll between pages
        $('#prev-page').click(() => {
            window.location = "{% url 'xadmin:get_transactions' txn_type='withdraw' page=page_no|add:'-1' %}" + window.location.search;
        });
        $('#next-page').click(() => {
            window.location= "{% url 'xadmin:get_transactions' txn_type='withdraw' page=page_no|add:'1' %}" + window.location.search;
        });

        let dateFormat = "mm/dd/yy";
        let dateFrom = $("#min").
            datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true
            })
            .on("change", function() {
                dateTo.datepicker( "option", "minDate", getDate( this ) );
            });
        let dateTo = $("#max").
            datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true
            })
            .on("change", function() {
                dateFrom.datepicker( "option", "maxDate", getDate( this ) );
                if ($("#min").val() != "") {
                    let searchTerm = document.getElementById('search').value;
                    let fromDate = document.getElementById('min').value;
                    let toDate = document.getElementById('max').value;

                    let queryString = new URLSearchParams(window.location.search);
                    if (searchTerm) queryString.set('search_params', searchTerm);
                    if (fromDate) queryString.set('from', fromDate);
                    if (toDate) queryString.set('to', toDate);
                    window.location = BASEURL + queryString.toString();
                }
            });

        function getDate( element ) {
            let date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }
            return date;
        }
    }

    $(document).ready(function () {
        initCSRF();
        initSearchParams();
        initEventHandlers();

        $(".dt-buttons .dt-button.buttons-csv.buttons-html5").text("Export")

        // send data to pop-up window
        $('#withdraw-table tbody').on('click', 'button', function () {
            let row = $(this).closest('tr');
            let rowData = row.find('td');
            let data = rowData.map(d => rowData[d].innerHTML);

            let id = $(this).attr("class") == "result-override-btn" ? "#override-deposit-detail" : "#trans_withdraw_detail"
            // transaction pk: data[12]
            // bank account: data[13]
            showTransactionDetail(data, id);
            // showWithdrawDetail(data);
            // showBankDetail(data);
            var user_id = data[0];
            $.when(
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:user_info' %}",
                    data: {
                        'type': 'getMemberInfo',
                        'user': user_id,
                    },
                }),
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:get_latest_transactions' %}",
                    data: {
                        'type': 'withdrawals',
                        'user': user_id,
                    },
                })
            ).then(function (data1, data2) {
                addMemberDetails(data1);
                addWithdrawRecord(data2, data[18], data[0]);
            });
        });

        function addMemberDetails(data) {
            let userDetails = $("#member-details");
            userDetails.empty();
            let content = "";
            content += "<p>" + data[0].id + "</p>";
            content += "<p>" + data[0].username + "</p>";
            content += "<p>" + data[0].first_name + "</p>";
            content += "<p>" + data[0].last_name + "</p>";
            userDetails.append(content);

            let riskDetails = $("#risk-details");
            riskDetails.empty();
            content = "";
            content += "<p>.....</p>";
            content += "<p>" + data[0].risk_level + "</p>";
            content += "<p>" + data[0].balance + "</p>";
            riskDetails.append(content);
        }

        function addWithdrawRecord(data, trans_pk, index) {
            let txnArea = $("#latest_withdraws");
            txnArea.empty();
            let content = "";
            for (let i = 0; i < data[0].length; i++) {
                content += '<tr>';
                // content += '<td>' + (i + 1) + '</td>';
                content += '<td>' + data[0][i].channel + '</td>';
                content += '<td>' + data[0][i].tran_no + '</td>';
                content += '<td>' + data[0][i].time_app + '' + '</td>';
                content += '<td>' + (data[0][i].bank || '') + '</td>';
                content += '<td>' + (data[0][i].branch || '') + '</td>';
                content += '<td>' + (data[0][i].city || '') + '</td>';
                content += '<td>' + (data[0][i].name || '') + '</td>';
                content += '<td>' + (data[0][i].account || '') + '</td>';
                content += '<td>' + data[0][i].order_id + '</td>';
                content += '<td>' + data[0][i].amount + '</td>';
                content += '<td>' + data[0][i].status + '</td>';
                content += '</tr>'
            }
            txnArea.append(content);
            $("#wtd_trans_no").val(trans_pk);
            // $("#wtd_row_no").val(index);
        }

        showBankDetail = function (data) {
            $("#bank_detail").empty();
            var content = "";
            // bank channel
            content += "<p>" + data[12] + "</p>";
            // bank name
            content += "<p>" + data[6] + "</p>";
            // bank account number
            content += "<p>" + data[13] + "</p>";
            $("#bank_detail").append(content);
        }
        
        showWithdrawDetail = function (data) {
            $("#withdraw_detail").empty();
            var content = "";
            // withdrawal today
            content += "<p>" + data[10] + "</p>";
            // withdrawal count today
            content += "<p style='margin-top:40px'>" + data[11] + "</p>";
            $("#withdraw_detail").append(content);
        }

        showTransactionDetail = function (data, id) {
            $(id).empty();
            var content = "";
            let resolvedTime = data[10] || "Unresolved";
            let refNo = data[8] || "N/A";
            // content += "<p>...</p>";
            // tran no.
            content += "<p id='transaction_id'>" + data[7] + "</p>";
            // created+resolved time
            content += "<p>" + data[9] + "</p>";
            content += "<p>" + resolvedTime + "</p>";
            // ref no.
            content += "<p>" + refNo + "</p>";
            // amount
            content += "<p>" + data[14] + "</p>";
            
            $(id).append(content);
            if (data[16] == "Pending" && data[5] == "Local Bank Transfer") {
                console.log("SHOW");
                $("#confirm-reject-section").attr("hidden", false)
            }
        }

        $('#withdraw-review-cancel').click(function () {
            location.reload();
        });

        // double click button
        // risk review
        $('#withdraw-review-a').click(function () {
            let state = $(this).attr('data-state');
            if (state == 'unclicked') {
                $(this).attr('data-state', 'clicked');
                $(this).html("Click to approve");
            }
            else {
                return sendRiskReview('approve');
            }
        });

        $('#withdraw-review-r').click(function () {
            let state = $(this).attr('data-state');
            if (state == 'unclicked') {
                $(this).attr('data-state', 'clicked');
                $(this).html("Click to reject");
            }
            else {
                return sendRiskReview('reject');
            }
        });
        
        
        function sendDataToThirdParty(qaicash_api, id, userID, remark, wtd_row_index){
            var response = $.ajax({
                type: 'POST',
                url: qaicash_api,
                data: {
                    // transaction_id
                    'order_id': id,
                    // username
                    'user_id': userID,
                    // remark
                    'remark': remark,
                },
                success: function (data) {
                    if (data['code'] !== undefined){
                        // has error
                        var errorMsg = data['error'];
                        $('#reviewError').text(errorMsg);
                        $('#reviewError').css('color', 'red');
                    } else {
                        // transaction success
                        if (wtd_row_index >= 0){
                            $('#withdrawal_pending_table tbody tr').eq(wtd_row_index).find('#edit-pending-detail-btn').click();
                        } else {
                            location.reload();
                        }
                    }
                }
            });
        }
    });

    function sendRiskReview(decision) {
        let remark = $('#notes').val();
        let txnId = $('#trans_withdraw_detail p').first().html();
        let userId = $('#member-details p').first().html();
        
        $.ajax({
            method: 'POST',
            url: "{% url 'xadmin:risk_review' %}",
            data: {
                user_id: userId,
                txn_no: txnId,
                remark: remark,
                decision: decision
            },
            success: (data) => {
                let response = `<p>${data}</p>`
                response+= '<p>Page refreshing in 3 seconds...</p>'
                $('.modal-body').html(response);
                setTimeout(() => { location.reload() }, 2400);
            }
        })
    }
    

    // $('#withdraw-review-appnext, #withdraw-review-rejnext').on('click', function (e) {
    //     // Get data from the first row
    //     var wtd_trans_no = $("#wtd_trans_no").val();
    //     var wtd_row_index = $("#wtd_row_no").val();
    //     var pagination_num = table.page.len();
    //     var table_size = table.rows().count();
    //     var remark = $('#notes').val();
    //     var id = $('#trans_withdraw_detail p').first().html();
    //     var userID = $('#member-details p').first().html();

    //     var audit_result = "Approve";
    //     var qaicash_api = "{% url 'Qaicash_approve_Payout' %}";
    //     if (e.target.id == "withdraw-review-rejnext") {
    //         // reject
    //         audit_result = "Reject";
    //         qaicash_api = "{% url 'Qaicash_reject_Payout' %}";
    //     }
        
    //     if (wtd_row_index == table_size) {
    //         $('#lastwithdraw').text("This is the last one");
    //         $('#lastwithdraw').css('color', 'red');
    //     }

    //     if (wtd_row_index % pagination_num == 0) {
    //         table.page('next').draw('page');
    //         wtd_row_index = wtd_row_index % pagination_num;
    //     } else if (wtd_row_index > pagination_num) {
    //         wtd_row_index = wtd_row_index % pagination_num;
    //     }
    //     sendDataToThirdParty(qaicash_api, id, userID, remark, wtd_row_index);            
    // });
</script>

</body>
</html>
{% endblock %}