{% extends "xadmin/base_site.html" %}

{% block content-nav %}
{% endblock %}

{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Withdrawal
        </h2>
    </div>

    <div class="panel-body">
        <!-- search bar and time range filter -->
        <div class="row">
            <div class='col-md-4'>
                <div class="input-group">
                    <input type=" text" id="search" class="form-control"
                        placeholder="Enter user ID, username or transaction number">
                    <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span
                            class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class='col-md-2' style="float: right">
                <div class='input-group date' id='withdraw_time_to'>
                    <input type='text' class="form-control" placeholder="To" id='max' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-2' style="float: right">
                <div class='input-group date' id='withdraw_time_from'>
                    <input type='text' class="form-control" placeholder="From" id='min' autocomplete="off" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- nav tab -->
        <div class="container nav-bar" style="width:99%">
            <nav>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#pending" role="tab" aria-controls="home"
                            aria-selected="true">PENDING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#approved" role="tab" aria-controls="profile"
                            aria-selected="false">APPROVED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#rejected" role="tab" aria-controls="contact"
                            aria-selected="false">REJECTED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#success" role="tab" aria-controls="contact"
                            aria-selected="false">SUCCESSFUL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#failed" role="tab" aria-controls="contact"
                            aria-selected="false">FAILED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#resend" role="tab" aria-controls="contact"
                            aria-selected="false">RESEND</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="tab-content datatable" id="myTabContent">
            <!-- PENDING TABLE -->
            <div class="tab-pane fade in active" id="pending" role="tabpanel" aria-labelledby="home-tab"
                style="margin-bottom: 50px;">
                <table id="withdrawal_pending_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">VIP LEVEL</th>
                            <th scope="col">RISK LEVEL</th>
                            <th scope="col">BANK</th>
                            <th scope="col">MEMBER BALANCE</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">WITHDRAWAL TODAY</th>
                            <th scope="col">WITHDRAWAL COUNT TODAY</th>
                            <th scope="col" style="display: none">pk</th>
                            <th scope="col" style="display: none">account</th>
                            <th scope="col">CHANNEL</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in pending_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <!-- vip level -->
                            <td>{{ tran.vip }}</td>
                            <td>{{ tran.risk_level }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.balance }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.withdrawal_today }}</td>
                            <td>{{ tran.withdrawal_count_today }}</td>
                            <td style="display: none">{{ tran.pk }}</td>
                            <td style="display: none">{{ tran.account }}</td>
                            <td>{{ tran.channel }}</td>
                            <td><button id="edit-pending-detail-btn" type="button" data-toggle="modal"
                                    data-target="#audit_withdraw">Audit</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- APPROVED TABLE -->
            <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="approved_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">BANK</th>
                            <th scope="col">CITY</th>
                            <th scope="col">NAME</th>
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">AUDIT TIME</th>
                            <th scope="col">AUDITOR</th>
                            <th scope="col">CHANNEL</th>
                            <th scope="col">NOTE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in approved_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.city }}</td>
                            <td>{{ tran.name }}</td>
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.audit_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.auditor }}</td>
                            <td>{{ tran.channel }}</td>
                            <td>{{ tran.note }}</td>
                            <td><button type='button' class='btn btn-sm btn-look'><i class='fa fa-search'></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- REJECTED TABLE -->
            <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="rejected_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">BANK</th>
                            <th scope="col">CITY</th>
                            <th scope="col">NAME</th>
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">AUDIT TIME</th>
                            <th scope="col">AUDITOR</th>
                            <th scope="col">CHANNEL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in rejected_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.city }}</td>
                            <td>{{ tran.name }}</td>
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.audit_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.auditor }}</td>
                            <td>{{ tran.channel }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- SUCCESSFUL TABLE -->
            <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="success_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">BANK</th>
                            <th scope="col">CITY</th>
                            <th scope="col">NAME</th>
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">AUDIT TIME</th>
                            <th scope="col">PROCESSING TIME</th>
                            <th scope="col">AUDITOR</th>
                            <th scope="col">CHANNEL</th>
                            <th scope="col">NOTE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in success_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.city }}</td>
                            <td>{{ tran.name }}</td>
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.audit_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.processing_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.auditor }}</td>
                            <td>{{ tran.channel }}</td>
                            <td>{{ tran.note }}</td>
                            <td><button type='button' class='btn btn-sm btn-look'><i class='fa fa-search'></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <!-- FAILED TABLE -->
            <div class="tab-pane fade" id="failed" role="tabpanel" aria-labelledby="profile-tab"
                style="margin-bottom: 50px;">
                <table id="failed_table" class="table-striped table-bordered hover compact"
                    style="width:100%; margin-bottom: 50px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">USERNAME</th>
                            <th scope="col">TRANSACTION NO.</th>
                            <th scope="col">BANK</th>
                            <th scope="col">CITY</th>
                            <th scope="col">NAME</th>
                            <th scope="col">ACCOUNT</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">APPLICATION TIME</th>
                            <th scope="col">AUDIT TIME</th>
                            <th scope="col">PROCESSING TIME</th>
                            <th scope="col">AUDITOR</th>
                            <th scope="col">CHANNEL</th>
                            <th scope="col">NOTE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in failed_tran %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tran.id }}</td>
                            <td>{{ tran.username }}</td>
                            <td>{{ tran.tran_no }}</td>
                            <td>{{ tran.bank }}</td>
                            <td>{{ tran.city }}</td>
                            <td>{{ tran.name }}</td>
                            <td>{{ tran.account }}</td>
                            <td>{{ tran.amount }}</td>
                            <td>{{ tran.app_time|date:'d/m/y H:i:s' }}</td>
                            <td>{{ tran.audit_time }}</td>
                            <td>{{ tran.auditor }}</td>
                            <td>{{ tran.channel }}</td>
                            <td>{{ tran.note }}</td>
                            <td><button type='button' class='btn btn-sm btn-look'><i class='fa fa-search'></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <label class="show-rows">SHOW ROWS</label>
            </div>

            <div class="tab-pane fade" id="resend" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>

        <!-- audit popup window -->
        <div class="modal fade" id="audit_withdraw" role="dialog">
            <div id="withdraw_request_pop" class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        Withdrawal request details
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'xadmin:withdrawal_view' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="audit_withdraw"></input>
                            <input type="hidden" id="wtd_trans_no" name="wtd_trans_no"></input>
                            <input type="hidden" id="wtd_row_no" name="wtd_row_no"></input>

                            <div class="row withdraw-request-word">
                                <div class="col-md-3" style="margin-left:12px">TRANSACTION DETAILS</div>
                                <div class="col-md-2" style="margin-left:7px">BANK DETAILS</div>
                                <div class="col-md-2" style="margin-left:10px">WITHDRAW DETAILS</div>
                                <div class="col-md-4" style="margin-left:10px">MEMBER DETAILS</div>
                            </div>

                            <div class="row" style="margin-left:10px;margin-top: 10px">
                                <!-- TRANSACTION DETAILS -->
                                <div class="col-md-3 withdraw-request-details">
                                    <div class="col-md-6 withdraw-request-title">
                                        <p>Transaction No.</p>
                                        <p>Application time</p>
                                        <p>Amount</p>
                                    </div>
                                    <div class="col-md-6 withdraw-request-data" id="trans_withdraw_detail">
                                    </div>
                                </div>

                                <!-- BANK DETAILS -->
                                <div class="col-md-2 withdraw-request-details">
                                    <div class="col-md-6 withdraw-request-title">
                                        <p>Channel</p>
                                        <p>Bank</p>
                                        <p>Account</p>
                                    </div>
                                    <div class="col-md-6 withdraw-request-data" id="bank_detail">
                                    </div>
                                </div>
                                <!-- WITHDRAW DETAILS -->
                                <div class="col-md-2 withdraw-request-details">
                                    <div class="col-md-6 withdraw-request-title">
                                        <p>Withdrawal today</p>
                                        <p>Withdrawal count today</p>
                                    </div>
                                    <div class="col-md-6 withdraw-request-data" id="withdraw_detail">
                                    </div>
                                </div>
                                <!-- MEMBER DETAILS -->
                                <div class="col-md-4 withdraw-request-details" style="padding-bottom: 50px">
                                    <div class="col-md-4 withdraw-request-title">
                                        <p>Member ID</p>
                                        <p>Username</p>
                                        <p>First Name</p>
                                        <p>Last Name</p>
                                    </div>
                                    <div class="col-md-3 withdraw-request-data" id="member_detail1">
                                    </div>
                                    <div class="col-md-3 withdraw-request-title">
                                        <p>VIP Level</p>
                                        <p>Risk Level</p>
                                        <p>Balance</p>
                                    </div>
                                    <div class="col-md-2 withdraw-request-data" id="member_detail2">
                                    </div>
                                </div>
                            </div>

                            <div id="risk">
                                <div class="row" style="margin-top: 30px;margin-left: 10px">
                                    <p><strong>RISK INFORMATION</strong></p>
                                </div>
                                <div class="row withdraw-request-word" style="margin-top: 20px;margin-left: -5px">
                                    <div class="col-md-6">REASON FOR MANUAL AUDIT</div>
                                    <div class="col-md-6">MAX RELATED DOWNLINE PROFIT</div>
                                </div>
                                <div class="row" style="margin-top: 30px;margin-left: 10px">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 30px;margin-left: 10px">
                                <p><strong>LATEST NOTES</strong></p>
                            </div>

                            <div class="row" style="margin-top: 30px;margin-left: 10px">
                                <p><strong>ACTIVE BONUSES</strong></p>
                            </div>

                            <!-- latest withdraws -->
                            <div class="row withdraw-request-notes" style="margin-top: 30px;margin-left: 10px">
                                <p><strong>LATEST WITHDRAWALS</strong></p>
                            </div>
                            <div id="latest_withdraw">
                                <table class="table-striped table-bordered"
                                    style="width: 100%; margin-top: 10px; margin-bottom: 40px">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">TRANSACTION NO.</th>
                                            <th scope="col">APPLICATION TIME</th>
                                            <th scope="col">BANK</th>
                                            <th scope="col">CITY</th>
                                            <th scope="col">NAME</th>
                                            <th scope="col">ACCOUNT</th>
                                            <th scope="col">AMOUNT</th>
                                            <th scope="col">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody id=latest_withdraws>
                                    </tbody>
                                </table>
                            </div>

                            <!-- notes -->

                            <div class="form-group">
                                <label for="withdraw_notes" class="withdraw-request-word"
                                    style="margin-left: 10px">NOTES</label>
                                <textarea type='text' id='notes' class="form-control" name="withdraw_notes"
                                    style="width: 40%;height: 100px;"
                                    placeholder="Add anything of importance"></textarea>

                                <div id="withdraw-request-button" style="margin-top:40px">
                                    <button type="button" class="btn btn-success"
                                        id="withdraw-review-a">Approve</button>
                                    <button type="button" class="btn btn-success" id="withdraw-review-appnext">Approve
                                        and Next</button>
                                    <button type="button" class="btn btn-danger" id="withdraw-review-r">Reject</button>
                                    <button type="button" class="btn btn-danger" id="withdraw-review-rejnext">Reject and
                                        Next</button>
                                    <button type="button" class="btn btn-primary" id="withdraw-review-cancel"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- datatables -->
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>

<!-- datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


<script>


    $(document).ready(function () {

        var csrftoken = $.cookie("csrftoken")

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // draw DataTable
        var table = $('#withdrawal_pending_table').DataTable({
            responsive: true,
            dom: 'B<ftilp>',
            buttons: [
                'csv'
            ],
            "columnDefs": [{
                "searchable": false, "targets": [0, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15],
            }],
            "language": {
                "info": " _START_ - _END_ of _TOTAL_",
                "infoEmpty": " 0 - 0 of 0",
                "infoFiltered": "",
                "paginate": {
                    "next": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;">></button>',
                    "previous": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;"><</button>'
                },
                "lengthMenu": "_MENU_",
            },
        });


        var other_table = $('#approved_table, #rejected_table, #success_table, #rejected_table, #failed_table').DataTable({
            responsive: true,
            dom: 'B<ftilp>',
            buttons: [
                'csv'
            ],
            "columnDefs": [{
                "searchable": false, "targets": [0, 4, 5, 6, 7, 8, 10, 11, 12],
            }],
            "language": {
                "info": " _START_ - _END_ of _TOTAL_",
                "infoEmpty": " 0 - 0 of 0",
                "infoFiltered": "",
                "paginate": {
                    "next": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;">></button>',
                    "previous": '<button type="button" class="btn default" style="border:solid 1px #bdbdbd;"><</button>'
                },
                "lengthMenu": "_MENU_",
            },
        });

        $(".dt-buttons .dt-button.buttons-csv.buttons-html5").text("Export")

        // user id, username, transaction no. search
        $('#search-btn').on('keyup click', function () {
            table.search($('#search').val()).draw();
            other_table.search($('#search').val()).draw();
        });


        // date range search
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#min').datepicker("getDate");
                var max = $('#max').datepicker("getDate");

                var dateParts = data[9].split("/");
                var newDate = dateParts[1] + '/' + dateParts[0] + '/' + dateParts[2]
                var startDate = new Date(newDate);

                if (min == null && max == null) { return true; }
                if (min == null && startDate <= max) { return true; }
                if (max == null && startDate >= min) { return true; }
                if (startDate <= max && startDate >= min) { return true; }
                return false;
            }
        );

        $("#min").datepicker({ onSelect: function () { table.draw(); other_table.draw(); }, changeMonth: true, changeYear: true });
        $("#max").datepicker({ onSelect: function () { table.draw(); other_table.draw(); }, changeMonth: true, changeYear: true });

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').change(function () {
            table.draw();
            other_table.draw();
        });

        // send data to pop-up window
        $('#withdrawal_pending_table tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            // transaction pk: data[12]
            // bank account: data[13]
            showTransactionDetail(data);
            showWithdrawDetail(data);
            showBankDetail(data);
            var user_id = data[1];
            $.when(
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:withdrawal_view' %}",
                    data: {
                        'type': 'getMemberInfo',
                        'user': user_id,
                    },
                }),
                $.ajax({
                    type: 'GET',
                    url: "{% url 'xadmin:withdrawal_view' %}",
                    data: {
                        'type': 'getLatestWithdraw',
                        'user': user_id,
                    },
                })
            ).then(function (data1, data2) {
                addMemberDetails(data1);
                addWithdrawRecord(data2, data[12], data[0]);
            });
            var container = $('#withdraw_request_pop');
            $(document).mouseup(function (e) {
                // if the target of the click isn't the container nor a descendant of the container
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    location.reload();
                }
            });
        });

        function addMemberDetails(data) {
            $("#member_detail1").empty();
            var content = "";
            content += "<p>" + data[0].id + "</p>";
            content += "<p>" + data[0].username + "</p>";
            content += "<p>" + data[0].first_name + "</p>";
            content += "<p>" + data[0].last_name + "</p>";
            $("#member_detail1").append(content);

            $("#member_detail2").empty();
            var content2 = "";
            content2 += "<p>" + data[0].vip_level + "</p>";
            content2 += "<p>" + data[0].risk_level + "</p>";
            content2 += "<p style='margin-top:25px'>" + data[0].balance + "</p>";
            $("#member_detail2").append(content2);
        }

        function addWithdrawRecord(data, trans_pk, index) {
            $("#latest_withdraws").empty();
            content = "";
            for (var i = 0; i < data[0].length; i++) {
                content += '<tr>'
                content += '<td>' + (i + 1) + '</td>';
                content += '<td>' + data[0][i].tran_no + '</td>';
                content += '<td>' + data[0][i].app_time + '' + '</td>';
                content += '<td>' + data[0][i].bank + '</td>';
                content += '<td>' + data[0][i].city + '</td>';
                content += '<td>' + data[0][i].name + '</td>';
                content += '<td>' + data[0][i].account + '</td>';
                content += '<td>' + data[0][i].amount + '</td>';
                content += '<td>' + data[0][i].status + '</td>';
                content += '</tr>'
            }
            $("#latest_withdraws").append(content);
            $("#wtd_trans_no").val(trans_pk);
            $("#wtd_row_no").val(index);
        }

        showBankDetail = function (data) {
            $("#bank_detail").empty();
            var content = "";
            // bank channel
            content += "<p>" + data[12] + "</p>";
            // bank name
            content += "<p>" + data[6] + "</p>";
            // bank account number
            content += "<p>" + data[13] + "</p>";
            $("#bank_detail").append(content);
        }

        showWithdrawDetail = function (data) {
            $("#withdraw_detail").empty();
            var content = "";
            // withdrawal today
            content += "<p>" + data[10] + "</p>";
            // withdrawal count today
            content += "<p style='margin-top:40px'>" + data[11] + "</p>";
            $("#withdraw_detail").append(content);
        }

        showTransactionDetail = function (data) {
            $("#trans_withdraw_detail").empty();
            var content = "";
            // tran no.
            content += "<p id='transaction_id'>" + data[3] + "</p>";
            // application time
            content += "<p>" + data[9] + "</p>";
            // amount
            content += "<p>" + data[8] + "</p>";
            $("#trans_withdraw_detail").append(content);
        }

        // only Qaicash need to be reviewed
        // double click button
        $('#withdraw-review-a').click(function () {
            $('#withdraw-review-a').html('Click to Approve');
            $('#withdraw-review-a').attr('id', 'withdraw-review-app');
            $('#withdraw-review-app').click(function () {
                $('#withdraw-review-app').attr('type', 'submit')
                $('#withdraw-review-app').attr('name', 'withdraw-review-app')
            });
        });

        $('#withdraw-review-r').click(function () {
            $('#withdraw-review-r').html('Click to Reject');
            $('#withdraw-review-r').attr('id', 'withdraw-review-rej');
            $('#withdraw-review-rej').click(function () {
                $('#withdraw-review-rej').attr('type', 'submit')
                $('#withdraw-review-rej').attr('name', 'withdraw-review-rej')
            });
        });

        $('#withdraw-review-cancel').click(function () {
            location.reload();
        });

        $('#withdraw-review-appnext, #withdraw-review-rejnext').on('click', function (e) {
            // Get data from the first row
            var wtd_trans_no = $("#wtd_trans_no").val();
            var wtd_row_index = $("#wtd_row_no").val();
            var pagination_num = table.page.len();
            var table_size = table.rows().count();
            var remark = $('#notes').val();
            var id = $('#trans_withdraw_detail p').first().html();
            var username = $('#member_detail1 p').next().html();

            var audit_result = "Approve";
            var qaicash_api = "{% url 'Qaicash_approve_Payout' %}";
            if (e.target.id == "withdraw-review-rejnext") {
                // reject
                audit_result = "Reject";
                qaicash_api = "{% url 'Qaicash_reject_Payout' %}";
            }
            $.ajax({
                type: 'POST',
                url: qaicash_api,
                data: {
                    // transaction_id
                    'order_id': id,
                    // username
                    'user_id': username,
                    // remark
                    'remark': remark,
                },
                success: function (data) {
                }
            })

            if (wtd_row_index == table_size) {
                $('#lastwithdraw').text("This is the last one");
                $('#lastwithdraw').css('color', 'red');
            }

            if (wtd_row_index % pagination_num == 0) {
                table.page('next').draw('page');
                wtd_row_index = wtd_row_index % pagination_num;
            } else if (wtd_row_index > pagination_num) {
                wtd_row_index = wtd_row_index % pagination_num;
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'xadmin:withdrawal_view' %}",
                data: {
                    'type': 'reviewTransaction',
                    'wtd_trans_no': wtd_trans_no,
                    'result': audit_result,
                },
                success: function (data) {
                    // auto open next row audit btn
                    $('#withdrawal_pending_table tbody tr').eq(wtd_row_index).find('#edit-pending-detail-btn').click();
                }
            })
            
        });
    });


</script>

{% endblock %}