{% extends "xadmin/base_site.html" %}

{% block content-nav %}
{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'xadmin/css/ibet-admin-datatable.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'xadmin/css/ibet-admin-agent.css' %}"/>
</head>

<body>
<input type="hidden" id="admin_user" value={{ user.username }}>

<!-- Overview -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Overview
        </h2>
    </div>
    <div class="panel-body">
        <div class="row overview-subtitle">
            <div class="col-md-3 affliates-count-ftd-title ">AFFILIATES COUNT</div>
            <div class="col-md-2 affliates-count-ftd-title ">FTD THIS MONTH</div>
            <div class="col-md-2 active-ggr-title">ACTIVE THIS MONTH</div>
            <div class="col-md-2 active-ggr-title">GGR THIS MONTH</div>
            <div class="col-md-2 affliates-acquired-title">AFFILIATES ACQUIRED THIS MONTH</div>
        </div>
        <div class="row affliates-count-font">
            <div class="col-md-3 table-block affliates-count-block">
                <div class="first-row">
                    <div class="col-sm-4 ">
                        <strong>Active</strong>
                    </div>
                    <div class="col-sm-2 ">
                        {{ active_number }}
                    </div>
                    <div class="col-sm-4 ">
                        <strong>VIP</strong>
                    </div>
                    <div class="col-sm-2 ">
                        {{ vip_number }}
                    </div>
                </div>

                <div class="second-row">
                    <div class="col-sm-4 ">
                        <strong>Negative</strong>
                    </div>
                    <div class="col-sm-2 ">
                        {{ negative_number }}
                    </div>
                    <div class="col-sm-4 ">
                        <strong>Deactivated</strong>
                    </div>
                    <div class="col-sm-2 ">
                        {{ deactivated_number }}
                    </div>
                </div>
            </div>
            <div class="col-md-2 table-block ftd-active-block"><strong>{{ ftd_this_month }}</strong></div>
            <!-- need to know the definition of active affiliates -->
            <div class="col-md-2 table-block ftd-active-block"><strong>{{ actives_this_month }}</strong></div>
            <div class="col-md-2 table-block ggr-acquired-block"><strong>${{ ggr_this_month }}</strong></div>
            <div class="col-md-3 table-block ggr-acquired-block"><strong>{{ affiliates_acquired_this_month }}</strong>
            </div>
        </div>
    </div>
</div>

<!-- Commission Table -->
<div class="panel panel-default" style="width: 50%; display:inline-block; vertical-align: top;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Commission
        </h2>
    </div>
    <div class="panel-body">
        <div>
            <table id="commission" class="table-striped table-bordered table-title" style="margin-bottom: 100px">
                <thead>
                    <tr>
                        <th scope="col">MONTH</th>
                        <th scope="col">AFFILIATE COUNT</th>
                        <th scope="col">ACTIVE DOWNLINE</th>
                        <th scope="col">COMMISSION</th>
                        <th scope="col">STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="font-size: 13px">
                    {% for tran in commission_transaction %}
                    <tr>
                        <td>{{ tran.commission_release_month|date:'M' }} {{ tran.commission_release_month|date:'Y' }}
                        </td>
                        <td>{{ tran.affiliate_number }}</td>
                        <td>{{ tran.active_downline }}</td>
                        <td>{{ tran.total_commission }}</td>
                        <td>{{ tran.commission_status }}</td>
                        <td><button id="audit-commission-btn" type="button" data-toggle="modal"
                                data-target="#audit_commission"><i class="fa fa-search"></i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="show-rows">SHOW ROWS</label>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#edit-commission">Edit
                Commission
            </button>
        </div>
    </div>
</div>

<!-- Edit System Commission Pop Up -->
<div class="modal fade" id="edit-commission" role="dialog">
    <div id="edit-commission-pop" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f5f5f5;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong class="model-header-text">Edit affiliate commission levels</strong>
            </div>

            <div class="system-commission-levels">
                <p>These are standard commission levels. Separate levels can be set up for
                    individual affiliates on their page</p>
                <strong style="font-size:13px;">COMMISSION LEVELS</strong>

                {% for i in system_commission_type %}
                <div class="row" id="system-commission-level-details">
                    <input type="hidden" value="{{ i.pk }}" id="commission_id">
                    <div class="col-md-1" style="background-color: #d2d2d2; height: 100px;">
                        <label id="commission_level_label" class="commission_level">{{ i.commission_level }}</label>
                    </div>
                    <div class="col-md-2">
                        <label><br>COMMISSION RATE*</label>
                        <input class="input-value" type="number" id='commission_rate'
                               name="commission_rate" value="{{ i.commission_percentage }}" required="required">
                        <input class="sign" value="&#37;" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>DOWNLINE COMMISSION RATE*</label>
                        <input class="input-value" type="number" id='downline_commission_rate'
                               name="downline_commission_rate" value="{{ i.downline_commission_percentage }}"
                               required="required">
                        <input class="sign" value="&#37;" disabled>
                    </div>
                    <div class="col-md-2">
                        <label><br>ACTIVE DOWNLINE*</label>
                        <input class="sign" value="&#8805;" ; disabled>
                        <input class="input-value" type="number" id='active_downline'
                               name="active_downline" value="{{ i.active_downline_needed }}" required="required">
                    </div>
                    <div class="col-md-2">
                        <label>DOWNLINE MONTHLY FTD*</label>
                        <input class="sign" value="&#8805;" ; disabled>
                        <input class="input-value" type="number" id='downline_monthly_ftd' name="downline_monthly_ftd"
                               value="{{ i.monthly_downline_ftd_needed }}" required="required">
                    </div>
                    <div class="col-md-2">
                        <label><br>NGR*</label><br>
                        <input class="sign" value="&#8805;" ; disabled>
                        <input class="input-value" type="number" id='downline_ngr'
                               name="downline_ngr" value="{{ i.ngr }}" required="required">
                    </div>
                    {% if forloop.last %}
                    <div class="col-md-1" style="width:10px" id="delete-commission-level">
                        <label><br><br></label>
                        <button type="button" class="btn btn-danger delete"
                                data-toggle="tooltip" id="delete-commission-level-btn">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div id="add-level-btn">
                <p id='add-level-errorMessage'>&nbsp;</p>
                <button type="button" class="btn btn-primary" id="add-commission-level"><i
                        class="fa fa-plus"></i>
                </button>
                <br>
            </div>

            <div id="system-commission-change">
                <p>REASON FOR CHANGES</p>
                <textarea type='text' id="system-commission-change-remark" class="form-control"
                          placeholder="Please provide a brief explanation."></textarea>
            </div>

            <div id="system-commission-btn-group">
                <button type="button" class="btn btn-primary" id="system-commission-save-btn">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Commission Pop Up -->
<div class="modal fade" id="audit_commission" role="dialog">
    <div id="audit_commission_pop" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                Commission statement
            </div>
            <div class="commission-info">
                <div class="row">
                    <div class="col-md-2"><strong>Period</strong></div>
                    <div class="col-md-3" id="period"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Valid affiliate count</strong></div>
                    <div class="col-md-3" id="valid-affiliate-count"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Total commission</strong></div>
                    <div class="col-md-3" id="total-commission"></div>
                </div>
            </div>

            <div class="modal-body">
                <form action="{% url 'xadmin:agent_detail' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="audit_commission_release"></input>
                    <input type="hidden" id="commission_month" name="commission_month"></input>

                    <div id="commission_monthly_history">
                        <table id="commission_detail" class="table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">ALL</th>
                                <th scope="col">AFFILIATE ID</th>
                                <th scope="col">ACTIVE PLAYERS</th>
                                <th scope="col">DOWNLINE FIRST DEPOSIT COUNT</th>
                                <th scope="col">COMMISSION RATE</th>
                                <th scope="col">DEPOSIT</th>
                                <th scope="col">WITHDRAWAL</th>
                                <th scope="col">SYSTEM BONUS</th>
                                <th scope="col">TOTAL WINLOSS</th>
                                <th scope="col">COMMISSION</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">TIME OF RELEASE</th>
                                <th scope="col">OPEARTOR</th>
                                <th scope="col" style="display: none"></th>
                            </tr>
                            </thead>
                            <tbody id=commission_statement>
                            </tbody>
                        </table>
                        <label class="show-rows">SHOW ROWS</label>
                    </div>

                    <div class="form-group">
                        <div id="commission-audit-button">
                            <button type="button" class="btn btn-success" id="commission-release-btn">Release <span
                                    id="selected"></span></button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Affiliate Application Table -->
<div class="panel panel-default" style="width: 47%; display:inline-block; vertical-align: top; margin-left: 2%;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Affiliate Application
        </h2>
    </div>

    <div class="panel-body">
        <div style="overflow-x: scroll;">
            <table id="affiliate_application" class="table-striped table-bordered table-title"
                   style="margin-bottom: 100px">
                <thead>
                <tr>
                    <th scope="col" style="width:15%">PLAYER ID</th>
                    <th scope="col" style="width:20%">APPLICATION DATE</th>
                    <th scope="col" style="width:5%"></th>
                </tr>
                </thead>
                <tbody style="font-size: 13px">
                {% for affiliate in affiliate_application_list %}
                <tr>
                    <td><a id="userID" href="{% url 'xadmin:user_detail' affiliate.pk %}">{{ affiliate.pk }}</a>
                    </td>
                    <td>{{ affiliate.user_application_time }}</td>
                    <td>
                        <button id="audit-affiliate-application-btn" type="button" data-toggle="modal"
                                data-target="#audit-affiliate-application">Review
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <label class="show-rows">SHOW ROWS</label>
        </div>
    </div>
</div>

<!-- Affiliate Application Pop up -->
<div class="modal fade" id="audit-affiliate-application" role="dialog">
    <div id="audit_affiliate_app_pop" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f5f5f5;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <strong class="model-header-text">Affiliate application</strong>
                <div class="model-header-time">
                    {{ time }}
                </div>
            </div>

            <div class="user-application-info">
                <div class="row">
                    <div class="col-md-2"><strong>
                        <ul>
                            <li>Player ID</li>
                            <li>Username</li>
                            <li>First name</li>
                            <li>Last name</li>
                            <li>Birthday</li>
                        </ul>
                    </strong></div>
                    <div class="col-md-3">
                        <ul id="user-info-first-col">
                        </ul>
                    </div>
                    <div class="col-md-2"><strong>
                        <ul>
                            <li>Email</li>
                            <li>Phone</li>
                            <li>Address</li>
                        </ul>
                    </strong></div>
                    <div class="col-md-3">
                        <ul id="user-info-second-col">
                        </ul>
                    </div>
                </div>
            </div>

            <div id="affiliate-application-button">
                <input type="hidden" id="affiliate_id">
                <button type="button" class="btn btn-success"
                        id="affiliate-application-approve-btn">Approve
                </button>
                <button type="button" class="btn btn-danger"
                        id="affiliate-application-decline-btn">Decline
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Affiliate Table -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Affiliates
        </h2>
    </div>
    <div class="panel-body">
        <div class='row' style="width:35%; margin: 0 0 10px 5px;">
            <div class="input-group">
                <input type="text" id="affiliate-search" class="form-control"
                       placeholder="Enter affiliate ID, username ">
                <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span
                        class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
        <div style="overflow-x: scroll;">
            <table id="affiliates" class="table-striped table-bordered table-title hover"
                   style="margin-bottom: 100px">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">AFFILIATE ID</th>
                    <th scope="col">MANAGER</th>
                    <th scope="col">ACTIVE USERS</th>
                    <th scope="col">DOWNLINE DEPOSIT</th>
                    <th scope="col">TURNOVER</th>
                    <th scope="col">DOWNLINE GGR</th>
                    <th scope="col">COMMISSION LAST MONTH</th>
                    <th scope="col">COMMISSION MONTH BEFORE</th>
                    <th scope="col">BALANCE</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">LEVEL</th>
                </tr>
                </thead>
                <tbody style="font-size: 13px">
                {% for i in affiliates_table %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'xadmin:agent_detail' i.id %}"> {{ i.id }}</a></td>
                    <td>{{ i.manager }}</td>
                    <td>{{ i.active_users }}</td>
                    <td>{{ i.downlines_deposit }}</td>
                    <td>{{ i.turnover }}</td>
                    <td>{{ i.downlines_ggr }}</td>
                    <td>{{ i.commission_last_month }}</td>
                    <td>{{ i.commission_month_before }}</td>
                    <td>{{ i.balance }}</td>
                    <td>{{ i.status }}</td>
                    <td>{{ i.level }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <label class="show-rows">SHOW ROWS</label>
        </div>

    </div>
</div>

<!-- datatables -->
<!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>

<!-- datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
      type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<script src="{% static 'xadmin/js/ibet-admin-agent-list.js' %}"></script>

<script>
var agent_list_url = "{% url 'xadmin:agentview' %}";
var admin_user = "{{ user.username }}";

</script>
</body>
</html>
{% endblock %}