{% extends 'xadmin/base_site.html' %}

{% block content-nav %}
{% endblock %}

{% block content %} 
<div class="row">

    <div class="col-md-2">
        <div style="font-size: 0.9em; padding-bottom:5px;padding-top:10px;">STATUS</div>
        <select class="form-control" id="status-selection">
            <option value="-1">ALL</option>
            {% for key, value in status.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6">&nbsp;
    </div>
    <div class='col-md-3'>
        <!-- <div class='row'>
            <input id='search_input' class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button id="search_btn" type='button' class="btn btn-primary" style="display: inline-block;">submit</button>
        </div> -->
        <div>
            <div style="font-size: 0.9em; padding-bottom:5px;padding-top:10px;">FIND A MEMBER</div>
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Enter member ID, name, phone or email" >
                <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </div>
    <!-- <div class='col-md-8'> -->
        <!-- {% block time_search %} -->
        <!-- <label>Date Range</label>
        <div class="row">
            <div class='col-md-4'>
                <div class='input-group date' id='user_list_time_from'>
                    <input type='text' class="form-control" placeholder="From" id='user_list_time_from_input' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='input-group date' id='user_list_time_to'>
                    <input type='text' class="form-control" placeholder="To"  id='user_list_time_to_input'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-md-4'>
                <button id="user_list_time_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div> -->
        <!-- {% endblock %} -->
    <!-- </div> -->
</div>

<div class="row">
    <div class="col-md-3">
        {% if searchError %}
            <div style="margin-top: 12%;color: red;">{{ searchError }}</div>
        {% endif %}
    </div>
</div>

<div style="margin-top:40px;">
    <!-- <ul class="nav nav-tabs">
        <li class="active" id="active-accounts"><a data-toggle="tab" class="tab-label" href="#active-account">ACTIVE ACCOUNTS</a></li>
        <li id="close-accounts"><a data-toggle="tab"  class="tab-label" href="#close-account">CLOSE ACCOUNTS</a></li>
    </ul> -->

    <div class="tab-content wrapper" style="width: 99%">
        <div id="active-account" class="tab-pane fade in active">
            <table class="custom-user" id="user_list_table">
            <!-- <table style='overflow-x: scroll;'> -->
                <thead class="thead-dark">
                    <tr>
                        <th style="width:85px;">PLAYER ID</th>
                        <th style="width:120px;">USERNAME</th>
                        <th style="width:126px;">PLAYER SOURCE</th>
                        <th style="width:126px;">MANAGER</th>
                        <th style="width:126px;">REGISTRATION DATE</th>
                        <th style="width:126px;">FTD DATE</th>
                        <th style="width:126px;">FTD AMOUNT</th>
                        <th style="width:126px;">BALANCE</th>
                        <th style="width:300px;">4 CODE ADDRESS</th>
                        <th style="word-break: break-word; width:399px;">DEPOSIT/ TURNOVER</th>
                        <th style="word-break: break-word; width:600px;">BONUS/ TURNOVER</th>
                        <th style="width:126px;">CONTRIBUTION</th>
                        <th style="width:126px;">ACTIVE DAYS</th>
                        <th style="width:126px;">STATUS</th>
                        <th style="width:126px;">STATUS CHANGED</th>
                        <th style="width:126px;">CHANGED BY</th>
                        <th style="width:126px;">CLOSURE REASON</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='user_list_tbody'>
                    {% for user in user_data %} 
                    <tr>
                        <td><a href="{% url 'xadmin:user_detail' user.id %}">{{ user.id }}</a></td>
                        <td><a href="{% url 'xadmin:user_detail' user.id %}">{{ user.username }}</a></td>
                        <!-- <td>{{ trans }}</td> -->
                        <td>{{ user.source }}</td>
                        <td>{{ user.manager }}</td>
                        {% if user.time_of_registration %}
                            <td>{{ user.time_of_registration }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if user.ftd_time %}
                            <td>{{ user.ftd_time }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td></td>
                        <td>{{ user.balance|floatformat:2 }}</td>
                        <td>
                            {% if user.phone %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="<div>Phone number</div><div>{{ user.phone }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-phone" style="margin-left: -3px;"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-info btn-sm" style="visibility: hidden;" data-toggle="tooltip" title="<div>Phone number</div><div>{{ user.phone }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-phone" style="margin-left: -3px;"></i>
                                </button>
                            {% endif %}
                            {% if user.address %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="<div>Address</div><div>{{ user.address }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-home" style="margin-left: -3px;"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-info btn-sm" style="visibility: hidden;" data-toggle="tooltip" title="<div>Address</div><div>{{ user.address }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-home" style="margin-left: -3px;"></i>
                                </button>
                            {% endif %}
                            {% if user.id_card %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="<div>User ID</div><div>{{ user.id_card }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fas fa-id-card" style="margin-left: -3px;"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-info btn-sm" style="visibility: hidden;" data-toggle="tooltip" title="<div>User ID</div><div>{{ user.id_card }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fas fa-id-card" style="margin-left: -3px;"></i>
                                </button>
                            {% endif %}
                            {% if user.last_login_ip.ip_addr %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="<div>Last Login IP</div><div>{{ user.last_login_ip.ip_addr }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-globe" style="margin-left: -3px;"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-info btn-sm" style="visibility: hidden;" data-toggle="tooltip" title="<div>Last Login IP</div><div>{{ user.last_login_ip.ip_addr }}</div>" data-placement="top" id="phone-tooltip" data-html="true">
                                <i class="fa fa-globe" style="margin-left: -3px;"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td>{{ user.deposit_turnover }}</td>
                        <td>{{ user.bonus_turnover }}</td>
                        <td>{{ user.contribution }}</td>
                        <td>{{ user.active_days }}</td>
                        <td>{{ user.member_status }}</td>
                        <td>{{ user.status_changed }}</td>
                        <td>{{ user.changed_by }}</td>
                        <td>{{ user.closure_reason }}</td>
                        <td><button id="user_detail_button" type='button' class="btn btn-primary" onclick="viewUserInfo('{{ user.id }}')" style="display: inline-block; float: right;"  data-toggle="modal" data-target="#user_detail_button"><span class="glyphicon glyphicon-search"></span></td>
                            <!-- <td> -->
                            <!-- <a href="#" class="btn btn-info btn-sm" style="background-color: #5f9ea0; border-color: #5f9ea0;">
                            <span style="margin-left: -3px;">W</span>
                            </a>
                            <a href="#" class="btn btn-info btn-sm" style="background-color:#6666ff; border-color: #6666ff;">
                            <span style="margin-left: -3px;">M</span>
                            </a>
                            <a href="#" class="btn btn-info btn-sm" style="background-color:#4884b5; border-color: #4884b5;">
                            <span style="margin-left: -2px;">P</span>
                            </a>
                            <a href="#" class="btn btn-info btn-sm" style="background-color:#556b2f; border-color: #556b2f;">
                            <span style="margin-left: -1px;">T</span>
                            </a> -->
                        <!-- </td> -->
                    </tr>


                    <div class="modal fade" id="user_detail_button" role="dialog">
                            <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #ffa313; color:white">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Overview member details</h4>
                                        <!-- <h6 style="float: right;">Update Time:</h6> -->
                                    </div>
                                    <div class="modal-body">
                                        <div class='row'>
                                            <form>
                                                {% csrf_token %}
                                                <div class='col-md-6'>
                                                    <div class="form-group">
                                                        <div for="member_id" class="edit-member-info-label" style="margin-top:0px;">MEMBER ID</div>
                                                        <input class="form-control" name="member_id" value="" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="username" class="edit-member-info-label">USERNAME</div>
                                                        <input class="form-control" name="member_username" value="" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="id_number" class="edit-member-info-label">ID NUMBER</div>
                                                        <input class="form-control" name="id_number" value="" disabled>
                                                    </div>
                                                    
                                                    <div class="form-group" style="border-bottom: 0px solid #EEE;">
                                                        <div for="id_number" class="edit-member-info-label">BIRTHDAY</div>
                                                        <div class="row">
                                                            <div class="col-md-4" style="padding-right: 0px"> <input class="form-control" name="member_birthday_day" value="" disabled></div>
                                                            <div class="col-md-4" style="padding: 0px 6px"> <input class="form-control" name="member_birthday_month" value="" disabled></div>
                                                            <div class="col-md-4" style="padding-left:1px"> <input class="form-control" name="member_birthday_year" value="" disabled></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="member_status" class="edit-member-info-label" >STATUS</div>
                                                        <select class="form-control" name="member_status" value=""  disabled>
                                                            <option value=""></option>
                                                            <option value="0">Normal</option>
                                                            <option value="1">Suspicious</option>
                                                            <option value="2">Restricted</option>
                                                            <option value="3">Closed</option>
                                                            <option value="4">Blacklisted</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="member_segment" class="edit-member-info-label">PLAYER SEGMENT</div>
                                                        <select class="form-control" disabled value="" name="member_segment">
                                                            <option value=""></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="risk_level" class="edit-member-info-label">RISK LEVEL</div>
                                                        <select class="form-control" disabled value="" name="risk_level">
                                                            <option value="">Defined by system</option>
                                                            <option value="0">Very High</option>
                                                            <option value="1">High</option>
                                                            <option value="2">Medium</option>
                                                            <option value="3">Low</option>
                                                            <option value="4">Very Low</option>
                                                            <option value="5">VIP</option>
                                                            <option value="5">Business</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="manger" class="edit-member-info-label">MANAGER</div>
                                                        <input class="form-control" name="manger" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="email" class="edit-member-info-label">EMAIL</div>
                                                        <input type='email' class="form-control" name="email" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="phone" class="edit-member-info-label">PHONE</div>
                                                        <input class="form-control" name="phone" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <div for="address" class="edit-member-info-label">ADDRESS</div>
                                                        <input class="form-control" name="address" style="height: 140px;" value="">
                                                        <div class="row" style="margin-top: 8px;">
                                                            <div class="col-md-7" style="padding-right: 0px;">
                                                                <input class="form-control" name="city" value="">
                                                            </div>
                                                            <div class="col-md-5" style="padding-left: 5px;">
                                                                <input class="form-control" name="zipcode" value="">
                                                            </div>
                                                        </div>
                                                        <div style="margin-top: 8px;">
                                                            <input class="form-control" name="country" value="">
                                                        </div>
                                                    </div>
                                                    <!-- {% if customuser.block == False %}
                                                    <div>
                                                        <button type="button" id="close-account-btn" class="btn btn-danger" style="margin-top: 20px;">
                                                            <span class="glyphicon glyphicon-trash" style="color:white; padding-right: 20%; margin-left: -5px;"></span>Close account
                                                        </button>
                                                    </div>
                                                    {% else %}
                                                    <div>
                                                        <button type="button" id="open-account-btn" class="btn btn-success" style="margin-top: 20px;" onclick="userBlockAction('open')">
                                                            Open account
                                                        </button>
                                                    </div>
                                                    {% endif %} -->
                                                    <!-- <p id='errorMessage'>&nbsp;</p> -->
                                                    <!-- <button type="submit" id="submitButton" class="btn btn-primary submit-btn">Save</button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
                                                </div>
                                                <div class="col-md-6">
                                                    {% if userPhotoId %}
                                                    <img id="user-photo-img" src="{{ userPhotoId }}">
                                                    {% else %}
                                                    <img id="user-photo-img" src="https://www.imagemet.com/wp-content/uploads/2016/12/placeholder.png" alt="User ID Photo">
                                                    {% endif %}
                                                    <div>&nbsp;</div>
                                                    <div class="row">
                                                        <div class='col-md-6'>
                                                            <div>Time of application</div>
                                                            <div>Time of review</div>
                                                            <div>Reviewer</div>
                                                        </div>
                                                        <div class='col-md-6'>
                                                            <div class="time_of_application">Time of application</div>
                                                            <div class="time_of_review">Time of review</div>
                                                            <div class="time_of_reviewer">Reviewer</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div> -->
                                </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row user-list-control-group">
    <div class='col-md-1'>
        <div>&nbsp;</div>
        <button class="btn btn-primary" onclick="exportUserList();">Export</button>
    </div>
    <div class='col-md-9' style="margin-right: 70px; width: 62%;"></div>
    <div class='col-md-1' style="width:125px;">
        <div>SHOW ROWS</div>
        <select id="pagination_value"  class="form-control">
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>
    </div>
    <div class='col-md-1' style="width:10%">
        <div>&nbsp;</div>
        <ul class="pagination" style="margin:0px;">
            {% if isFirstPage is True %}
                <li class="page-item disabled" id='perviousPage'>
                <a class="page-link" href="javascript:getPervious();"><i class='fas fa-caret-left'></i></a>
                </li>
            {% else %}
                <li class="page-item " id='perviousPage'>
                    <a class="page-link" href="javascript:getPervious();"><i class='fas fa-caret-left'></i></a>
                </li>
            {% endif %}
            {% if isLastPage is True %}
                <li class="page-item disabled" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
            {% else %}
                <li class="page-item" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
            {% endif %}
        </ul>
    </div>
        
    <!-- </div> -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<script>

function viewUserInfo(userId) {
    $.ajax({
        type: "GET",
        url: "{% url 'get_user_info' %}",
        data:{ 
            'user_id': userId,
        },
        success: function(response)
        {
            var month = ''
                var day = ''
                var year = ''
            if (response.birthday) {
                var list = response.birthday.split('/');
                month = list[0]
                day = list[1]
                year = list[2]
            }
            $("input[name*='member_id']").val(response.userId);
            $("input[name*='member_username']").val(response.username);
            $("input[name*='member_name']").val(response.name);
            $("input[name*='id_number']").val(response.idNumber);
            $("input[name*='member_birthday_day']").val(day);
            $("input[name*='member_birthday_month']").val(month);
            $("input[name*='member_birthday_year']").val(year);
            $("select[name*='member_status']").val(response.status);
            $("input[name*='member_segment']").val(response.playerSegment);
            $("input[name*='risk_level']").val(response.riskLevel);
            $("input[name*='manger']").val(response.manger);
            $("input[name*='email']").val(response.email);
            $("input[name*='phone']").val(response.phone);
            $("input[name*='address']").val(response.address);
            $("input[name*='city']").val(response.city);
            $("input[name*='country']").val(response.country);
            $("input[name*='zipcode']").val(response.zipcode);
            $('.time_of_application').text(response.idApplicationTime);
            $('.time_of_review').text(response.idReviewTime);
            $('.time_of_reviewer').text(response.idReviewer);
        }
    });

}

$(document).ready(function() {

    var previousURL = document.referrer;

    $("#back-btn").attr("href", previousURL);

    var csrftoken = $.cookie("csrftoken");
    // console.log(csrftoken);

    // parse url
    paramsMap = {
        'search': '',
        'pageSize': 20,
        'offset': 0,
        'status': -1
    };
    var parsedUrl = new URL(window.location.href);
    if (parsedUrl.searchParams.get("search") !== null) {
        paramsMap['search'] = parsedUrl.searchParams.get("search");
    }
    if (parsedUrl.searchParams.get("pageSize") !== null) {
        paramsMap['pageSize'] = Number(parsedUrl.searchParams.get("pageSize"));
    }
    if (parsedUrl.searchParams.get("offset") !== null) {
        paramsMap['offset'] = Number(parsedUrl.searchParams.get("offset"));
    }
    if (parsedUrl.searchParams.get("status") !== null) {
        paramsMap['status'] = parsedUrl.searchParams.get("status");
    }

    if (parsedUrl.searchParams.get("status") == '' || !parsedUrl.searchParams.get("status")) {
        $("#status-selection").val("-1");
    } else {
        $("#status-selection").val(parsedUrl.searchParams.get("status"));
    }
    
    // if (parsedUrl.searchParams.get("block") == 'true') {
    //     $("#status-selection").val('1');
    //     // $("#active-accounts").removeClass('active');
    // } else {
    //     $("#status-selection").val('0');
    //     // $("#active-accounts").addClass('active');
    //     // $("#close-accounts").removeClass('active');
    // }

    $("#status-selection").on('change', function() {
        var active = $(this).val();
        if (active == "-1") {
            paramsMap['status'] = ""
        } else {
            paramsMap['status'] = active
        }
        var pageSize = paramsMap['pageSize'];
        // var oldFromItem = 0;
        // var newFromItem = Number(oldFromItem) + Number(pageSize);
        var status = paramsMap['status'];
        
        window.location.href = getUserListRedirectUrl(pageSize, 0, status, "");
    });

    $('#pagination_value').val(paramsMap['pageSize']);

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    $("#search").on('keyup', function () {
        if( this.value.length < 2 ) return;
        searchOpen();
    });

    function searchOpen() {
        var search = $('#search').val();
        var status = paramsMap['status'];
        var url = "{% url 'user_autocomplete_search' %}" + "?search=" + search + "&status=" + status;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                // console.log(data);
                searchResult(data, search);
            },
            error: function () {
                // console.log('error');
            }

        });
    }

    function searchResult(data, term) {
        
        var ids = data['id'];
        var usernames = data['username'];
        var emails = data['email'];
        var phones = data['phone'];
        var firstNames = data['firstName'];
        var lastNames = data['lastName'];
        
        var sourceList = [];
        if ($.isNumeric(term)) {
            if (ids.length > 0) {
                sourceList.push({
                    'type': 'category',
                    'label': term,
                    'value': 'MEMBER RESULTS'
                });
                for (var i = 0; i < ids.length; i++) {
                    sourceList.push({
                        'type': 'username',
                        'label': term,
                        'value': ids[i]['id'],
                        'id': ids[i]['id']
                    });
                }
            }
        } else {
            if (usernames.length > 0) {
                sourceList.push({
                    'type': 'category',
                    'label': term,
                    'value': 'MEMBER RESULTS'
                });

                for (var i = 0; i < usernames.length; i++) {
                    sourceList.push({
                        'type': 'username',
                        'label': term,
                        'value': usernames[i]['username'],
                        'id': usernames[i]['id'],
                    });
                }
            }
        }
        if (emails.length > 0 || phones.length > 0 || firstNames.length > 0 || lastNames.length > 0) {
            sourceList.push({
                'type': 'category',
                'label': term,
                'value': 'MEMBER DETAILS RESULTS'
            });
        }
        if (emails.length > 0) {
            for (var i = 0; i < emails.length; i++) {
                sourceList.push({
                    'type': 'email',
                    'label': term,
                    'value': emails[i]['email'],
                    'id': emails[i]['id'],
                });
            }
        }
        if (phones.length > 0) {
            for (var i = 0; i < phones.length; i++) {
                sourceList.push({
                    'type': 'phone',
                    'label': term,
                    'value': phones[i]['phone'],
                    'id': phones[i]['id'],
                });
            }  
        }
        if (firstNames.length > 0) {
            for (var i = 0; i < firstNames.length; i++) {
                sourceList.push({
                    'type': 'name',
                    'label': term,
                    'value': firstNames[i]['firstName'],
                    'id': firstNames[i]['id'],
                });
            }
        }
        if (lastNames.length > 0) {
            for (var i = 0; i < lastNames.length; i++) {
                sourceList.push({
                    'type': 'name',
                    'label': term,
                    'value': lastNames[i]['lastName'],
                    'id': lastNames[i]['id'],
                });
            }
        }
        // console.log(sourceList);
        $( "#search" ).autocomplete({
            source: sourceList,
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    if (item.type === 'category') {
                        return $('<li class="ui-state-disabled search-result" style="margin: 0px 13px;">')
                        .append(item.value)
                        .appendTo(ul);
                        // ul.append("<li class='ui-autocomplete-group'>" + item.value + "</li>");
                    } else {
                        var url = "{% url 'xadmin:user_detail' 123 %}".replace('123', item.id);
                        if (item.type == 'username') {
                            return $('<li>')
                            .append('<div style="margin: 0px 13px; color:blue;"><a href="' + url + '"><i class="fa fa-user" style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
                            .appendTo(ul);
                        } else if (item.type == 'email') {
                            return $('<li>')
                            .append('<div style="margin: 0px 13px;"><a href="' + url + '"><i class="fa fa-envelope"  style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
                            .appendTo(ul);
                        } else if (item.type == 'phone') {
                            return $('<li>')
                            .append('<div style="margin: 0px 13px;"><a href="' + url + '"><i class="fa fa-phone"  style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
                            .appendTo(ul);
                        } else if (item.type == 'name') {
                            return $('<li>')
                            .append('<div style="margin: 0px 13px;"><a href="' + url + '"><i class="fas fa-id-card"  style="padding: 7px; font-size: 0.83em;" aria-hidden="true"></i>' + item.value + '</a></div>')
                            .appendTo(ul);
                        }
                    }
                };
            }
        });
    }


    // $('#search_btn').click(function(e) {
    //     e.preventDefault();
    //     var search = $('#search_input').val();
    //     console.log(search);
    //     var url = "http://localhost:8000/users/api/userlistsearch/?Q=" + search;
    //     console.log(url);
    //     $.ajax({
    //         type:'GET',
    //         url:url,
    //         success:function(data) {
    //             console.log(data);
    //             // getUserList(data);
    //         }
    //     });

    // })

    // $(function () {
    //     $('#user_list_time_from').datetimepicker();
    //     $('#user_list_time_to').datetimepicker();
    // });

    // $('#user_list_time_submit').click( function(e) {
    //     e.preventDefault();
    //     var time_from = $('#user_list_time_from_input').val();
    //     // console.log(time_from);
    //     time_from = moment(time_from).format('YYYY-MM-DD HH:mm');
    //     // time_from = time_from.format('YYYY-MM-DD HH:mm');
    //     var time_to = $('#user_list_time_to_input').val();
    //     // console.log(time_to);
    //     time_to = moment(time_to).format('YYYY-MM-DD HH:mm');
    //     // time_to = time_to.format('YYYY-MM-DD HH:mm');
    //     // console.log(time_from);

    //     $.ajax({
    //         type:'POST',
    //         url:"{% url 'xadmin:user_list' %}",
    //         data:{ 
    //             'type': 'user_list_time_range_filter',
    //             'from': time_from,
    //             'to': time_to
    //         },
    //         success:function(data) {
    //             // console.log(data);
    //             getUserList(data);
    //         }
    //     });
    // });

    // $('#user_list_time_submit').click( function(e) {
    //     e.preventDefault();
    //     $('#hidden_row').val(0);
    //     getUsers(0);
    // });

    $('#pagination_value').on('change', function() {
        var pageSize = $("#pagination_value").val();;
        var oldFromItem = paramsMap['offset'];
        var status = paramsMap['status'];
       
        window.location.href = getUserListRedirectUrl(pageSize, 0, status, "");
    });

    $("#search-btn").click(function(){
        var pageSize = $("#pagination_value").val();
        // var oldFromItem = paramsMap['offset'];
        var search = $('#search').val();
        var status = paramsMap['status'];
        window.location.href = getUserListRedirectUrl(pageSize, 0, status, search);
    });

    getNext = function() {
        if ($('#nextPage').hasClass('disabled')) {
            return;
        }
        var pageSize = paramsMap['pageSize'];
        var oldFromItem = paramsMap['offset'];
        var newFromItem = Number(oldFromItem) + Number(pageSize);
        var status = paramsMap['status'];
       
        window.location.href = getUserListRedirectUrl(pageSize, newFromItem, status, "");
    }

    getPervious = function () {
        if ($('#perviousPage').hasClass('disabled')) {
            return;
        }
        var pageSize = paramsMap['pageSize'];
        var oldFromItem = paramsMap['offset'];
        var newFromItem = Number(oldFromItem) - Number(pageSize);
        var status = paramsMap['status'];
       
        window.location.href = getUserListRedirectUrl(pageSize, newFromItem, status, "");
    }

});

function cleanField(field) {
    if (field === null || field === undefined) {
        return "";
    }
    return cleanFloatField(field);
}

function cleanFloatField(field) {
    return field.toFixed(2);
}

function getUserListRedirectUrl(pageSize, offset, status, search) {
    var curUrl = window.location.href;
    // console.log(curUrl);
    var parts = curUrl.split('?');
    // console.log(parts);
    
    var redirectUrl = parts[0]; 
    redirectUrl += '?search=' + search;
    redirectUrl += "&pageSize=" + pageSize;
    redirectUrl += '&offset=' + offset;
    redirectUrl += '&status=' + status;
    // console.log(redirectUrl);
    return redirectUrl;
}


function exportUserList() {
    var tableId = 'user_list_table';
    var head = getTableHead(tableId);
    var search = $('#search').val();
    var status = $("#status-selection").val();
    // console.log(head);

    // document.location = document.location.href + '?tableHead=' + head;
    data = {
        'head': head,
        'search': search,
        'status': status
    }
    var url = "{% url 'export_user' %}";
    $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(data),
        success: function(data)
        {
            // console.log(data);
            downloadCSV(data);
        },
        error: function () {
            // console.log('error');
        }
    });

}


function downloadCSV(csvStr) {

    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvStr);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'Player List.csv';
    hiddenElement.click();
}




function getTableHead(tableId) {
    var head = [];
    var table = document.getElementById(tableId);
    for (var i = 0, m = table.rows[0].cells.length; i < m; i++) {
        if (table.rows[0].cells[i].innerHTML == '4 CODE ADDRESS') {
            head.push('PHONE', 'ADDRESS', 'ID NUMBER', 'IP ADDRESS');
        } else if (table.rows[0].cells[i].innerHTML) {
            head.push(table.rows[0].cells[i].innerHTML);
        }
    }
    return head;
}

// function getUsers(fromItem) {

//     var time_from = $('#user_list_time_from_input').val();
//     // console.log(time_from);
//     time_from = moment(time_from).format('YYYY-MM-DD HH:mm');
//     // time_from = time_from.format('YYYY-MM-DD HH:mm');
//     var time_to = $('#user_list_time_to_input').val();
//     // console.log(time_to);
//     time_to = moment(time_to).format('YYYY-MM-DD HH:mm');

//     var pageSize = $("#pagination_value").val();
//     // console.log('from_item: ' + fromItem);
//     // console.log('pagesize: ' + pageSize);

//     $.ajax({
        
//         type:'POST',
//         url:"{% url 'xadmin:user_list' %}",
//         data:{ 
//             'type': 'user_list_filter',
//             'from': time_from,
//             'to': time_to,
//             'fromItem': fromItem,
//             'pageSize': pageSize,
//         },
//         success:function(data) {
//             // console.log(data);
//             getUserList(data);
//         }
//     });
// }

// function getUserList(data) {

//     if (data['isLastPage']) {
//         $('#nextPage').addClass('disabled');
//     } else {
//         $('#nextPage').removeClass('disabled');
//     }
//     if (data['isFirstPage']) {
//         $('#perviousPage').addClass('disabled');
//     } else {
//         $('#perviousPage').removeClass('disabled');
//     }
//     var data = data['usersList'];
//     $("#users_list_tbody").empty();
//     for (var i = 0; i < data.length; i++) {
//         // time = time.format();
//         var content = '';
//         content += '<tr>';
//         content += '<td scope="row">' + (i+1) + '</td>';
//         var userId = data[i].id;
//         var url = "{% url 'xadmin:user_detail' %}" + userId;
//         content += '<td><a href="' + url + '">' + data[i].id + '</td>';
//         content += '<td><a href="' + url + '">' + data[i].username + '</td>';
//         content += '<td>' + data[i].source + '</td>';
        
//         if (data[i].time_of_registration) {
//             var time_of_registration = moment(data[i].time_of_registration).format('MMMM, D, YYYY h:mm a');
//             content += '<td>' + time_of_registration + '</td>';
//         } else {
//             content += '<td></td>';
//         }
//         if (data[i].ftd_time !== 'None') {
//             var ftd_time = moment(data[i].ftd_time).format('MMMM, D, YYYY h:mm a');
//             content += '<td>' + ftd_time + '</td>';
//         } else {
//             content += '<td></td>';
//         }
//         content += '<td>' + cleanField(data[i].balance) + '</td>';
//         content += '<td>。。。。</td>';
//         content += '<td>' + data[i].deposit_turnover + '</td>';
//         content += '<td>' + data[i].bonus_turnover + '</td>';
//         content += '<td>' + data[i].contribution + '</td>';
//         content += '<td>' + data[i].active_days + '</td>';
//         content += '<td>' + data[i].bet_platform + '</td>';
//         content += '</tr>';
//         $("#users_list_tbody").append(content);
//     }
// }

</script>
        



{% endblock %}