{% extends 'xadmin/base_site.html' %}

{% block content-nav %}
{% endblock %}

{% block content %} 
<div class="row">
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <label for="name">NAME</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="title">TITLE</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="location">LOCATION</label>
                <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
                <label for="birthday">BIRTHDAY</label>
                <input type="date" class="form-control" id="birthday">
            </div>
            <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="phone">PHONE</label>
                <input type="text" class="form-control" id="phone">
            </div>
            <div class="form-group">
                <label for="system_language">SYSTEM LANGUAGE</label>
                <select class="form-control" id="system_language">
                    <option value="en">English (en)</option>
                    <option value="zn-hans">简体中文 (zh-hans)</option>
                    <option value="fr">français (fr)</option>
                </select>
            </div>
            <div>
                <button type="button" id="changePassword" class="btn btn-primary" style="margin-top:30px;">Change Password</button>
            </div>
            <div>
                <button type="submit" id="submitButton" class="btn btn-primary" style="margin-top:50px;">Save</button>
            </div>

        </form>
    </div>
    <div class="col-md-6">
        <div style=" width: 100%; background-color: #f3f3f3;">
            <div class="row" style="padding-top:30px; padding-left:30px;">
                <div class="col-md-2">
                    <label>Username</label>
                </div>
                <div class="col-md-10">
                    msandstrom
                </div>
            </div>
            <div class="row" style="padding-top:10px; padding-left:30px;">
                <div class="col-md-2">
                    <label>Department</label>
                </div>
                <div class="col-md-10">
                    Product development
                </div>
            </div>
            <div class="row" style="padding-top:10px; padding-left:30px;">
                <div class="col-md-2">
                    <label>Role</label>
                </div>
                <div class="col-md-10">
                    Product
                </div>
            </div>
            <div class="row" style="padding-top:10px; padding-left:30px;">
                <div class="col-md-2">
                    <label>Markets</label>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">ibet</div>
                        <div class="col-md-9"></div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-3">Letou</div>
                        <div class="col-md-9"></div>
                    </div>
                </div>
            </div>

            <div style="padding-left:30px; padding-top:20px; word-wrap: break-word; width: 300px; padding-bottom: 20px;">
                Speak with an administrator if you need to update any of the details above.
            </div>

        </div>
    </div>
    <div class="col-md-3">

    </div>
   
</div>
    
{% endblock %}