.vscode/
__pycache__/
.project
.coverage
.DS_Store
djauth/.DS_Store
/.pydevproject
logs/
.env
.idea/
# test socket server
Server.py
apps/accounting/views/testview.py
djauth/third_party_keys.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
