{% extends "xadmin/base_site.html" %}
{% load staticfiles%}

{% block content-nav %}
{% endblock %}

{% block content %}
<div class="panel panel-default remove-border">
    <div class="panel-body">
        <div class="datatable">
            <table class="table-striped table-bordered hover" id="" style="width:100%;">
                <thead>
                    <tr>
                        <th>PLAYER ID</th>
                        <th>USERNAME</th>
                        <th>STATUS</th>
                        <th>PLAYER SEGMENT</th>
                        <th>DEFINED BY</th>
                        <th>MANAGER</th>
                        <th>PREFERRED CHANNEL</th>
                        <th>PREFERRED CONTACT CHANNEL</th>
                        <th>PREFERRED PRODUCT</th>
                        <th>LAST CONTACTED</th>
                        <th>LAST CONTACT CHANNEL</th>
                        <th>CONTACT REASON</th>
                        <th>COUNTRY</th>
                        <th>ADDRESS</th>
                        <th>PHONE NUMBER</th>
                        <th>EMAILED VERIFIED</th>
                        <th>PHONE VERIFIED</th>
                        <th>ID VERIFIED</th>
                        <th>FTD DATE</th>
                        <th>AFFILIATE ID</th>
                        <th>LAST ACTIVE DATE</th>
                        <th>LAST DEPOSIT DATE</th>
                        <th>FTD DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 10px;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}