{% extends "xadmin/base_site.html" %}

{% block content-nav %}
{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'xadmin/css/ibet-admin-vip.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'xadmin/css/ibet-admin-datatable.css' %}" />
</head>

<body>
    <div id="vip_management">
        <div id="vip_table_container">
            <div class="row">
                <div class="col-md-2" id="filter">
                    <label for="segmentation_filter">PLAYER SEGMENT</label><br>
                    <select id="segmentation_filter" class="form-control">
                        <option value=-1>ALL</option>
                        {% for type in segment_list %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6" id="date_range">
                    <label>ACTIVE DATE RANGE</label>
                    <br>
                    <input name="min_date" id="min_date" type="text" placeholder="From">
                    <input name="max_date" id="max_date" type="text" placeholder="To">
                </div>
            </div>
            <table id="vip_table" class="table-striped table-bordered hover compact">
                <thead>
                    <tr>
                        <th scope="col">PLAYER ID</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">PLAYER SEGMENT</th>
                        <th scope="col">COUNTRY</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">EMAILED VERIFIED</th>
                        <th scope="col">PHONE VERIFIED</th>
                        <th scope="col">ID VERIFIED</th>
                        <th scope="col">AFFILIATE ID</th>
                        <th scope="col">GGR</th>
                        <th scope="col">TURNOVER</th>
                        <th scope="col">DEPOSIT</th>
                        <th scope="col">DEPOSIT COUNT</th>
                        <th scope="col">AVERAGE DEPOSIT</th>
                        <th scope="col">WITHDRAWAL</th>
                        <th scope="col">WITHDRAWAL COUNT</th>
                        <th scope="col">BONUS COST</th>
                        <th scope="col">NGR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
             <label class="show-rows">SHOW ROWS</label>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script src="{% static 'xadmin/js/ibet-admin-vip.js' %}"></script>

    <script>
        var vip_url = "{% url 'xadmin:vipview' %}"
        var user_link = "{% url 'xadmin:user_detail' %}"
    </script>

</body>
</html>

{% endblock %}