{% extends "xadmin/base_site.html" %}

{% block content-nav %}
{% endblock %}

{% block content %}

<div class="panel panel-default" >
    <div class="panel-heading">
        <h2 class="panel-title">
            Overview
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" style="width: 29%">AFFILIATES COUNT</div>
            <div class="col-md-2" style="width: 15%">GGR OF YESTERDAY</div>
            <div class="col-md-2" style="width: 14%">GGR OF THIS MONTH</div>
            <div class="col-md-2" style="width: 14%">NEW FTD YESTERDAY</div>
            <div class="col-md-2" style="width: 9%">LARGEST GGR</div>
            <div class="col-md-2" style="width: 15%">MOST NEW PLAYER</div>
        </div>
        <div class="row">
            <div class="col-md-2 table_block" style="width: 29%">
                <div class="col-sm-6 ">
                    <strong>Premium</strong> {{ premium_number }}
                </div>
                <div class="col-sm-6 ">
                    <strong>Invalid</strong> {{ invalid_number }}
                </div>
                <p></p>
                <div class="col-sm-6 ">
                    <strong>Normal</strong> {{ normal_number }}
                </div>
                <div class="col-sm-6 ">
                    <strong>Negative</strong> {{ negative_number }}
                </div>
            </div>
            <div class="col-md-2 block_style" style="width: 14%;"><strong>$0</strong></div>
            <div class="col-md-2 block_style" style="width: 14%"><strong>$0</strong></div>
            <div class="col-md-2 block_style" style="width: 14%"><strong>{{ new_ftd }}</strong></div>
            <div class="col-md-2 block_style" style="width: 9%"><strong>$0</strong></div>
            <div class="col-md-2 block_style" style="width: 14%">MOST NEW PLAYER</div>
        </div>
    </div>
</div>


<div class="panel panel-default" style="width: 50%; display:inline-block; height: 600px; vertical-align: top;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Commission
        </h2>
    </div>
    <div class="panel-body" style="height: 500px">
        <div style="overflow-x: scroll;">
            <table id="commission" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">MONTH</th>
                        <th scope="col">AFFILIATE COUNT</th>
                        <th scope="col">ACTIVE DOWNLINE</th>
                        <th scope="col">COMMISSION</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tran in commision_transaction %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tran.month|date:'F' }} {{ tran.month|date:'Y' }}</td>
                        <td>{{ tran.agent_number }}</td>
                        <td>{{ tran.active_downline }}</td>
                        <td>{{ tran.total_commission }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding-left: 2%; padding-bottom: 5%">
        <div class="col-md-2">
            <button id="export1" data-export="export" class="btn btn-primary" style="width: 159px; height: 32px;">
                Export
            </button>
        </div>
    </div>
</div>


<div class="panel panel-default"
    style="width: 47%; display:inline-block;height: 600px; vertical-align: top; margin-left: 2%;">
    <div class="panel-heading">
        <h2 class="panel-title">
            Premium Application
        </h2>
    </div>

    <div class="panel-body" style="height: 500px">
        <div style="overflow-x: scroll;">
            <table id="premium_application" class="table table-striped" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">AFFILIATE ID</th>
                        <th scope="col">APPLICATION DATE</th>
                        <th scope="col">AUDIT</th>
                        <th scope="col">REVIEW</th>
                    </tr>
                </thead>
                <tbody>
                    {% for affiliate in users_with_application_to_premium %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'xadmin:agent_detail' affiliate.id %}"> {{ affiliate.username }}</a></td>
                        <td>{{ affiliate.user_application_time }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding-left: 2%; padding-bottom: 5%">
        <div class="col-md-2">
            <button id="export2" data-export="export" class="btn btn-primary" style="width: 159px; height: 32px;">
                Export
            </button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Affiliates
        </h2>
    </div>
    <div class="panel-body">
        <div style="overflow-x: scroll;">
            <table id="affiliates" class="table table-striped" cellspacing="0" style='overflow-x: scroll;'>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">AFFILIATE ID</th>
                        <th scope="col">ACTIVE USERS</th>
                        <th scope="col">DOWNLINE DEPOSIT</th>
                        <th scope="col">TURNOVER</th>
                        <th scope="col">DOWNLINE GGR</th>
                        <th scope="col">COMMISSION LAST MONTH</th>
                        <th scope="col">COMMISSION MONTH BEFORE</th>
                        <th scope="col">BALANCE</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in agents %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'xadmin:agent_detail' i.pk %}"> {{ i.username }}</a></td>
                        <td>{{ active_user_dict|lookup:i.pk }}</td>
                        <td>{{ downline_deposit|lookup:i.pk }}</td>
                        <td></td>
                        <td></td>
                        <td>{{ commission_last_month|lookup:i.username }}</td>
                        <td>{{ commission_month_before|lookup:i.username }}</td>
                        <td>{{ i.main_wallet }}</td>
                        <td>{{ i.agent_level }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" style="padding-left: 2%; padding-bottom: 2%">
        <div class="col-md-2">
            <button id="export3" data-export="export" class="btn btn-primary" style="width: 159px; height: 32px;">
                Export
            </button>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<!-- <form action="{% url 'xadmin:agent_view' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Add Agent">
    <p>AgentName: {{ agent_name }}</p>
    <p>AgentPassword: {{ agent_password }}</p>
</form> -->

<script>

    $(document).ready(function () {
        $('#commission').DataTable({
            responsive: true
        });
    });
    $(document).ready(function () {
        $('#affiliates').DataTable({
            responsive: true
        });
    });
    $(document).ready(function () {
        $('#premium_application').DataTable({
            responsive: true
        });
    });
    $("#export1").click(function () {
        $("#commission").tableToCSV({
            caption: "Commission.csv"
        });
    });
    $("#export2").click(function () {
        $("#premium_application").tableToCSV({
            caption: "Premium Application.csv"
        });
    });
    $("#export3").click(function () {
        $("#affiliates").tableToCSV({
            caption: "Affiliates.csv"
        });
    });

    jQuery.fn.tableToCSV = function (e) {
        var clean_text = function (text) {
            text = text.replace(/"/g, '\\"').replace(/'/g, "\\'");
            return '"' + text + '"';
        };
        $(this).each(function () {
            var table = $(this);
            var caption = $(this).find('caption').text();
            var title = [];
            var rows = [];

            $(this).find('tr').each(function () {
                var data = [];
                $(this).find('th').each(function () {
                    var text = clean_text($(this).text());
                    title.push(text);
                });
                $(this).find('td').each(function () {
                    var text = clean_text($(this).text());
                    data.push(text);
                });
                data = data.join(",");
                rows.push(data);
            });
            title = title.join(",");
            rows = rows.join("\n");

            var csv = title + rows;
            var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            var download_link = document.createElement('a');
            download_link.href = uri;
            var currentdate = new Date();
            var datetime = currentdate.getFullYear() + "/"
                + (currentdate.getMonth() + 1) + "/"
                + currentdate.getDate()
            download_link.download = datetime + " " + e.caption;
            document.body.appendChild(download_link);
            download_link.click();
            document.body.removeChild(download_link);
        });
    };
</script>
{% endblock %}