files:
  "/usr/local/bin/post_django.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      curl -v -X POST "http://gd-background-test.ap-northeast-1.elasticbeanstalk.com/games/api/onebook/get_bet_detail" >  /dev/null
      
  "/etc/cron.d/background_task":
    mode: "000644"
    owner: root
    group: root
    content: |
      */2 * * * * root /usr/local/bin/post_django.sh

  "/usr/local/bin/post_django_kaiyuan.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      curl -v -X POST "http://gd-background-test.ap-northeast-1.elasticbeanstalk.com/games/api/ky/getbets/" >  /dev/null
      
  "/etc/cron.d/background_task_kaiyuan":
    mode: "000644"
    owner: root
    group: root
    content: |
      */2 * * * * root /usr/local/bin/post_django_kaiyuan.sh

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
      