files:
  "/etc/cron.d/process_tasks_cron":
    mode: "000644"
    owner: root
    group: root
    content: |
       * * * * * root /usr/local/bin/99_process_tasks.sh

  "/usr/local/bin/99_process_tasks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        date > /tmp/date
        source /opt/python/run/venv/bin/activate
        cd /opt/python/current/app
        python manage.py process_tasks

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"