files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_process_tasks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        date >                  /tmp/date
        source /opt/python/run/venv/bin/activate
        python /opt/python/current/app/manage.py process_tasks
