{% extends "xadmin/base_site.html" %}

{% block content-nav %}
{% endblock %}

{% block content %}
<div class="row cancel_row_style">

    <div class="col-md-4 cancel_col_style panel panel-default top_panel">
        <div class="panel-heading panel-heading-custom_affiliate_detail">
            <h2 class="panel-title">
                <strong>Affiliate Detail</strong>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row cancel_row_style">
                <div class="col-md-2 cancel_col_style" style="width: 48%;">
                    <p class="affiliate_details_title">AFFILIATE DETAILS</p>
                    <div class="affiliates_detail_commission">
                        <p><strong>Affiliate ID </strong> {{ id }}</p>
                        <p><strong>Username </strong> <a href="{% url 'xadmin:user_detail' id %}">{{ name }}</a></p>
                        <p><strong>Level </strong> {{ level }}</p>
                        <p><strong>Status </strong> {{ status }}</p>
                        <p><strong>Balance </strong> ${{ balance }}</p>
                    </div>
                </div>
                <div class="col-md-2 cancel_col_style" style="width: 48%; margin-left: 3.5%">
                    <p class="affiliate_details_title">COMMISSION</p>
                    <div class=" affiliates_detail_commission">
                        <p><strong>This month </strong> {{ commission_this_month.comm }}</p>
                        <p><strong>Last month </strong> {{ commission_last_month.comm }}</a></p>
                        <p><strong>Month before last </strong> {{ commission_before_last.comm }}</p>
                        <p><strong>Commssion set </strong> {{ status }}</p>
                        <p><strong>Transfer between levels </strong> ${{ balance }}</p>
                    </div>
                </div>
            </div>

            <strong>
                <p style="font-size: 13px; margin-top: 20px">COMMISSION LEVELS</p>
            </strong>

            <div class="row cancel_row_style" style="margin-top: 20px">
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                    LEVEL
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                    COMMISSION RATE
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 20%">
                    DOWNLINE COMMISSION RATE
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                    ACTIVE DOWNLINE
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 25%">
                    DOWNLINE MONTHLY FIRST DEPOSIT COUNTS
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                    NET PROFIT
                </div>
            </div>


            <div class="row cancel_row_style" style="margin-top: 20px">
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                    {{ commission_type.commission_level }}
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                    {{ commission_type.commision_percentage }}
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 20%">
                    {{ commission_type.downline_commision_percentage }}
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                    {{ commission_type.active_downline_needed }}
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 25%">
                    {{ commission_type.monthly_downline_ftd_needed }}
                </div>
                <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                    NET PROFIT
                </div>
            </div>

            <div class="line"></div>

            <strong>
                <p style="font-size: 13px; margin-top: 20px">DOWNLINE STATUS</p>
            </strong>

            <div class="row cancel_row_style" style="margin-top: 20px">
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Total users</strong>
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Active users</strong>
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Downline deposit</strong>
                </div>
            </div>
            <div class="row cancel_row_style">
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    {{ downline_number.total_users }}
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    {{ active_users }}
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    {{ downline_deposit.total_deposit }}
                </div>
            </div>
            <div class="row cancel_row_style" style="margin-top: 20px">
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Turnover</strong>
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Current click number</strong>
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    <strong>Downline GGR</strong>
                </div>
            </div>
            <div class="row cancel_row_style">
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    0
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    0
                </div>
                <div class="col-md-2 cancel_col_style dowline_col_style" style="width: 32%">
                    0
                </div>
            </div>

            <div class="line"></div>

            <strong>
                <p style="font-size: 13px; margin-top: 20px">RELATED AFFILIATES</p>
            </strong>
            <table class="table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col" style="width: 48%; font-weight: normal; font-size: 11px">MEMBER ID</th>
                        <th scope="col" style="width: 48%; font-weight: normal; font-size: 11px">BALANCE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for afffiliate in related_affiliates %}
                    <tr>
                        <td style="margin-right: 2px;">{{ afffiliate.member_id }}</td>
                        <td>{{ afffiliate.balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p style="margin-top: 20px">Promotion link</p>
            <div class="row" style="background-color: #f3f3f3; width: 60%; height: 30px; margin-left: 1px;">
                <div class="col-md-5" id='copyTarget' style="margin-top: 4px; float: left;">{{ promition_link }}</div>
                <a class="col-md-5" onclick="copyToClipboard('copyTarget')"
                    style="float: right; margin-left: 10px; margin-top: 4px; float: right;">Copy link</a>
            </div>

            <div class='row' style="margin-top: 25px;">
                <div class='col-md-3 '>
                    <button type="button" class="btn btn-primary affiliate_bottom_button" data-toggle="modal"
                        data-target="#view_as_affiliate">View as affiliate</button>
                </div>
                <div class='col-md-3 '>
                    <button type="button" class="btn btn-primary affiliate_bottom_button" data-toggle="modal"
                        data-target="#edit_details">Edit details</button>
                </div>
                <div class='col-md-3 '>
                    <button type="button" class="btn btn-primary affiliate_bottom_button" data-toggle="modal"
                        data-target="#make_adjustment">Make adjustment</button>
                </div>
            </div>


            <div class="modal fade" id="edit_details" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <!-- header and close button -->
                        <div class="modal-header edit-affiliate-detail-title">
                            <div class="model-text-style">
                                <button type="button" class="close" data-dismiss="modal"
                                    style="color: white">&times;</button>
                                <h4 class="modal-title">Edit affiliate details</h4>
                            </div>
                        </div>


                        <div class="modal-body">
                            <form action="{% url 'xadmin:agent_detail' %}" method="POST" style="margin-top: 100px" autocomplete="off">
                                {% csrf_token %}
                                
                                <div class="col-md-4">
                                    <strong>Affiliate Manager</strong>
                                    <input autocomplete="xiaxiede" disableautocomplete type="text" id="search-text" name="managerName"/>
                                    <input disableautocomplete type="hidden" name="search-result" id="search-result" value="" />
                                </div>

                                <fieldset id="group1">
                                    <div class='row'>
                                        <div class="col-md-4"><strong>Affiliate Level</strong></div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group1" id="inlineRadio1"
                                                value="{{ agent.affiliate_level }}">
                                            <label class="form-check-label" for="inlineRadio1"
                                                style="font-weight: normal;">Normal</label>
                                        </div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group1" id="inlineRadio2"
                                                value="{{ agent.affiliate_level }}">
                                            <label class="form-check-label" for="inlineRadio2"
                                                style="font-weight: normal;">VIP</label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="group2">
                                    <div class='row'>
                                        <div class="col-md-4"><strong>Affiliate Status</strong></div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group2" id="inlineRadio1"
                                                value="{{ agent.afffiliate_status }}">
                                            <label class="form-check-label" for="inlineRadio1"
                                                style="font-weight: normal;">Enabled</label>
                                        </div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group2" id="inlineRadio2"
                                                value="{{ agent.afffiliate_status }}">
                                            <label class="form-check-label" for="inlineRadio2"
                                                style="font-weight: normal;">Disabled</label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="group3">
                                    <div class='row'>
                                        <div class="col-md-4"><strong>Commission Set </strong></div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group3" id="inlineRadio1"
                                                value="{{ commission_type.commission_set }}">
                                            <label class="form-check-label" for="inlineRadio1"
                                                style="font-weight: normal;">System</label>
                                        </div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group3" id="inlineRadio2"
                                                value="{{ commission_type.commission_set }}">
                                            <label class="form-check-label" for="inlineRadio2"
                                                style="font-weight: normal;">Personal</label>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset id="group4">
                                    <div class='row'>
                                        <div class="col-md-4"><strong>Transfer Commission Between Levels</strong></div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group4" id="inlineRadio1"
                                                value="{{ agent.transerfer_between_levels }}">
                                            <label class="form-check-label" for="inlineRadio1"
                                                style="font-weight: normal;">Yes</label>
                                        </div>
                                        <div class="col-md-3 form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="group4" id="inlineRadio2"
                                                value="{{ agent.transerfer_between_levels }}">
                                            <label class="form-check-label" for="inlineRadio2"
                                                style="font-weight: normal;">No</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <p style="margin-top:20px;"><strong>COMMISSION LEVELS</strong></p>
                                <div class="commission_levels">
                                    <div class="row cancel_row_style" style="margin-top: 20px; width: 93%;">
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                                            LEVEL
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                                            COMMISSION RATE
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 20%; margin-right: 2%">
                                            DOWNLINE COMMISSION RATE
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 15%">
                                            ACTIVE DOWNLINE
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 25%">
                                            DOWNLINE MONTHLY FIRST DEPOSIT COUNTS
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 10%">
                                            NET PROFIT
                                        </div>
                                    </div>
                                    <div class="row cancel_row_style" style="margin-top: 20px; width: 101%;">
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 8%; margin-right: 3%;">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="{{ commission_type.commission_level }}"
                                                style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 13%; margin-right: 3%;">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="{{ commission_type.commision_percentage }}"
                                                style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 16%; margin-right: 3%;">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="{{ commission_type.downline_commision_percentage }}"
                                                style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 13%; margin-right: 3%;">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="{{ commission_type.active_downline_needed }}"
                                                style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style"
                                            style="width: 16%; margin-right: 3%;">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="{{ commission_type.monthly_downline_ftd_needed }}"
                                                style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-md-2 cancel_col_style commission_col_style" style="width: 8%">
                                            <input class="form-control col-md-4" id='member_id' name="member_id"
                                                value="" style="height:30px;margin-bottom: 20px;">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-danger delete" title="Delete"
                                                data-toggle="tooltip" style="height: 30px">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-info add-new"><i
                                                        class="fa fa-plus"></i>
                                                    Add</button>
                                            </div>
                                        </div>
                                        <br>
                                        <p>REASON FOR CHANGES</p>
                                        <input type="text" style="width: 50%;height: 20%;"
                                            placeholder="Please provide a brief explaination.">
                                        <div class='row'>
                                            <button id="affiliates_detail_submit" type="submit"
                                                class="btn btn-primary">Save</button>
                                            <button id="affiliates_detail_calcel" type="cancel"
                                                class="btn btn-primary">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 cancel_col_style panel panel-default top_panel" style="margin-left: 3%">
        <div class="panel-heading panel-heading-custom_activity">
            <h2 class="panel-title">
                <strong>Activity</strong>
            </h2>
        </div>
        <div class="activity_type">
            <p style="font-size: 11px">ACTIVITY TYPE</p>
            <div class="dropdown">
                <button class="btn dropdown-toggle activity_dropdown_style" type="button" data-toggle="dropdown">All
                    activity
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Operation</a></li>
                    <li><a href="#">Note</a></li>
                    <li><a href="#">Remark</a></li>
                    <li><a href="#">Fund</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>

</div>


<div class="panel panel-default" style="width: 100%">
    <div class="panel-heading panel-heading-custom_perfomance">
        <h2 class="panel-title">
            <strong>Performance</strong>
        </h2>
    </div>

    <div style="margin-top: 10px">
        <ul class="nav nav-tabs" style="padding-left: 10px">
            <li class="active"><a data-toggle="tab" href="#home">DOWNLINE LIST</a></li>
            <li><a data-toggle="tab" href="#menu1">OPERATION REPORT</a></li>
            <li><a data-toggle="tab" href="#menu2">PROMOTION REPORT</a></li>
            <li><a data-toggle="tab" href="#menu3">CHANNEL REPORT</a></li>
        </ul>



        <div class="row">
            <div class='col-md-8' style="width: 600px; float: right; margin-right: -80px; margin-bottom: 10px;">
                <!-- {% block time_search %} -->
                <label>Date Range</label>
                <div class="row">
                    <div class='col-md-4'>
                        <!-- <input class="form-control" placeholder="From" id="search-from" name='search-from'></input> -->
                        <div class='input-group date' id='user_list_time_from'>
                            <input type='text' class="form-control" placeholder="From" id='user_list_time_from_input' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <!-- <input class="form-control" placeholder="To" id='search-to' name='search-from'></input> -->
                        <div class='input-group date' id='user_list_time_to'>
                            <input type='text' class="form-control" placeholder="To" id='user_list_time_to_input' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <button id="user_list_time_submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <!-- {% endblock %} -->
            </div>
        </div>




        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div style="overflow-x: scroll;">
                    <table id="affiliates" class="table table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">MEMBER ID</th>
                                <th scope="col">REGISTRATION DATE</th>
                                <th scope="col">LAST LOGIN</th>
                                <th scope="col">CHANNEL</th>
                                <th scope="col">FTD</th>
                                <th scope="col">DEPOSIT</th>
                                <th scope="col">WITHDRAW</th>
                                <th scope="col">BOUNS</th>
                                <th scope="col">ADJUSTMENT</th>
                                <th scope="col">BALANCE</th>
                                <th scope="col">TURNOVER</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for downline in downline_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'xadmin:agent_detail' downline.agent_id %}">
                                        {{ downline.username }}</a>
                                </td>
                                <td>{{ downline.time_of_registration }}</td>
                                <td>{{ downline.last_login_time }}</td>
                                <td>CHANNEL</td>
                                <td>{{ downline.ftd_time }}</td>
                                <td>{{ downline.deposit.sum_deposit }}</td>
                                <td>{{ downline.withdraw.sum_withdraw }}</td>
                                <td>{{ downline.bouns.sum_bouns }}</td>
                                <td>{{ downline.adjustment.sum_adjustment }}</td>
                                <td>{{ downline.balance }}</td>
                                <td>Turnover haimei suan</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div style="overflow-x: scroll;">
                            <table id="opeartion_report" class="table table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">DATE</th>
                                        <th scope="col">CUMULATIVE DEPOSIT</th>
                                        <th scope="col">CUMULATIVE WITHDRAWAL</th>
                                        <th scope="col">SYSTEM BOUNS</th>
                                        <th scope="col">DOWNLINE TRANSFER</th>
                                        <th scope="col">TURNOVER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tran_data in opeartion_report %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ tran_data.date }}</td>
                                        <td>{{ tran_data.cumulative_deposit }}</td>
                                        <td>{{ tran_data.cumulative_withdrawal }}</td>
                                        <td>{{ tran_data.system_bouns }}</td>
                                        <td>{{ tran_data.downline_transfer }}</td>
                                        <td>{{ tran_data.turnover }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                </div>
                <div id="menu3" class="tab-pane fade">
                </div>
            </div>
        </div>

    </div>

    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css"
        rel="stylesheet" />
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#search-text').keyup(function () {
                var q = $('#search-text').val();
                $("#search-text").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "{% url 'fsearch' %}",
                            dataType: 'json',
                            type: 'GET',
                            data: { 'q': q },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 1,
                    //select
                    select: function (e, ui) {
                        // alert(ui.item.value);
                    },
                    open: function () {
                        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                    },
                    close: function () {
                        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                    }
                });
            });

        });

        // $(document).ready(function () {
        //     $('#search-text').keyup(function () {
        //         $('#search-result').html('');
        //         var q = $('#search-text').val();
        //         $.get("{% url 'fsearch' %}", { 'q': q }, function (data) {
        //             console.log(data)
        //             for (var i = data.length - 1; i >= 0; i--) {
        //                 $('#search-result').append('<li class="list-group-item">' + data[i] + '</li>')      // 加入到search-result部分显示
        //             };
        //         })
        //     });
        // });
        // $(document).ready(function () {
        //     $('#search-text').keyup(function () {
        //         $('#search-result').html('');
        //         var q = $('#search-text').val();
        //         $.ajax({
        //             url: "{% url 'fsearch' %}",
        //             dataType: 'json',
        //             type: 'GET',
        //             data: { 'q': q },
        //             success: function (data) {
        //                 for (var i = data.length - 1; i >= 0; i--) {
        //                     $('#search-result').append('<span class="list-group-item">' + data[i] + '</span>')      // 加入到search-result部分显示
        //                 };
        //             },
        //             error: function (err) {
        //                 alert("error");
        //             }
        //         })
        //     });
        //     $('#search-text').keydown(function () {
        //         $('#search-result').empty();
        //     })
        //     $('#search-text').blur(function () {
        //         $('#search-result').empty();
        //     })
        // });



        $(document).ready(function () {
            $('#search-result').click(function () {
                console.log('bianleeeeeee')
                var selectedValue = $('#search-result').val();
                var selectedManager = $(this).children("span:selected").val();
                alert("You have selected the country - " + selectedValue);
            })
        });


        $(document).on("click", ".delete", function () {
            $(this).parents(".commission_levels").remove();
            $(".add-new").removeAttr("disabled");
        });



        function copyToClipboard(elementId) {
            var aux = document.createElement("input");
            aux.setAttribute("value", document.getElementById(elementId).innerHTML);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
        }


        // $('#datetimepicker1').datetimepicker();
        $(document).ready(function () {
            var csrftoken = $.cookie("csrftoken");
            // console.log(csrftoken);

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#affiliates_detail_submit').click(function (e) {
                e.preventDefault();
                var affiliate_level = $('')
                var time_from = $('#user_list_time_from_input').val();
                // console.log(time_from);
                time_from = moment(time_from).format('YYYY-MM-DD HH:mm');
                // time_from = time_from.format('YYYY-MM-DD HH:mm');
                var time_to = $('#user_list_time_to_input').val();
                // console.log(time_to);
                time_to = moment(time_to).format('YYYY-MM-DD HH:mm');
                // time_to = time_to.format('YYYY-MM-DD HH:mm');
                // console.log(time_from);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'xadmin:user_list' %}",
                    data: {
                        'type': 'user_list_time_range_filter',
                        'from': time_from,
                        'to': time_to
                    },
                    success: function (data) {

                        data.forEach(i => console.log("data: " + i.login_times));
                        // console.log("!!!!!" + data);
                        for (var i = 0; i < data.length; i++) {
                            $("#user_login_times_" + (i + 1)).empty(); $("#user_bettin_times_" + (i +
                                1)).empty(); $("#user_deposit_times_" + (i + 1)).empty(); $("#user_deposit_amount_" + (i + 1)).empty();
                            $("#user_withdrawal_times_" + (i + 1)).empty(); $("#user_withdrawal_amount_" + (i + 1)).empty(); //
                            console.log(data[i].deposit_amount.amount__sum); var content = "<td id='user_login_times_" + (i + 1) + "'>" +
                                data[i].login_times + "</td>"; $("#user_login_times_" + (i + 1)).append(content);
                            content = "<td id='user_bettin_times_" + (i + 1) + "'>" + data[i].betting_times + "</td>"; $("#user_bettin_times_" +
                                (i + 1)).append(content); content = "<td id='user_deposit_times_" + (i + 1) + "'>" + data[i].deposit_times + "</td>";
                            $("#user_deposit_times_" + (i + 1)).append(content); content = "<td id='user_deposit_amount_" + (i + 1) + "'>" +
                                cleanField(data[i].deposit_amount.amount__sum) + "</td>"; $("#user_deposit_amount_" + (i + 1)).append(content);
                            content = "<td id='user_withdrawal_times_" + (i + 1) + "'>" + data[i].withdrawal_times + "</td>";
                            $("#user_withdrawal_times_" + (i + 1)).append(content); content = "<td id='user_withdrawal_amount_" + (i + 1) + "'>" +
                                cleanField(data[i].withdrawal_amount.amount__sum) + "</td>"; $("#user_withdrawal_amount_" + (i +
                                    1)).append(content);
                        }
                    }
                });
            }); function cleanField(field) {
                if (field === null || field === undefined) { return ""; }
                return cleanFloatField(field);
            } function cleanFloatField(field) { return field.toFixed(2); }
        });
    </script>

    {% endblock %}