{% extends 'xadmin/base_site.html' %}
{% load i18n %}

{% block content-nav %}
{% endblock %}


{% block content %} 
<div>
    <button type="button" id="add_new_user" class="btn btn-primary" style="margin-top:15px;margin-bottom:25px;" data-toggle="modal" data-target="#new_user" >Add new user</button>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3" style="padding-right:0px;">
                    <label class="role-title">DEPARTMENT</label>
                    <select class="form-control">
                        <option selected>ALL</option>
                        {% for department in departments %}
                            <option value="{{ department.code }}">{{ department.name }}</option>
                        {% endfor %}
                        <!-- <option selected>ALL</option> -->
                        <!-- <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> -->
                    </select>
                </div>
                <div class="col-md-3" style="padding-right:0px;">
                    <label class="role-title">ROLE</label>
                    <select class="form-control">
                        <option selected>ALL</option>
                        {% for role in roles %}
                            <option value="{{ role.roleId }}">{{ role.roleName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3" style="padding-right:0px;">
                    <label class="role-title">MARKET</label>
                    <select class="form-control">
                        <option selected>ALL</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="role-title" style="font-size: 0.9em; padding-bottom:5px;">FIND A USER</div>
                        <div class="input-group">
                            <input type="text" id="search" class="form-control" placeholder="Enter member ID, name, phone or email" >
                            <span id="search-btn" class="input-group-addon" style="background-color: #428bca; color:white"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <table id="user-group-table" style="width: 100%; margin-top:30px; ">
        <thead>
            <tr>
                <th class="role-title" style="width:3%">ALL</th>
                <th class="role-title">USERNAME</th>
                <th class="role-title">NAME</th>
                <th class="role-title">DEPARTMENT</th>
                <th class="role-title">ROLE</th>
                <th class="role-title">IBET MARKETS</th>
                <th class="role-title">LETOU MARKETS</th>
            </tr>
        </thead>
        <tbody id='user_list_tbody'>
            <tr>    
                <td style="text-align:center"><div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="selectAll" id="selectAllnoAccess" value="no"></div></td>
                <td>jwoo</td>
                <td>John Woo</td>
                <td>Customer service</td>
                <td>CS agent</td>
                <td>CNY, THB, VN</td>
                <td>CNY, THB, VN</td>
                <td style="padding:0px;"><button class="btn btn-primary" style="width:100%;">Edit</button></td> 
            </tr>
            <tr>    
                <td style="text-align:center"><div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="selectAll" id="selectAllnoAccess" value="no"></div></td>
                <td>jwoo</td>
                <td>John Woo</td>
                <td>Customer service</td>
                <td>CS agent</td>
                <td>CNY, THB, VN</td>
                <td>CNY, THB, VN</td>
                <td style="padding:0px;"><button class="btn btn-primary" style="width:100%;">Edit</button></td> 
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="new_user" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color:black; background-color:#f5f5f5; border-top-right-radius:6px; border-top-left-radius:6px; ">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new user</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'xadmin:permission_group' %}" method="POST" id="newUserForm">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="createUser" id="formAction"></input>
                            <!-- <input type="hidden" name="pk" value="" id="permissionId"></input> -->
                            <div>
                                <div>
                                    <label class="role-title">USERNAME</label>
                                    <input type="text" class="form-control" style="width:50%;" id="username" name="username">
                                </div>
                                <div class="form-div">
                                    <label class="role-title">PASSWORD</label>
                                    <input type="text" class="form-control" style="width:50%;" id="password" name="password">
                                </div>
                                <div class="form-div">
                                    <label class="role-title">EMAIL</label>
                                    <input type="text" class="form-control" style="width:50%;" id="email" name="email">
                                </div>
                                <div class="form-div">
                                    <label class="role-title">PHONE</label>
                                    <input type="text" class="form-control" style="width:50%;" id="phone" name="phone">
                                </div>
                                <div class="form-div">
                                    <label class="role-title">NAME</label>
                                    <input type="text" class="form-control" style="width:50%;" id="name" name="name">
                                </div>
                                <div class="form-div">
                                    <label class="role-title">DEPARTMENT</label>
                                    
                                    <select class="form-control" style="width:50%;" id="department" name="department">
                                        <option selected>ALL</option>
                                        {% for department in departments %}
                                            <option value="{{ department.code }}">{{ department.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-div">
                                    <label class="role-title">ROLE</label>
                                    <select class="form-control" id="role" name="role">
                                        {% for role in roles %}
                                            <option value="{{ role.roleId }}">{{ role.roleName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label>MARKETS</label>
                                <div class="row">
                                    <div class="col-md-6 ibetMarkets" >
                                        <div>ibet</div>
                                        <input type="radio" name="ibetAll" value="all"><label>ALL</label>
                                        <!-- <input type="hidden" name="margets" value=""> -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <input type="radio" name="ibetCNY" id="ibetCNY" value="CNY"><label>CNY</label></input>
                                                </div>
                                                <div>
                                                    <input type="radio" name="ibetDE" id="ibetDE" value="DE"><label>DE</label></input>
                                                </div>
                                                <div>
                                                    <input type="radio" name="ibetFI" id="ibetFI" value="FI"><label>FI</label></input>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <input type="radio" name="ibetNO" id="ibetNO" value="NO"><label>NO</label></input>
                                                </div>
                                                <div>
                                                    <input type="radio" name="ibetTHB" id="ibetTHB" value="THB"><label>THB</label></input>
                                                </div>
                                                <div>
                                                    <input type="radio" name="ibetVN" id="ibetVN" value="VN"><label>VN</label></input> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 letouMarkets">
                                        <div>Letou</div>
                                        <input type="radio" name="letouAll" value="all"><label>ALL</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <input type="radio" name="letouCNY" id="letouCNY" value="CNY"><label>CNY</label></input>
                                                </div>
                                                <div>
                                                    <input type="radio" name="letouVN" id="letouVN" value="VN"><label>VN</label></input>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <input type="radio" name="letouTHB" id="letouTHB" value="THB"><label>THB</label></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                
                            <p id='errorMessage'>&nbsp;</p>
                            <button type="submit" id="submitButton" class="btn btn-primary submit-btn">Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    <!-- <form action="{% url 'xadmin:permission_group' %}" method="POST" id="permissionForm">
        {% csrf_token %}
        <input type="hidden" id="permission_type" name="permission_type" value="permissionGroup"></input>
        <div class="row">
            <label for="groupName" class="col-sm-2 col-form-label">Group name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="groupName" id="groupName" placeholder="Group name....">
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <label for="adminUser" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-10">
            <input type="hidden" id="hidden_permission_user" name="hidden_permission_user" value="[]"></input>
            <input type="text" class="form-control" id="adminUser" placeholder="Choose admin user....">
            </div>
        </div>
        <fieldset class="">
            <div class="row" style="margin-top:30px;">
                <label for="permission" class="col-sm-2 col-form-label">Permission</label>
                <div class="col-sm-10">
                    <input type="hidden" id="hidden_permission_code" name="hidden_permission_code" value="[]"></input>
                    <input type="text" class="form-control" id="permission" placeholder="Choose permission...">
                </div>
            </div>
        </fieldset>
        <button type="submit" id="submitButton" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
    </form> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>

<script>

$(document).ready(function() {

    $('#permissionForm').on('keypress', function(e) {
        return e.which !== 13;
    });

    // user tagsinput
    var userData = searchOpen();
    userData = JSON.stringify(userData);
    // console.log(userData);

    var task = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: jQuery.parseJSON(userData) //your can use json type
    });
    task.initialize();
    var elt = $("#adminUser");
    elt.tagsinput({
        allowDuplicates: false,
        itemValue: "value",
        itemText: "text",
        typeaheadjs: {
            name: "task",
            displayKey: "text",
            source: task.ttAdapter()
        }
    });

    $('#adminUser').on('beforeItemAdd', function(event) {
        // console.log(event.item.text);
        var permissionUsers = $('#hidden_permission_user').val();
        permissionUsers = JSON.parse(permissionUsers);
        permissionUsers.push(event.item.id);
        $('#hidden_permission_user').val(JSON.stringify(permissionUsers));
        console.log(permissionUsers);
    });
     $('#adminUser').on('itemRemoved', function(event) {
        var permissionUsers = $('#hidden_permission_user').val();
        permissionUsers = JSON.parse(permissionUsers);
        array = removeByIndex(permissionUsers, event.item.id);
        $('#hidden_permission_user').val(JSON.stringify(array));
        console.log("user: " + $('#hidden_permission_user').val());
    });

    // permission code tagsinput
    var permissionData = '[{ "value": 0, "text": "permission1", "continent": "PERMISSION" }, { "value": 1, "text": "permission2", "continent": "PERMISSION" }, { "value": 2, "text": "permission3", "continent": "PERMISSION" }, { "value": 3, "text": "permission4", "continent": "PERMISSION" }, { "value": 4, "text": "permission5", "continent": "PERMISSION" }]';
     //get data pass to json
    var taskCode = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: jQuery.parseJSON(permissionData) //your can use json type
    });
    taskCode.initialize();
    var elt = $("#permission");
    elt.tagsinput({
        allowDuplicates: false,
        itemValue: "value",
        itemText: "text",
        typeaheadjs: {
            name: "task",
            displayKey: "text",
            source: taskCode.ttAdapter()
        }
    });

    $('#permission').on('beforeItemAdd', function(event) {
        // console.log(event.item.text);
        var permissionCodes = $('#hidden_permission_code').val();
        permissionCodes = JSON.parse(permissionCodes);
        permissionCodes.push(event.item.value);
        $('#hidden_permission_code').val(JSON.stringify(permissionCodes));
        console.log(permissionCodes);
    });
     $('#permission').on('itemRemoved', function(event) {
        var permissionCodes = $('#hidden_permission_code').val();
        permissionCodes = JSON.parse(permissionCodes);
        array = removeByIndex(permissionCodes, event.item.value);
        $('#hidden_permission_code').val(JSON.stringify(array));
        console.log($('#hidden_permission_code').val());
    });

    var check;

    $('input[type="radio"]').hover(function() {
        check = $(this).is(':checked');
    });

    $('input[type="radio"]').click(function() {
        check = !check;
        $(this).attr("checked", check);
    });


    $("#newUserForm").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');
        console.log(url);        
        var ibetMarkets = [];
        var letouMarkets = [];
        $(".ibetMarkets input[type='radio']:checked").each(function(i) {
            // console.log($(this).val());
            ibetMarkets.push($(this).val());
        });
        $(".letouMarkets input[type='radio']:checked").each(function(i) {
            // console.log($(this).val());
            letouMarkets.push($(this).val());
        });
        // console.log(markets);
        var data = form.serialize() + "&ibetMarkets=" + ibetMarkets + "&letouMarkets=" + letouMarkets;
        console.log(data);
       
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                if (data.code === 1) {
                    $('#errorMessage').text(data.message); 
                    $('#errorMessage').css('color', 'red'); 
                } else {
                    window.location.reload();
                }
            }
        });
    });

    
});

// function sumbitForm() {
//     $("#permissionForm").submit(function(){
//         console.log("submit");
//     });
// }
function removeByIndex(array, index){
    return array.filter(function(elem, _index){
        return index != elem;
    });
}

function searchOpen() {
    var tmp = null;
    var search = $('#adminUser').val();
    var url = "{% url 'get_admin_user' %}";
    var data = $.ajax({
        url: url,
        type: 'GET',
        async: false,
        dataType: 'json'
    }).responseJSON;
    console.log(data);
    return data;
};

</script>

{% endblock %}