{% extends 'xadmin/base_site.html' %}
{% load i18n %}

{% block content-nav %}
{% endblock %}


{% block content %} 
<div>
    <ul class="nav nav-tabs">
        <li class="active" id="overview"><a data-toggle="tab" class="tab-label" href="#overview">OVERALL</a></li>
        <li id="report-builder"><a data-toggle="tab"  class="tab-label" href="#report-builder">REPORT BUILDER</a></li>
    </ul>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2">
            <div style="width: 100%; height: 800px; background-color: #f3f3f3;">
                <div class="btn-group interval-select" role="group" aria-label="Basic example" style="margin:10px;">
                    <button type="button" class="btn btn-secondary interval-padding">Day</button>
                    <button type="button" class="btn btn-secondary interval-padding">Week</button>
                    <button type="button" class="btn btn-secondary interval-padding">Month</button>
                </div>

                <div class="btn-group currency-select" role="group" aria-label="Basic example" style="margin:10px;">
                    <button type="button" class="btn btn-secondary toggle-padding">Local</button>
                    <button type="button" class="btn btn-secondary toggle-padding">GBP</button>
                    <button type="button" class="btn btn-secondary toggle-padding">USD</button>
                    <button type="button" class="btn btn-secondary toggle-padding">EUR</button>
                </div>
                
                <div style="margin:10px">
                    <div style="margin-top:10px;">
                        <label class="role-title">TIME PERIOD</label>
                        <select class="form-control" id="time-period-options">
                            <option value="-1" selected>Please select time</option>
                            <option value="0">Last 7 days</option>
                            <option value="1">Last 14 days</option>
                            <option value="2">Last 30 days</option>
                            <option value="3">Last 90 days</option>
                        </select>
                    </div>

                    <div style="margin-top:20px;">
                        <label class="role-title">DATE RANGE</label>
                        <div class="row" id="date-range">
                            <div class='col-md-6' style="padding-right:0px;">
                                <div class='input-group date' data-provide="datepicker">
                                    <input type='text' class="form-control" placeholder="From" id="from"/>
                                    <span class="input-group-addon" style="display: none;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class='col-md-6' style="padding-left:0px;">
                                <div class='input-group date' data-provide="datepicker">
                                    <input type='text' class="form-control" placeholder="To" id="to"/>
                                    <span class="input-group-addon" style="display: none;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div>
                        <label class="role-title">Market</label>
                        <select class="form-control" id="time-period-options">
                            <option selected>All markets</option>
                            <option value="0"></option>
                            <option value="1">Year to date</option>
                            <option value="2">Last month</option>
                            <option value="3">Last quarter</option>
                            <option value="4">Last year</option>
                        </select>
                    </div> -->
                    <!-- <div>
                        <label class="role-title">MARKET</label>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select class="form-control">
                                    <option>Select an option</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                <label for="one">
                                <input type="checkbox" id="one" />First checkbox</label>
                                <label for="two">
                                <input type="checkbox" id="two" />Second checkbox</label>
                                <label for="three">
                                <input type="checkbox" id="three" />Third checkbox</label>
                            </div>
                        </div>
                    </div> -->

                    <div style="padding-top:20px">
                        <label class="role-title">MARKET</label>
                        <select id="market-select" multiple="multiple" class="form-control">
                            <optgroup label="ibet" class="ibetMarkets">   
                                <option value="ALL" id="ibetALL">ALL</option>
                                {% for market in markets.ibetMarket_options %}
                                    <option value="{{ market.code }}" id="{{  market.name }}">{{ market.code }}</option>
                                {% endfor %}
                                <!-- <option value="CNY">CNY</option>
                                <option value="THB">THB</option>
                                <option value="VN">VN</option>
                                <option value="DE">DE</option>
                                <option value="FI">FI</option>
                                <option value="NL">NL</option>
                                <option value="NO">NO</option>
                                <option value="UK">UK</option> -->
                            </optgroup>
                            <optgroup label="Letou" class="letouMarkets">   
                                <!-- <option value="all">ALL</option>
                                <option value="CNY">CNY</option>
                                <option value="THB">THB</option>
                                <option value="VN">VN</option> -->
                                <option value="ALL" id="letouALL">ALL</option>
                                {% for market in markets.letouMarket_options %}
                                    <option value="{{ market.code }}" id="{{  market.name }}">{{ market.code }}</option>
                                {% endfor %}
                            </optgroup>
                        </select><br /><br />
                    </div>
                    <!-- <select class="mdb-select md-form" multiple>
                        <optgroup label="team 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </optgroup>
                    </select> -->
                    <!-- <div>
                        <label class="role-title">PRODUCT</label>
                        <select class="form-control" id="product">
                            <option selected>ALL</option>
                            <option value="sports">Sports</option>
                            <option value="live_casino">Live Casino</option>
                            <option value="casino">Casino</option>
                            <option value="Lotto">lotto</option>
                        </select>
                    </div>

                    <div>
                        <label class="role-title">WALLET</label>
                        <select class="form-control" id="product">
                            <option selected>ALL</option>
                            <option value="sports">Sports</option>
                            <option value="live_casino">Live Casino</option>
                            <option value="casino">Casino</option>
                            <option value="Lotto">lotto</option>
                        </select>
                    </div> -->

                    <div>
                        <label class="role-title">DEVICE</label>
                        <select id="device-select" multiple="multiple" class="form-control">
                            <option value="desktop">Desktop</option>
                            <option value="tablet_ios">Tablet iOS</option>
                            <option value="tablet_android">Tablet Android</option>
                            <option value="mobile_ios">Mobile iOS</option>
                            <option value="mobile_android">Mobile Android</option>
                        </select><br /><br />
                    </div>

                    <div>
                        <label class="role-title">CHANNEL</label>
                        <select id="channel-select" multiple="multiple" class="form-control">
                            <option value="web">Web</option>
                            <option value="app">App</option>
                        </select><br /><br />
                    </div>
                    <div>
                        <label style="font-size:13px;"><input type="checkbox">Include performance per product</label>
                    </div>
                </div>

                <div style="margin-left:35px;margin-top:20px;">
                    <button type="button" class="btn btn-success" id="submit_btn">Generate report</button>
                </div>
            </div>
        </div>
        <div class="col-md-10 hide" style="padding-left:5px" id="data-block">
            <div>   
                <div id="report-info-block">
                    <div class="row">
                        <div class="col-md-1" style="font-weight: 800;">Period</div>
                        <div class="col-md-11" id="period">June 24 - July 24</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="font-weight: 800;">Market</div>
                        <div class="col-md-11" id="market">ibet - TH</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="font-weight: 800;">Device</div>
                        <div class="col-md-11" id="device">Mobile iOS, Mobile Android</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="font-weight: 800;">Channel</div>
                        <div class="col-md-11" id="channel">App</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" style="font-weight: 800;">Currency</div>
                        <div class="col-md-11" id="currency">THB</div>
                    </div>
                </div>
                <div class="wrapper">
                    <table class="custom-user" id="report-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>PEROID</th>
                                <th>MARKET</th>
                                <th>CURRENCY</th>
                                <th>REGISTRATIONS</th>
                                <th>FTD</th>
                                <th>ACTIVIE PALYERS</th>
                                <th>GGR</th>
                                <th>TURNOBER</th>
                                <th>DEPOSIT</th>
                                <th>WITHDRAWAL</th>
                                <th>BONUS COST</th>
                                <th>NGR</th>
                                <th>FTD CONVERSION</th>
                                <th>BONUS/ GGR</th>
                                <th>GGR HOLD</th>
                                <th>NGR HOLD</th>
                                <th>GENERAL BONUS</th>
                            </tr>
                        </thead>
                        <tbody id='user_list_tbody'>
                            <tr>    
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                            </tr>
                            <tr>    
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                            </tr>
                            <tr>    
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                                <td>Read + Write</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>


<!-- <link rel="stylesheet" href="css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-multiselect.js"></script> -->
<script>


$(document).ready(function() {
    // $('.button').click(function(){
    //     if($(this).hasClass('active')){
    //         $(this).removeClass('active')
    //     } else {
    //         $(this).addClass('active')
    //     }
    // });
    // $('#report-info-block').empty();
    $(".btn-group > .btn").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    });

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });

    // var expanded = false;

    // showCheckboxes = () => {
    //     var checkboxes = document.getElementById("checkboxes");
    //     if (!expanded) {
    //         checkboxes.style.display = "block";
    //         expanded = true;
    //     } else {
    //         checkboxes.style.display = "none";
    //         expanded = false;
    //     }
    // }
    // var selectOpt = "";
    $(function() {
        $('#market-select').multiselect({

            includeSelectAllOption: true,
            allSelectedText: 'All',
            // enableCollapsibleOptGroups: true,
            enableHTML: true,
            optionLabel: function(element) {
                if ($(element).attr('value') !== "ALL")
                    return '<img src="{{ imagePath }}' + $(element).attr('id') + '.svg" class="flag-icon"><label style="margin-left:10px">' + $(element).attr('value') + '</label>';
                else
                    return $(element).attr('value')
            },
            // onChange: function(option, checked, select) {
            //     // console.log(option, checked, select);
            //     if (checked) {
            //         console.log(option.context.value);
            //         selectOpt = selectOpt + option.context.value + ",";
            //     }
            // }
        });
        // $("#ibetAll").click(function(){
        //     console.log("!!!")
        //     $('.multiselect-group:first label .checkbox').not(this).prop('checked', this.checked);
        // });

        // $("#letouAll").click(function(){
        //     $('.multiselect-group:second label .checkbox').not(this).prop('checked', this.checked);
        // });
        // $("optgroup.ibetMarkets").select(function(e) {
        //     $(this).children().attr('selected','selected');
        // });
        // $("optgroup.ibetMarkets").select(function(e) {
        //     $(this).children().attr('selected','selected');
        // });

        // var text = $('#selector option:selected').toArray().map(item => item.text).join();

        // $("optgroup #ibetAll").click(function(e) {
        //     console.log(e);
        //     $(this).children().attr('selected','selected');
        // });

    })


    $(function() {

        $('#device-select').multiselect({
            includeSelectAllOption: true,
        });
    })

    $(function() {

        $('#channel-select').multiselect({
            includeSelectAllOption: true,
        });
    })
    

    $('#submit_btn').click(function() {
        // var time = "123";
        var interval = $('.interval-select  > .btn.active').html();
        var currency = $('.currency-select > .btn.active').html();
        var dateRangeFrom = $('#from').val();
        var dateRangeTo = $('#to').val();
        var timePeriod = $('#time-period-options option:selected').val();
        var error = false;
        var marketArray = [];
        $('#market-select option:selected').each(function() {
            marketArray.push($(this).text());
        });
        var deviceArray = [];
        $('#device-select option:selected').each(function() {
            deviceArray.push($(this).text());
        });
        var channelArray = [];
        $('#channel-select option:selected').each(function() {
            channelArray.push($(this).text());
        });
        // console.log(array);
        // console.log(dateRangeFrom, dateRangeTo);
        if (!interval) {
            error = true;
            alert("please choose the interval");
            return;
        }
        
        if (!currency) {
            error = true;
            alert("please choose the currency");
            return;
        }

        if (dateRangeFrom && timePeriod !== '-1') {
            error = true;
            alert("please choose the time range or time peroid");
            return;
        }

        if (dateRangeFrom && dateRangeTo) {
            if (timePeriod !== '-1') {
                error = true;
                alert("please choose one time range");
                return;
            }
        }

        if (marketArray.length == 0) {
            error = true;
            alert("please choose the market");
            return;
        }

        if (!deviceArray) {
            error = true;
            alert("please choose the device");
            return;
        }

        if (!channelArray) {
            error = true;
            alert("please choose the channel");
            return;
        }

        if (!error) {

            data = {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                type: "generate_report",
                interval: interval,
                currency: currency,
            }
            if (dateRangeFrom && dateRangeTo) {
                data["dateRangeFrom"] = dateRangeFrom;
                data["dateRangeTo"] = dateRangeTo;
            }
            if (timePeriod) {
                data["timePeriod"] = timePeriod;
            }
            if (marketArray) {
                data["marketArray"] = JSON.stringify(marketArray);
            }
            if (deviceArray) {
                data["deviceArray"] = JSON.stringify(deviceArray);
            }
            if (channelArray) {
                data["channelArray"] = JSON.stringify(channelArray);
            }

            // console.log(data);

            $.ajax({
                type: "GET",
                url: "{% url 'xadmin:performance_report' %}",
                data,
                // data: {
                //     csrfmiddlewaretoken: "{{ csrf_token }}",
                //     type: "generate_report",
                //     interval: interval,
                //     currency: currency,
                //     dateRange: dateRange,
                //     timePeriod: timePeriod,
                // },
                success: function(data) {
                    // console.log(data);
                    $('#data-block').removeClass("hide");
                    var text = data.rangeFrom + ' - ' + data.rangeTo
                    var currencyArr = data.currencyCode;
                    $('#period').text(text);
                    var marketStr = "";
                    if (marketArray) {
                        marketStr = marketArray.join(", ");
                    }
                    $('#market').text(marketStr);
                    var deviceStr = "";
                    if (deviceArray) {
                        deviceStr = deviceArray.join(", ");
                    }
                    $('#device').text(deviceStr);
                    var channelStr = "";
                    if (channelArray) {
                        channelStr = channelArray.join(", ");
                    }
                    $('#channel').text(channelStr);
                    $('#currency').text(data["currency"]);
                    var currencyOverall = data["currency"];
                    // if (currencyOverall === "Local") {
                    //     $('#currency').text(data["currency"]);
                    // }

                    $("#user_list_tbody").empty();
                    var data = data.data;
                    var totalRegister = 0;
                    var totalFtd = 0;
                    var totalActive = 0;
                    var totalGGR = 0;
                    var totalTurnOver = 0;
                    var totalDeposit = 0;
                    var totalWithdraw = 0;
                    var totalBonus = 0;
                    var totalNgr = 0;
                    var averageFtdRatio = 0;
                    
                    for (var i = 0; i < data.length; i++) {
                        var content = "";
                        var date = data[i]["date_time"];
                        var entries = data[i];
                        content = "<tr>";
                        content = content + "<td>" + date + "</td>";
                        var firstRow = true;
                        // console.log(typeof(entries));
                        if (typeof entries === 'object') {
                            for (const [index, [key, value]] of Object.entries(Object.entries(entries))) {
                                // console.log(currency)
                                var currency = key;
                                if (key === "date_time") {
                                    continue;
                                }
                               
                                if (!firstRow) {
                                    content = content + "<td></td>";
                                }
                                var ftdTimes = value["ftd_times"];
                                var registerTimes = value["register_times"];
                                var ftdRatio = value["ftd_register_ratio"];
                                var withdrawAmt = value["withdraw_amount"];
                                var depositAmt = value["deposit_amount"];
                                
                                content = content + "<td>market</td>";
                                if (currencyOverall !== "Local") {
                                    content = content + "<td>" + currencyOverall + "</td>";
                                } else {
                                    content = content + "<td>" + currency + "</td>";
                                }
                                // content = content + "<td>" + currency + "</td>";
                                content = content + "<td>" + registerTimes + "</td>";
                                content = content + "<td>" + ftdTimes + "</td>";
                                content = content + "<td>100</td>";
                                content = content + "<td>799</td>";
                                content = content + "<td>799</td>";
                                content = content + "<td>" + depositAmt + "</td>";
                                content = content + "<td>" + withdrawAmt + "</td>";
                                content = content + "<td>799</td>";
                                content = content + "<td>799</td>";
                                content = content + "<td>" + ftdRatio + "</td>";
                                content += '</tr>';
                                firstRow = false;
                                totalRegister = totalRegister + registerTimes;
                                totalFtd = totalFtd + ftdTimes;
                                totalDeposit = totalDeposit + depositAmt;
                                totalWithdraw = totalWithdraw + withdrawAmt;
                                averageFtdRatio = averageFtdRatio + ftdRatio;
                            }
                            $("#user_list_tbody").append(content);
                        }
                        // var ftdRatio = data[i]["ftd_register_ratio"];
                        // var ftdTimes = data[i]["ftd_times"];
                        // var registerTimes = data[i]["register_times"];
                        // var withdrawAmt = data[i]["withdraw_amount"];
                        // content = "<tr>";
                        // content = content + "<td>" + date + "</td>";
                        // content = content + "<td>market</td>";
                        // content = content + "<td>currency</td>";
                        // content = content + "<td>" + registerTimes + "</td>";
                        // content = content + "<td>" + ftdTimes + "</td>";
                        // content = content + "<td>100</td>";
                        // content = content + "<td>799</td>";
                        // content = content + "<td>799</td>";
                        // content = content + "<td>" + depositAmt + "</td>";
                        // content = content + "<td>" + withdrawAmt + "</td>";
                        // content = content + "<td>799</td>";
                        // content = content + "<td>799</td>";
                        // content = content + "<td>" + ftdRatio + "</td>";
                        // content += '</tr>';
                        // $("#user_list_tbody").append(content);
                        // totalRegister = totalRegister + registerTimes;
                        // totalFtd = totalFtd + ftdTimes;
                        // totalDeposit = totalDeposit + depositAmt;
                        // totalWithdraw = totalWithdraw + withdrawAmt;
                        // averageFtdRatio = averageFtdRatio + ftdRatio;
                    }
                    averageFtdRatio = averageFtdRatio / data.length;
                    var context = "";
                    context = context + "<td></td><td></td><td>total:</td>";
                    if ((currencyOverall === "Local" && marketArray.length === 1) || currencyOverall !== "Local") {
                        context = context + "<td>" + totalRegister + "</td>";
                        context = context + "<td>" + totalFtd + "</td>";
                        context = context + "<td>" + totalActive + "</td>";
                        context = context + "<td>" + totalGGR + "</td>";
                        context = context + "<td>" + totalTurnOver + "</td>";
                        context = context + "<td>" + totalDeposit.toFixed(2) + "</td>";
                        context = context + "<td>" + totalWithdraw.toFixed(2) + "</td>";
                        context = context + "<td>" + totalBonus + "</td>";
                        context = context + "<td>" + totalNgr + "</td>";
                        context = context + "<td>" + averageFtdRatio + "</td>";
                    }

                    $("#user_list_tbody").append(context);
                    if (currencyOverall === "Local") {
                        $('#currency').text(currencyArr.join(", "));
                    }
                }
            });

        }
    })

    
});


</script>
{% endblock %}