{% extends 'xadmin/base_site.html' %}

<!-- <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    
    <!-- Add additional CSS in static file -->
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head> -->

{% block content-nav %}
{% endblock %}

{% block content %} 
    <!-- <div class="row"> -->
        <div class="row">
            <div class="col-md-5 user_detail_section module_half_width rcorners left_margin">
                <div class="user_detail_section_title module_title">
                    Member details
                </div>
                <div class="section_body">
                    <div class="row">
                            <div class='col-md-6'>photo</div>
                            <div class='col-md-6'>
                                <input type="hidden" id="hidden_user_id" value="{{ customuser.pk }}"></input>
                                <div><span>Member ID</span><span class="detail_info">{{ customuser.pk }}</span></div>
                                <div><span class="detail_title">Username</span><span>{{ customuser.username }}</span></div>
                                <div><span>First Name</span><span>{{ customuser.first_name }}</span></div>
                                <div><span>Last Name</span> <span>{{ customuser.last_name }}</span></div>
                                <div><span>Email</span><span>{{ customuser.email }}</span></div>
                                <div><span>Phone</span><span>{{ customuser.phone }}</span></div>
                                <div><span>Birthday</span><span>{{ customuser.date_of_birth }}</span></div>
                                <div><span>Address</span><span>{{ customuser.street_address_1 }}</span><span>{{ customuser.city }}</span><span>{{ customuser.state }}</span><span>{{ customuser.zipcode }}</span></div> 
                            </div>
                    </div>
                    <div class="row">
                            <hr>
                    </div>
                    <div class="row" style="padding: 5%;">
                        <!-- <div class='col-md-6'> -->
                            <label>Last Login Time</label>
                            <div class='row'>
                                <div class='col-md-4'>
                                    <div>TIME</div>
                                    {% if customuser.last_login_time %}
                                        <div class='user_detail_block'>{{ customuser.last_login_time }}</div>
                                    {% else %}
                                        <div class='user_detail_block'>None</div>
                                        {% endif %}
                                </div>
                                <div class='col-md-4'>
                                    <div>LOCATION</div>
                                    {% if customuser.id_location %}
                                        <div class='user_detail_block'>{{ customuser.id_location }}</div>
                                    {% else %}
                                        <div class='user_detail_block'>None</div>
                                    {% endif %}
                                </div>
                                <div class='col-md-4'>
                                    <div>IP ADDRESS</div>
                                    {% if userLastIpAddr.ip_addr %}
                                        <div class='user_detail_block'>{{ userLastIpAddr.ip_addr }}</div>
                                    {% else %}
                                        <div class='user_detail_block'>None</div>
                                    {% endif %}
                                </div>
                                    
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="row" style="padding: 5%;">
                        <label style="margin-top: 3%;">ACCOUNT CREATION</label>
                        <div class='row'>
                            <div class='col-md-4'>
                                <div>TIME</div>
                                <div class='user_detail_block'>{{ customuser.time_of_registration }}</div>
                            </div>
                            <div class='col-md-4'>
                                <div>LOCATION</div>
                                {% if customuser.id_location %}
                                    <div class='user_detail_block'>{{ customuser.id_location }}</div>
                                {% else %}
                                <div class='user_detail_block'>None</div>
                                {% endif %}
                            </div>
                            <div class='col-md-4'>
                                <div>SOURCE</div>
                                <div class='user_detail_block'>{{ customuser.get_user_attribute_display }}</div>
                            </div>   
                        </div>
                        <div class='row' style="padding-top:2%;">
                            <div class='col-md-4'>
                                <div>VERIFICATION TIME</div>
                                <div class='user_detail_block'>{{ customuser.verfication_time }}</div>
                            </div>
                            <div class='col-md-4'>
                                <div>FIRST DEPOSIT</div>
                                <div class='user_detail_block'>{{ customuser.ftd_time }}</div>
                            </div>
                        </div>
                    </div>
                        
                    <div class='row' style="padding-left:5%; padding-bottom: 5%">
                        <div class='col-md-2'>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_details">Edit details</button>
                        </div>
                        <div class='col-md-2'>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login_history">Login history</button>
                        </div>
                    </div>
        
                    <div class="modal fade" id="edit_details" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit member details</h4>
                                    <!-- <h6 style="float: right;">Update Time:</h6> -->
                                </div>
                                <div class="modal-body">
                                    <div class='row'>
                                        <form action="{% url 'xadmin:user_detail' %}" method="POST">
                                            {% csrf_token %}
                                            <div class='col-md-6'>
                                                <input type="hidden" name="type" value="edit_user_detail"></input>
                                                <input type="hidden" name="user_id" value="{{ customuser.pk }}"></input>
                                                <div class="form-group">
                                                    <label for="member_id">MEMBER ID</label>
                                                    <input class="form-control" name="member_id" value="{{ customuser.pk }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="username">USERNAME</label>
                                                    <input class="form-control" name="username" value="{{ customuser.username }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="first_name">FIRST NAME</label>
                                                    <input class="form-control" name="first_name" value="{{ customuser.first_name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="last_name">LAST NAME</label>
                                                    <input class="form-control" name="last_name" value="{{ customuser.last_name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">EMAIL</label>
                                                    <input type='email' class="form-control" name="email" value="{{ customuser.email }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">PHONE</label>
                                                    <input class="form-control" name="phone" value="{{ customuser.phone }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="birthday">BIRTHDAY</label>
                                                    <input class="form-control" name="birthday" value="{{ customuser.date_of_birth }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="address">ADDRESS</label>
                                                    <input class="form-control" name="address" value="{{ customuser.street_address_1 }}">
                                                    <input class="form-control" name="city" value="{{ customuser.city }}">
                                                    <input class="form-control" name="zipcode" value="{{ customuser.zipcode }}">
                                                    <input class="form-control" name="country" value="{{ customuser.country }}">
                                                </div>
                                                <div>&nbsp;</div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                            </div>
                                            <div class="col-md-6">
                                                <input id='hidden_input_img' type='file' accept='image/*' style='display: none;' onchange="chooseFile(event);">
                                                {% if customuser.photoId %}
                                                <img id="user_photo_img" src="{% static 'customuser.photoId' %}">
                                                {% else %}
                                                <img id="user_photo_img" src="http://placehold.it/200" alt="User ID Photo">
                                                {% endif %}
                                                <input type="hidden" name='user_ip_img' id="hidden_user_ip_url">
                                                <div>&nbsp;</div>
                                                <div class="row">
                                                    <div class='col-md-8'>
                                                        <button type="button" class="btn btn-primary" onclick="clickUploadImg();">Upload new document</button>
                                                    </div>
                                                    <div class='col-md-4'>
                                                        <button type="button" class="btn btn-default" style="background-color:rgb(199, 89, 82)" onclick="clearImg();">
                                                            <span class="glyphicon glyphicon-trash" style='color:white'></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> -->
                            </div>
                            
                        </div>
                    </div>
        
                    <div class="modal fade" id="login_history" role="dialog">
                            <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Login history</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                <th scope="col">Time</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">IP address</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for login in userLoginActions %}
                                                <tr>
                                                <td>{{ login.created_time }}</td>
                                                <td>Location</td>
                                                <td>{{ login.ip_addr }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div> -->
                                </div> 
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 user_detail_section module_half_width left_margin rcorners">
                <div class="notes_section_title module_title">
                    Notes
                </div>
                <div class="section_body">
                    <div class="row">
                        <div class='col-md-6'>photo</div>
                        <div class='col-md-6'>
                            <p>Member ID: {{ customuser.pk }}</p>
                            <p>Username: {{ customuser.username }}</p>
                            <p>First Name : {{ customuser.first_name }}</p>
                            <p>Last Name : {{ customuser.last_name }}</p>
                            <p>Email : {{ customuser.email }}</p>
                            <p>Phone : {{ customuser.phone }}</p>
                            <p>Birthday : {{ customuser.date_of_birth }}</p>
                            <p>Address : {{ customuser.street_address_1 }} {{ customuser.city }} {{ customuser.state }} {{ customuser.zipcode }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 user_detail_section module_half_width left_margin rcorners" style='margin-top:20px'>
                <div class="funds_section_title module_title">
                    Funds Status
                </div>
                <div class="section_body">
                    <div class="row" style="margin: 5%;">
                        <div class='col-md-3'>
                            <label>MAIN</label>
                            <label>ACCOUNT BALANCE</label>
                            <!-- <div class='user_detail_block'>
                                {{ customuser.main_wallet}}
                            </div> -->
                        </div>
                        <div class='col-md-3'>
                            <label>AVAILABLE FOR</label>
                            <label>WITHDRAW</label>
                            <!-- <div class='user_detail_block'>
                                {{ customuser.main_wallet}}
                            </div> -->
                        </div>
                        <div class='col-md-3'>
                            <label>MIN/MAX</label>
                            <label>WITHDRAW</label>
                            <!-- <div class='user_detail_block'>
                                NO LIMIT
                            </div> -->
                        </div>
                        <div class='col-md-3'>
                            <label>BONUS</label>
                            <label>AMOUNT</label>
                            <!-- <div class='user_detail_block'>
                                NO LIMIT
                            </div> -->
                        </div>
                    </div>
                    <div class="row" style="margin: 5%;">
                        <div class='col-md-3'>
                            <div class='user_detail_block'>
                                $ {{ customuser.main_wallet}}
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='user_detail_block'>
                                $ {{ customuser.main_wallet}}
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='user_detail_block'>
                                NO LIMIT
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='user_detail_block'>
                                NO LIMIT
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label style="margin-left: 10%;">BALANCE PER PRODUCT</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>GB SPORTS</label>
                            <div></div>
                        </div>
                        <div class="col-md-4">
    
                        </div>
                        <div class="col-md-4">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='user_detail_section rcorners left_margin' style="margin-right:25px;  margin-top: 25px;">
                <div class="trans_section_title module_title">
                    Transaction History
                </div>
                <div class="section_body">
                    <div class="row" style="margin: 15px;">
                        <div class='col-md-6' style="padding: 0px;">
                            {% block time_search %}
                            <div>DATE RANGE</div>
                            <div class="row">
                                <div class='col-md-4'>
                                    <div class='input-group date' id='transaction_time_from'>
                                        <input type='text' class="form-control" placeholder="From" id='transaction_time_from_input' />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='input-group date' id='transaction_time_to'>
                                        <input type='text' class="form-control" placeholder="To"  id='transaction_time_to_input'/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <button id="transaction_time_submit" type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                            {% endblock %}
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <div class='col-md-6'>
                                    <div>PRODUCT</div>
                                        <select class="form-control" id="transaction_product_select">
                                            <option value="all">all</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                </div>
                                <div class='col-md-6'>
                                    <div>CATEGORY</div>
                                    <select class="form-control" id="transaction_category_select">
                                        <option value="all">all</option>
                                        <option value="0">Deposit</option>
                                        <option value="1">Withdraw</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" id="no_data_error">
                            <!-- <p>No transaction at this range</p> -->
                        </div>
                    </div>
                    <label style="margin:15px">TRNASACTION LAST 7 DAYS</label>
                    <div class="row" style="margin-left:15px;margin-right:25px">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">CATEGORY</th>
                                    <!-- <th scope="col">PRODUCT</th> -->
                                    <th scope="col">TIME</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">BALANCE</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="transaction_tbody">
                                {% for trans in userTransactions %} 
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ trans.get_transaction_type_display }}</td>
                                    <!-- <td>{{ trans }}</td> -->
                                    <td>{{ trans.request_time }}</td>
                                    <td>{{ trans.amount }}</td>
                                    <td>{{ trans.amount }}</td>
                                    <td>{{ trans.get_status_display }}</td>
                                    {% if trans.transaction_type == 0 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_deposit_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 1 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_withdrawal_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 2 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bet_placed_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 3 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bet_settled_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 4 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_trans_in_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 5 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_trans_out_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 6 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bonus_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% elif trans.transaction_type == 7 %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_adjustment_detail"><span class="glyphicon glyphicon-search"></span></button></td>
                                    {% endif %}
                                </tr>
                                <div class="modal fade" id="trans_deposit_detail" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Deposit Detail</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <p>Client Name </p>
                                                        <p>Transaction Number </p>
                                                        <p>Time of application </p>
                                                        <p>Account Time </p>
                                                        <p>Approver </p>
                                                        <p>Bank/Branch </p>
                                                        <p>Receive Bank </p>
                                                        <p>Apply amount </p>
                                                        <p>Arrive amount </p>
                                                        <p>Status </p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>{{ customuser.username }}</p>
                                                        <p>{{ trans.transaction_id }}</p>
                                                        <p>{{ trans.request_time }}</p>
                                                        <p>{{ trans.request_time }}</p>
                                                        <p>/</p>
                                                        <p>{{ trans.channel }} </p><p>{{ trans.method }}</p>
                                                        <p>/</p>
                                                        <p>{{ trans.amount }}</p>
                                                        <p>{{ trans.amount }}</p>
                                                        <p>{{ trans.get_status_display }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="modal fade" id="trans_withdrawal_detail" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Withdrawal Detail</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <p>Client Name </p>
                                                        <p>Transaction Number </p>
                                                        <p>Time of application </p>
                                                        <p>Account Time </p>
                                                        <p>Bank/Branch </p>
                                                        <p>Receive Bank </p>
                                                        <p>Assignment error</p>
                                                        <p>Bank Account</p>
                                                        <p>Channel Name</p>
                                                        <p>Apply amount </p>
                                                        <p>Arrive amount </p>
                                                        <p>Surcharge </p>
                                                        <p>Time of Audit </p>
                                                        <p>Auditor </p>
                                                        <p>Audi Memo </p>
                                                        <p>Status </p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <p>{{ customuser.username }}</p>
                                                        <p>{{ trans.transaction_id }}</p>
                                                        <p>{{ trans.request_time }}</p>
                                                        <p>{{ trans.request_time }}</p>
                                                        <p>{{ trans.channel }} </p><p>{{ trans.method }}</p>
                                                        <p>/</p>
                                                        <p>/</p>
                                                        <p>/</p>
                                                        <p>{{ trans.channel }} </p>
                                                        <p>{{ trans.amount }}</p>
                                                        <p>{{ trans.amount }}</p>
                                                        <p>fee</p>
                                                        <p>/</p>
                                                        <p>/</p>
                                                        <p>/</p>
                                                        <p>{{ trans.get_status_display }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="modal fade" id="trans_bet_placed_detail" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Deposit Detail</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p>Client Name </p>
                                                            <p>Transaction Number </p>
                                                            <p>Time of application </p>
                                                            <p>Account Time </p>
                                                            <p>Approver </p>
                                                            <p>Bank/Branch </p>
                                                            <p>Receive Bank </p>
                                                            <p>Apply amount </p>
                                                            <p>Arrive amount </p>
                                                            <p>Status </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{ customuser.username }}</p>
                                                            <p>{{ trans.transaction_id }}</p>
                                                            <p>{{ trans.request_time }}</p>
                                                            <p>{{ trans.request_time }}</p>
                                                            <p></p>
                                                            <p>{{ trans.channel }} </p><p>{{ trans.method }}</p>
                                                            <p>/</p>
                                                            <p>{{ trans.amount }}</p>
                                                            <p>{{ trans.amount }}</p>
                                                            <p>{{ trans.get_status_display }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                </div>
                                <div class="modal fade" id="trans_bet_settled_detail" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Deposit Detail</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p>Client Name </p>
                                                            <p>Transaction Number </p>
                                                            <p>Time of application </p>
                                                            <p>Account Time </p>
                                                            <p>Approver </p>
                                                            <p>Bank/Branch </p>
                                                            <p>Receive Bank </p>
                                                            <p>Apply amount </p>
                                                            <p>Arrive amount </p>
                                                            <p>Status </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{ customuser.username }}</p>
                                                            <p>{{ trans.transaction_id }}</p>
                                                            <p>{{ trans.request_time }}</p>
                                                            <p>{{ trans.request_time }}</p>
                                                            <p></p>
                                                            <p>{{ trans.channel }} </p><p>{{ trans.method }}</p>
                                                            <p>/</p>
                                                            <p>{{ trans.amount }}</p>
                                                            <p>{{ trans.amount }}</p>
                                                            <p>{{ trans.get_status_display }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class='col-md-1' style="margin-top: 20px;">
                                <input type="hidden" id="hidden_row" value="0"></input>
                                <select id="pagination_value"  class="form-control">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="250">250</option>
                                </select>
                            </div>
                            <div class='col-md-4'>
                                <ul class="pagination">
                                    <li class="page-item disabled" id='previousPage'>
                                    <a class="page-link" href="javascript:getPrevious();" tabindex="-1"><i class='fas fa-caret-left'></i></a>
                                    </li>
                                    {% if isLastPage is True %}
                                    <li class="page-item disabled" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
                                    {% else %}
                                    <li class="page-item" id='nextPage'><a class="page-link" href="javascript:getNext();"><i class='fas fa-caret-right'></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <a class="btn btn-primary" role="button" href="{% url 'xadmin:user_list' %}">BACK</a>
    <!-- </div> -->

<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet"/> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>

// $('#datetimepicker1').datetimepicker();

$(document).ready(function() {
    var csrftoken = $.cookie("csrftoken");
    // console.log(csrftoken);

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    chooseFile = function (event) {
        // $("#fileInput").click();
        // let val = $("#fileInput").val();
        // console.log(val);
        // $('image').attr(src) = val;
        var input = event.target;
        // $('#user_photo_img').css('display', 'none');

        var reader = new FileReader();
        reader.onload = function(){
            var dataURL = reader.result;
            var output = document.getElementById('user_photo_img');
            output.src = dataURL;
            $('#hidden_user_ip_url').attr('value', dataURL);
        };
        reader.readAsDataURL(input.files[0]);
        
        $('#user_photo_img').css('width', '200px');
        $('#user_photo_img').css('height', '200px');
   }

   clickUploadImg = function () {
        $('#hidden_input_img').click();
   }

   clearImg = function() {
        $('#user_photo_img').attr('src', 'http://placehold.it/200');
   }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function () {
        $('#transaction_time_from').datepicker({ 
        autoclose: true, 
        todayHighlight: true
        }).val('');
        $('#transaction_time_to').datepicker({ 
        autoclose: true, 
        todayHighlight: true
        }).val('');
    });
    
    var user_id = $('#hidden_user_id').val();
    // console.log(user_id)

    $('#transaction_time_submit').click( function(e) {
        e.preventDefault();

        $('#hidden_row').val(0);
        getTransactions(0);
    });

    $('#transaction_category_select').change(function() { 
        $('#hidden_row').val(0);
        getTransactions(0);
    });

    $('#pagination_value').on('change', function() {
        $('#hidden_row').val(0);
        getTransactions(0);
    });

    getNext = function() {
        if ($('#nextPage').hasClass('disabled')) {
            return;
        }
        var pageSize = $("#pagination_value").val();
        var oldFromItem = $('#hidden_row').val();
        var newFromItem = Number(oldFromItem) + Number(pageSize);
        $('#hidden_row').val(newFromItem);
        getTransactions(newFromItem);
       
    }

    getPrevious = function () {
        if ($('#previousPage').hasClass('disabled')) {
            return;
        }
        var pageSize = $("#pagination_value").val();
        var oldFromItem = $('#hidden_row').val();
        var newFromItem = Number(oldFromItem) - Number(pageSize);
        $('#hidden_row').val(newFromItem);
        getTransactions(newFromItem);
    }
});

function getTransactions(fromItem) {

    var user_id = $('#hidden_user_id').val();

    var time_from = $('#transaction_time_from_input').val();
    // console.log(time_from);
    time_from = moment(time_from).format('YYYY-MM-DD HH:mm');
    // time_from = time_from.format('YYYY-MM-DD HH:mm');
    var time_to = $('#transaction_time_to_input').val();
    // console.log(time_to);
    time_to = moment(time_to).format('YYYY-MM-DD HH:mm');

    var category = $('#transaction_category_select').val();

    var pageSize = $("#pagination_value").val();

    $.ajax({
        type:'POST',
        url:"{% url 'xadmin:user_detail' %}",
        data:{ 
            'type': 'get_user_transactions',
            'user_id': user_id,
            'from': time_from,
            'to': time_to,
            'fromItem': fromItem,
            'pageSize': pageSize,
            'transaction_category': category
        },
        success:function(data) {

            // console.log(data);
            getTransData(data);
        }
    });
}

function getTransData(data) {

    if (data['isLastPage']) {
        $('#nextPage').addClass('disabled');
    } else {
        $('#nextPage').removeClass('disabled');
    }
    if (data['isFirstPage']) {
        $('#previousPage').addClass('disabled');
    } else {
        $('#previousPage').removeClass('disabled');
    }
    var data = data['transactions'];
    $("#transaction_tbody").empty();
    for (var i = 0; i < data.length; i++) {
        var fields = data[i].fields;
        var time = moment(fields.request_time).format('MMMM, D, YYYY h:mm a');
        // time = time.format();
        var content = '';
        content += '<tr>';
        content += '<th scope="row">' + (i+1) + '</th>';
        if (fields.transaction_type == 0) {
            content +=  '<td>Deposit</td>';
        } else if (fields.transaction_type == 1) {
            content +=  '<td>Withdraw</td>';
        }
        // content += '<td>' + fields.transaction_type + '</td>';
        content += '<td>' + time + '</td>';
        content += '<td>' + fields.amount + '</td>';
        content += '<td>' + fields.amount + '</td>';
        content += '<td>' + fields.status + '</td>';
        if (fields.transaction_type == 0) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_deposit_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 1) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_withdrawal_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 2) { 
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bet_placed_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 3) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bet_settled_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 4) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_trans_in_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 5) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_trans_out_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_type == 6) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_bonus_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            } else if (fields.transaction_tyep == 7) {
                content += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trans_adjustment_detail"><span class="glyphicon glyphicon-search"></span></button></td>';
            }
        content += '</tr>';
        $("#transaction_tbody").append(content);
    }
}

</script>


{% endblock %}
