.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }

  .hide {
    display: none;
 }
  

.multiselect {
    width: 185px !important;
}


.multiselect-container>li>a>label {
padding: 4px 20px 3px 20px;
}

.wrapper {
    width: 1125px;
    overflow-x: scroll;
    white-space: nowrap;
}

.wrapper table {
    white-space: nowrap;
}

.toggle-padding {
    padding: 6px 7px;
}

.interval-padding {
    padding: 6px 13px;
}