.overview-subtitle {
    font-size: 11px;
}

table.dataTable {
    border-spacing: 0;
}

.datatable table thead tr th {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.table-block {
    background-color: rgb(243, 243, 243); 
    margin-right: 5px;
    height: 84px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.affliates-count-font {
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.affliates-count-ftd-title {
    margin-left: 5px;
}

.active-ggr-title {
    margin-left: -17px;
}

.affliates-acquired-title {
    margin-left: 50px;
    width: 20%;
}

.affliates-count-block {
    margin-left:20px;
    width:25%;
}

.ftd-active-block {
    width:15%;
    text-align: center;
    vertical-align: middle;
    line-height: 42px; 
}

.ggr-acquired-block {
    width:20%;
    text-align: center;
    vertical-align: middle;
    line-height: 42px; 
}

.first-row {
    margin-bottom: 20px;
}

#audit-affiliate-application-btn, #audit-commission-btn {
    height: 100%;
    width: 100%;
    background-color: #428bca;
    color: #ffffff;
}

#audit_commission_pop {
    width: 80%;
}

.commission-info {
    margin: 20px;
    background-color:rgb(243, 243, 243);
    padding: 10px;
}

#commission-audit-button {
    margin-left: 200px;
    padding-bottom: 4px;   
}

#commission_detail {
    margin-bottom: 50px;
}

.commission_detail {
    padding-left: 15px;
    padding-top: 20px;
}
.commission_status {
    padding-left: 15px;
    padding-top: 20px;
}

.panel-default > .panel-heading-custom {
    background: #ffa313; color: #fff; 
}
.panel-default > .panel-heading-custom_perfomance {
    background: #bc6ccc; color: #fff; 
}
.panel-default > .panel-heading-custom_activity {
    background: #588ebd; color: #fff; 
}

/* Affiliate application pop up */

#audit_affiliate_app_pop {
    width: 50%;
}

.user-application-info {
    margin: 10px;
}

#affiliate_application_remark {
    width: 95%;
    height: 80px;
    display: block;
}





.agent_detail {
    padding-left: 15px;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f3f3f3;
}


#user-photo-id {
    max-width: 100%;
    max-height: 100%;
}

.zoom-btn {
    position: absolute;
    top: 75%;
    left: 75%;
    background: transparent;
    border: transparent;
    color:white;
}

.panel-default > .panel-affiliate-heading {
    background: #ffa313; color: #fff; 
}

#audit_affiliate_commission_pop .modal-header{
    background: #ffa313; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.dowline_col_style {
    font-size: 13px;
    margin-right: 3px;
}

.activity_type {
    margin-top: 10px;
    margin-left: 20px;
}

.activity_dropdown_style {
    width:40%;
    border-color: #4a4a4a;
    text-align: left;
}

.line {
    width: 95%;
    border-radius: 4px;
    border: solid 1px #bdbdbd;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}



.model-text-style{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.edit-affiliate-detail-title {
    background: #ffa313; 
    color: #fff; 
    height:30px; 
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.table-title {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    width: 100%;
}



.block_style {
    background-color: rgb(243, 243, 243);
    height: 80px;
    margin-left: 5px;
    line-height: 75px; 
    text-align: center; 
    overflow: hidden;
}

ul.ui-autocomplete {
    z-index: 1100;
}





/* Affiliate Detail Page */

/* affiliate details */

.panel-style {
    padding: 0px; 
    margin: 20px; 
    width: 46%;
    float:left; 
}

.affiliates_detail_commission {
    background-color: #f3f3f3;
    font-size: 13px;
    padding: 12px;
}

.affiliates_detail_commission .row{
    margin-bottom: 5px;
}


.affiliate_details_title {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.affiliate_details_commission_levels {
    font-size: 10px;
}

#edit_affiliate_details {
    width: 50%;
}

.commission_levels {
    margin-left: 15px;
    margin-bottom: 20px;
}

.commission_levels .row{
    margin-top: 20px;
}

.commission_levels label{
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
#commission_level_label {
    font-family: Helvetica;
    font-size: 18px;
}
.commission_levels .row div{
    padding: 5px;
}

.affiliate-audit-btn-group {
    margin-left: 0px;
    margin-top: 20px;
}


.dowline_col_style {
    font-size: 13px;
    margin-right: 3px;
}

#downline_list_table, #channel_report_table, #platform_winloss_table {
    width: 100%;
}
#platform_winloss_table {
    margin-left: 20px;
}

#downline_list_table_wrapper, #channel_report_table_wrapper, #platform_winloss_table_wrapper .dt-buttons{
    margin-left: 20px;
}

#downline_list_table, #channel_report_table, #platform_winloss_table, #affiliate-monthly-commission-table thead {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

#make_adjustment_details p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
}

#audit_affiliate_commission_pop {
    width: 70%;
}

#audit_affiliate_commission_pop .dt-buttons {
    margin-bottom: -20px;
}

.promotion-link {
    background-color: #f3f3f3; 
    width: 80%; 
    height: 30px; 
    margin-left: 1px;
}

.promotion-link button {
    height: 30px;
    margin: 0px;
    margin-left: 2px;
    line-height: 15px;
    float: right;
}
.promotion-link .col-md-5 {
    padding-right: 0px;
}

#affiliate_channels_details .modal-header{
    background: #ffa313;
    color: #fff;
}

#affiliate_channels_details .modal-body>div:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.commission_level {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activity_detail {
    border-top: 1px solid; 
    overflow-y: auto; 
    height:807px;
}