.dataTables_filter input {
    width: 350px;
    height: 33px;
    border-radius: 4px;
    border: solid 1px #bdbdbd;
}

table.dataTable {
    border-spacing: 0;
}

.dataTables_filter {
    display: none;
}

.datatable table thead tr th {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.datatable table tbody tr td {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.dataTables_paginate {
    float: right;
}


.dataTables_paginate.paging_simple_numbers span{
    display: none
}

.paginate_button.previous {
    position:absolute;
    bottom: 28px;
    right: 49px;
}

.paginate_button.next {
    position:absolute;
    bottom: 28px;
    right: 16px;
}

.dataTables_info {
    position:absolute;
    bottom: 34.9px;
    right: 118px;
}


.dataTables_length label select{
    width: 82px;
    height: 33px;
    border-radius: 4px;
    border: solid 1px #bdbdbd;
    background-color: #ffffff;
    position: absolute;
    bottom: 28px;
    right: 201px;
}

.dt-buttons{
    width: 159px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    border: solid 1px #357ebd;
    background-color: #428bca;
    position: absolute;
    bottom: 25px;
}

.dt-buttons .dt-button.buttons-csv.buttons-html5{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.show-rows {
    width: 82px;
    height: 13px;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    position: absolute;
    bottom: 63px;
    right: 201px;
}

.paginate_button {
    margin-right: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

