.user-detail-section {
    /* border: 0.5px solid grey; */
    /* border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
    border-bottom: 0.5px solid grey; */
    padding: 0%;
    /* /* margin: 5px; */
    /* margin: 5px; */
    /* width:48%; */
    /* margin: 5%; */
    /* margin-left: 15px;
    margin-right: 20px; */
}

.user-detail-section-title {
    background-color: coral; 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-right:0.5px solid gray;
    border-left:0.5px solid gray;
    border-top:0.5px solid gray;
    padding: 5px;
}

.notes-section-title {
    background-color: lightskyblue; 
    border-right:0.5px solid gray;
    border-left:0.5px solid gray;
    border-top:0.5px solid gray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
}

.trans-section-title {
    background-color: green; 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-right:0.5px solid gray;
    border-left:0.5px solid gray;
    border-top:0.5px solid gray;
    padding: 5px;
}

hr {
    width:90%;
    /* border-color: gray; */
    /* border:1px solid grey; */
    border: 0; 
    border-top: 2px solid rgb(204, 204, 204);
}   

.detail-title {
    line-height: 2
}

.detail-info {
    margin-left:50px !important;
}

.funds-section-title {
    background-color: lightgreen; 
    border-right:0.5px solid gray;
    border-left:0.5px solid gray;
    border-top:0.5px solid gray;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.user-detail-block {
    background-color: rgb(243, 243, 243); 
    width:95%;
    padding:5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display:table-cell; */
    vertical-align:middle;
    text-align:center;
}

#user-photo-img {
    max-width: 250px;
    max-height: 200px;
}

.rcorners {
    border-radius: 5px;
    /* border: 2px solid grey; */
    /* padding: 20px;  */
}

.module-title {
    color: white;
    font-weight:900;
}

.module-half-width {
    width:48%;

}

.left-margin {
    margin-left: 15px;
}

.section-body {
    border: 0.5px solid grey;
    border-bottom-left-radius: 3px; 
    border-bottom-right-radius: 3px;
}

#user-photo-id {
    max-width: 100%;
    max-height: 100%;
}

.zoom-btn {
    position: absolute;
    top: 75%;
    left: 75%;
    background: transparent;
    border: transparent;
    color:white;
}


.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(230, 230, 230);
}

table.table-bordered{
    border:2px solid white;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid white;
}
table.table-bordered > tbody > tr > td{
    border:2px solid white;
}

#refresh-btn {
    display: inline-block; 
    border:1px solid grey; 
    padding-left:3px;
    padding-right:3px;
    padding-top:3px; 
    padding-bottom:1px;
    margin-left:5px;
    margin-right:2px;
    margin-top:2px;
    border-radius: 3px;
    background-color: white;
}


#select-row {
    margin-top: 20px;
    position: absolute;
    left:80%;
}

#pagination-btn {
    position: relative;
    left:90%;
}

