#deposit_request_pop, #withdraw_request_pop {
    width: 80%;
    height: 800px;
}

#deposit-request-button {
    margin-top: 25px;
}

#edit-pending-detail-btn {
    height: 100%;
    width: 100%;
    background-color: #428bca;
    color: #ffffff;
}

.btn-note {
    background-color: #72befb;
}
.btn-look {
    background-color: #428bca;
}

.deposit-request-details {
    background-color: #f3f3f3;
    margin-right: 25px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.withdraw-request-details {
    background-color: #f3f3f3;
    margin-right: 15px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    height: 123px;
}

.withdraw-request-title p {
    margin-bottom:15px;
}


/* other */


#edit-detail-btn {
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-bar {
    margin-top: 20px !important;
    margin-left: 0px !important;
    width: 99% !important;
}


#home-tab, .nav-item {
    font-family: Helvetica;
    font-weight: bold;
}


.detail-title-block {
    border-radius: 1px;
    border: solid 1px #bdbdbd;  
}


.edit-member-info-label {
    width: 219px;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 3px;
    margin-top: 13px;
}


.input-group-append {
    float: right,
}


/* Audit Deposit Request */

#trans_detail {
    background-color: #f3f3f3
}

.deposit-request-title, .withdraw-request-title, .channel-info{
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.panel-body{
    position: relative;
} 

.deposit-request-data, .withdraw-request-data, .channel-data {
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.deposit-request-word, .withdraw-request-word{
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    
}


/* channel list */
.remove-border {
    border: none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.edit-channel-btn {
    background-color: #428bca;
    width: 100%;
    color: #ffffff;
}

.channel-info-box {
    width: 97%;
    background-color: #f3f3f3;
    margin-bottom: 20px; 
    margin-left: 0px;
    padding-top: 10px;
}

.bridge {
    margin-bottom: 5%;
}

.limit-label {
    margin-top: 2%; 
    margin-left: 3%;
}

