{% extends 'xadmin/base_site.html' %}
{% block content-nav %}
{% endblock %}
{% block content %}

<h1>View Message</h1>
<table class="table table-bordered table-striped table-hover">
  <tr>
    <td>Subject</td>
    <td>{{ queryset.account_type }}</td>
  </tr>
  <tr>
    <td>Subject</td>
    <td>{{ queryset.subject }}</td>
  </tr>
  <tr>
    <td>Author</td>
    <td>{{ queryset.creator }}</td>
  </tr>
  <tr>
    <td>Sent at</td>
    <td>{{ queryset.publish_on }}</td>
  </tr>
  <tr>
    <td>Sent to</td>
    <td>{% if queryset.notifiers %}
          {{ queryset.notifiers }}
        {% elif queryset.topic %}
          {{ queryset.topic }}
        {% endif %}
    </td>
  </tr>
</table>
<hr/>
<label>MESSAGE BODY</label>
<textarea class="form-control" rows="10" readonly>
  {{ queryset.content_text }}
</textarea>
{% endblock %}